<div class="container mb-5 pb-5">
  <h1 class="my-5">Refund policy</h1>
  <h5 class="mb-3">Returns & Exchanges</h5>
  <p class="mb-2">
    All art sold on the website is non-refundable. We are happy to work with you to ensure that you are delighted with the piece you've chosen and we take
    extreme care to make sure that orders are correctly packed and the piece is in perfect condition. If the item received is damaged, you may be eligible for insurance claims.
  </p>
    <p>You can always contact us for any return/exchange question at <a style="display: inline" href="mailto:NFThelp@niftyrow.com"><strong>NFThelp@niftyrow.com</strong></a>  </p>
 </div>
