
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
   

    <div id="container_home">

        <div class="container-fluid mt-3 container-home" style="height: 100%; padding-left: 7rem;">
            <div class="row no-gutters">
                <div class="container mt-3">
                    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Slide Indicators -->
                    
                      
                  
                      <!-- The slides to show -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div  class="row">
                                <div class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: #CFB3A8; padding-left: 15px; height: 20rem; width: 100%;">
                                    <div class="hero-content w-100">
                                        <h2 class="text-white text-uppercase text-center text-lg-left hero-title">  
                                            Easily Buy and trade real estate assets securely on the digital blockchain
                                        </h2>
                                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                                            170 Developers
                                            | 900 + Assets
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7" style="padding-left: 0 !important;">
                                    <div class="overlay">
                                        <img class="img-fluid" src="/assets/img/unnamed.png">
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                           <div  class="row">
                                <div class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: #BCBD79; padding-left: 15px; height: 20rem; width: 100%;">
                                    <div class="hero-content w-100">
                                        <h3 class="text-white text-uppercase text-center text-lg-left hero-title">  
                                            Audit an asset's origin and ownership history while safe-guiding it from theft and fraud.
                                        </h3>
                                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                                            using a unique digital blockchain signature
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7" style="padding-left: 0 !important;">
                                    <div class="overlay">
                                        <img class="img-fluid" src="/assets/img/slide2.png">
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                      </div>
                  
                      <!--  Controls (Left and right) -->
                      <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                  </div>
               
            
            </div>
            
        </div>


        <div class="container-fluid container-lg container-home">
            <p class="text-uppercase small font-weight-medium">
                Primary market
            </p>
                <h2 class="text-uppercase font-weight-light">
                    New Projects
                </h2>
               
           
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%;">
                
                View more
            
            </a>
           
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; ">
                <mat-card (click)="viewBuy(item.tokenId, 'buyPage')" class="col-4 col-md-4 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <mat-card-subtitle style="text-align: center; color: black;">
                            Developer:  {{item.artistName}}
                          </mat-card-subtitle>
                        <div class="row">
                            <div class="col">
                               
                                  <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Project: </b> {{item.titleOfWork}}
                                  </p>

                                  <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Symbol: </b> {{item.symbol}}
                                  </p>
                                  
                            </div>
                            <div class="col">
                                <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Location: </b> Lagos
                                  </p>
                               
                                <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Price: </b> ${{item.price}}
                                  </p>
                            </div>
                        </div>
                        

                        
                        
                      </mat-card-content>
                </mat-card>
            </div>
    
        </div>

        <div class="container-fluid container-lg container-home">
          
            <p class="text-uppercase small font-weight-medium">
                secondary market
            </p>
            <h2 class="text-uppercase font-weight-light">
                Existing Projects
            </h2>
            <a (click)="goToAllAssets('secondary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%;">
                
                View more
            
            </a>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                <mat-card (click)="viewOrder(item.tokenId)" class="col-4 col-md-4 cover trend" *ngFor="let item of this.secondaryMarket  let i=index">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <mat-card-subtitle style="text-align: center; color: black;">
                            Developer:  {{item.artistName}}
                          </mat-card-subtitle>
                        <div class="row">
                            <div class="col">
                               
                                  <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Project: </b> {{item.titleOfWork}}
                                  </p>

                                  <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Symbol: </b> {{item.symbol}}
                                  </p>
                                  
                            </div>
                            <div class="col">
                                <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Location: </b> Lagos
                                  </p>
                               
                                <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                                    <b> Price: </b> ${{item.price}}
                                  </p>
                            </div>
                        </div>
                        
                        
                      </mat-card-content>
                </mat-card>
            </div>
    
        </div>

        <div class="container-fluid container-lg container-home">
          
            <p class="text-uppercase small font-weight-medium">
                Developers
            </p>
            <h2 class="text-uppercase font-weight-light">
                Featured Developers
            </h2>
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%;">
                
                View more
            
            </a>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                <mat-card class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                          <b> Developer: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Inter', serif; color: black;">
                          <b> No. of Assets: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                      </mat-card-content>
                </mat-card>
            </div>
           
    
        </div>

        

    </div>
   
    
        <app-footer></app-footer>

</div>

   
