
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="min-height: 100vh; height: 100%;">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">waves</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;">Approved Assets</p>
                            <h3 class="card-title" style="color: black;"> {{this.totalApproved}} </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="margin-bottom: 20px;">
                    <div class="card card-stats" style="background: white;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">info_outline</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;">Total Assets Owned</p>
                            <h3 class="card-title"  style="color: black;"> {{this.totalItems}} </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                                <i class="material-icons">local_offer</i> Total Assets
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">info_outline</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;">Total Assets Value</p>
                            <h3 class="card-title"  style="color: black;"> $3000 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                                <i class="material-icons">local_offer</i> Total value
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">call_made</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;">Recent Transaction Value</p>
                            <h3 class="card-title"  style="color: black;"> $3000 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>


            </div>
          
          <h2 class="text-uppercase font-weight-light">
              All My Artworks
          </h2>
          <div class="row" style="margin-top: 3rem; font-family: 'Playfair Display SC', serif;">
            <mat-tab-group style="align-items: center;  margin-left: 9rem; font-family: 'Playfair Display SC', serif;">

                <mat-tab label="Approved Assets">
                    <div class="table-responsive">
                        <table class="table table-hover" >
                          <thead class="text-success">
                            <th>Asset </th>
                            <th> Name of Artist </th>
                            <th> Title of Work </th>
                            <th>Total Supply</th>
                            <th>Price</th>
                            <th> Available Shares </th>
                         
                            <th> Symbol</th>
                          </thead>
                          <tbody *ngFor="let item of this.approved" >
                              <tr class="Table">
                                <td style="color: black; width: 20%;"> <img src="{{item.imageUrl}}" style="width: 40%;">   </td>
                                <td style="color: black;">{{item.artistName}}</td>
                                <td style="color: black;"> {{item.titleOfWork}} </td>
                                <td style="color: black;"> {{item.totalSupply}} </td>
                                <td style="color: black;"> {{item.price }} </td>
                                <td style="color: black;">  {{item.sharesAvailable}}</td>
                                
                                <td style="color: black;"> {{item.symbol}} </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </mat-tab>

                <mat-tab label="Unapproved Assets">
                    <div class="table-responsive">
                        <table class="table table-hover" >
                          <thead class="text-success">
                            <th>Asset </th>
                            <th> Name of Artist </th>
                            <th> Title of Work </th>
                            <th>Total Supply</th>
                            <th>Price</th>
                            <th> Available Shares </th>
                            <th>Issuing Price</th>
                            <th> Symbol</th>
                          </thead>
                          <tbody *ngFor="let item of this.unapproved" >
                              <tr class="Table">
                                <td style="color: black; width: 20%;"> <img src="{{item.imageUrl}}" style="width: 40%;">   </td>
                                <td style="color: black;">{{item.artistName}}</td>
                                <td style="color: black;"> {{item.titleOfWork}} </td>
                                <td style="color: black;"> {{item.totalSupply}} </td>
                                <td style="color: black;"> {{item.price }} </td>
                                <td style="color: black;">  {{item.sharesAvailable}}</td>
                                <td style="color: black;"> {{item.issuingPrice}} </td>
                                <td style="color: black;"> {{item.symbol}} </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </mat-tab>

                </mat-tab-group>
          </div>
  
        </div>

        <!-- <div class="container-fluid container-lg container-home">
                
            <p class="text-uppercase small font-weight-medium">
                other Assets
            </p>
            <h2 class="text-uppercase font-weight-light">
            Other Artworks on the primary market
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                <mat-card (click)="view(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div> -->


  
  
  
        
  
    </div>
    
    <app-footer></app-footer>
        
  
  </div>




  