//Styling for the thumbnails on NFT Card
.explore-artwork-creator .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .create-img .img-create {
    width: 40px;
    object-fit: cover;
    height: 43px;
    border-radius: 12px;
  }

  .explore-artwork-creator .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .hover-box .hover-box-inr .user-info .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  .explore-artwork-creator-dark .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .create-img .img-create {
    width: 40px;
    object-fit: cover;
    height: 43px;
    border-radius: 12px;
  }

  .explore-artwork-creator-dark .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .hover-box .hover-box-inr .user-info .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  .explore-artwork .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .create-img .img-create {
    width: 40px;
    object-fit: cover;
    height: 43px;
    border-radius: 12px;
  }

  .explore-artwork .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .hover-box .hover-box-inr .user-info .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  .explore-artwork-dark .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .create-img .img-create {
    width: 40px;
    object-fit: cover;
    height: 43px;
    border-radius: 12px;
  }

  .explore-artwork-dark .container-fluid .explore-artwork-inr .row-custom-main .tab-content .row-custom-inr .col-otr .col-inr .time-main .users-main .create-img-otr .hover-box .hover-box-inr .user-info .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  .creator-main .container-fluid .creator-main-inr .row-custom .creator-otr .create-inr .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  .creator-main-dark .container-fluid .creator-main-inr .row-custom .creator-otr .create-inr .create-img .img-create {
    width: 60px;
    object-fit: cover;
    height: 43px;
    border-radius: 16px;
  }

  // End of thumbnail styling for NFT cards