
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>

  <div id="container_home">

      <div class="container-fluid container-lg container-home" style="min-height: 100vh; height: 100%;">
          <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-11 col-md-11 col-sm-11">
              <div class="card">
                  <div class="card-header card-header-danger" style="background: black; text-align: center;">
                      <h4 class="card-title">Issue Asset</h4>
                      <p class="card-category" style="font-family: 'Playfair Display SC', serif;">Issue a new asset </p>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px;">

                    <mat-card *ngIf="this.image" class="col-lg-6 col-md-6 col-sm-6" style="font-family: 'Playfair Display SC', serif;">
                        <mat-card-content>
                                
                                    <img src="{{this.image}}" style="width: 90%;">

                                    <div class="row">

                                      <audio controls *ngIf="this.mp3">
                                        <source  type="audio/mpeg"  [src]="this.mp3" >
                                      </audio>

                                    </div>
                            
                        </mat-card-content>
                    </mat-card>


                    <mat-card class="col-lg-6 col-md-6 col-sm-6" style="font-family: 'Playfair Display SC', serif;">
                      <form [formGroup]="form"  (ngSubmit)="submit(radioGroup)">


                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Art Title:
                               </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;"> 
                                  <mat-icon matPrefix style="margin-right: 2rem ;">blur_linear</mat-icon>
                                  <input matInput type="text" id="artTitle" name="artTitle"  formControlName="artTitle">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Name of Artist:
                               </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                  <mat-icon matPrefix style="margin-right: 2rem ;">person_outline</mat-icon>
                                  <input matInput  type="text" id="artistName" name="artistName"  formControlName="artistName">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Asset Symbol:
                               </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                  <mat-icon matPrefix style="margin-right: 2rem ;">center_focus_weak</mat-icon>
                                  <input matInput  type="text" id="symbol" name="symbol"  formControlName="symbol">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Description:
                                </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                 
                                <mat-icon matPrefix style="margin-right: 2rem ;">dehaze</mat-icon>
                                <textarea  matInput type="text" id="description" formControlName="description" name="description">  </textarea>
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                            <div>

                              <mat-radio-group
                                aria-labelledby="example-radio-group-label"
                                class="example-radio-group"
                                #radioGroup="matRadioGroup"
                                style="color: black !important;">
                                <mat-radio-button class="example-radio-button" [value]="true" style="margin-left: 1rem; margin-right: 3rem;">
                                  Exclusive Asset
                                </mat-radio-button>
                                <mat-radio-button class="example-radio-button" [value]="false" style="margin-bottom: 3rem; color: black !important;">
                                  Non-Exclusive Asset
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>

                          </div>


                          <div class="row" *ngIf="radioGroup.value === true">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Quantity
                              </mat-label>
                                <mat-form-field disabled class="example-full-width" style="font-family: 'Cardo', serif;">
                          <mat-icon matPrefix style="margin-right: 2rem ;">hourglass_empty</mat-icon>
                                  <input matInput [readonly]="!editable" type="number" id="totalSupply" formControlName="totalSupply" name="totalSupply" placeholder="1" >
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row" *ngIf="radioGroup.value === false">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <mat-label style="color: black;">
                                Quantity:
                            </mat-label>
                              <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                <mat-icon matPrefix style="margin-right: 2rem ;">hourglass_empty</mat-icon>
                                <input matInput  type="number" id="totalSupply" formControlName="totalSupply" name="totalSupply" >
                              </mat-form-field>
                            </div>
                        </div>

                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Issuing Price:
                                </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                  <mat-icon matPrefix style="margin-right: 2rem ;">swap_horiz</mat-icon>
                                  <input matInput type="number" id="issuingPrice" formControlName="issuingPrice" name="issuingPrice">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row" *ngIf="radioGroup.value === false">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-label style="color: black;">
                                  Available Shares:
                               </mat-label>
                                <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                  <mat-icon matPrefix style="margin-right: 2rem ;">trending_up</mat-icon>
                                  <input matInput type="number" id="availableShares" formControlName="availableShares" name="availableShares">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row" *ngIf="radioGroup.value === true">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <mat-label style="color: black;">
                                Available Shares:
                            </mat-label>
                              <mat-form-field class="example-full-width" style="font-family: 'Cardo', serif;">
                                <mat-icon matPrefix style="margin-right: 2rem ;">trending_up</mat-icon>
                                <input matInput [readonly]="!editable" type="number" id="availableShares" formControlName="availableShares" name="availableShares" placeholder="1">
                              </mat-form-field>
                            </div>
                        </div>
                          

                          <div class="row">
                              <div class="col-lg-5 col-md-5 col-sm-5" style="font-family: 'Cardo', serif;">
                                  <input type="file" id="images" (change)="uploadFile($event)" #fileInput>
                              </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                              <button type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; margin-left: 5%; border-color: transparent;">
                
                                Issue Asset
                            
                            </button>
                            <button type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; margin-left: 25%; border-color: transparent;">
                  
                              Cancel
                          
                          </button>
                            </div>
                          <div class="clearfix"></div>
                      </form>
                  </mat-card>

                </div>
              </div>
          </div>


          </div>
        
         

          <div class="container-fluid container-lg container-home" style="padding-top: 5rem;">
            
            <p class="text-uppercase small font-weight-medium">
                issued
            </p>
            <h2 class="text-uppercase font-weight-light">
                My portfolio
            </h2>
            <div class="row" style="margin-top: 3rem;">
                <mat-card  class="col-3 col-md-3 cover trend" *ngFor="let item of this.assets  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Inter', serif;">
                          <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Inter', serif;">
                          <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                      </mat-card-content>
                </mat-card>
            </div>
    
          </div>

      </div>





      

  </div>
  
  <app-footer></app-footer>
      

</div>





  