<div class="container">
  <h1 class="my-5">Privacy Policy</h1>
  <p>
    This privacy policy applies between you, the User of this Website, and Metablocks Limited, the owner and provider of
    this
    Website. Metablocks Limited takes the privacy of your information very seriously. This privacy policy applies to our
    use of
    any and all Data collected by us or provided by you in relation to your use of the Website.
  </p>
  <h6>Please read this privacy policy carefully</h6>

  <h4 class="my-3">Definitions and interpretation</h4>

  <ol>
    <li class="mb-3" style="list-style: auto;">In this privacy policy, the following definitions are used:</li>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">Data</th>
        <td>collectively all information that you submit to Metablocks Limited via the Website. This definition
          incorporates, where applicable, the definitions provided in the Data Protection Laws;
        </td>
      </tr>
      <tr>
        <th scope="row">Data Protection Laws</th>
        <td>any applicable law relating to the processing of personal Data, including but not limited to the GDPR, and
          any national implementing and supplementary laws, regulations and secondary legislation;
        </td>
      </tr>
      <tr>
        <th scope="row">GDPR</th>
        <td>the UK General Data Protection Regulation;</td>
      </tr>
      <tr>
        <th scope="row">Metablocks Limited, we or us</th>
        <td>Metablocks Limited, a company incorporated 13728225 whose registered office is at 71-75 Shelton Street
          Covent Garden, London, WC2H 9JQ; in England and Wales with registered number 13728225 whose registered office
          is at 71-75 Shelton Street Covent Garden, London, WC2H 9JQ;
        </td>
      </tr>
      <tr>
        <th scope="row">User or you</th>
        <td>any third party that accesses the Website and is not either (i) employed by Metablocks Limited and
          acting in the course of their employment or (ii) engaged as a consultant or otherwise providing
          services to Metablocks Limited and accessing the Website in connection with the provision of such
          services; and
        </td>
      </tr>
      <tr>
        <th scope="row">Website</th>
        <td>the website that you are currently using, https://www.nitftyrow.io, and any sub-domains of this site
          unless expressly excluded by their own terms and conditions.
        </td>
      </tr>
      </tbody>
    </table>
    <li class="mb-3" style="list-style: auto;">In this privacy policy, unless the context requires a different
      interpretation
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">the singular includes the plural and vice versa;</li>
      <li style="list-style: lower-alpha">references to sub-clauses, clauses, schedules or appendices are to
        sub-clauses, clauses, schedules or appendices of
        this privacy policy;
      </li>
      <li style="list-style: lower-alpha">a reference to a person includes firms, companies, government entities, trusts
        and partnerships;
      </li>
      <li style="list-style: lower-alpha">"including" is understood to mean "including without limitation";</li>
      <li style="list-style: lower-alpha">reference to any statutory provision includes any modification or amendment of
        it;
      </li>
      <li style="list-style: lower-alpha">the headings and sub-headings do not form part of this privacy policy.</li>
    </ul>
    <h4 class="my-3">Scope of this privacy policy</h4>

    <li class="mb-3" style="list-style: auto;">This privacy policy applies only to the actions of Metablocks Limited and
      Users with respect to this Website. It does
      not extend to any websites that can be accessed from this Website including, but not limited to, any links we may
      provide to social media websites.
    </li>
    <li class="mb-3" style="list-style: auto;">For purposes of the applicable Data Protection Laws, Metablocks Limited
      is the "data controller". This means that
      Metablocks Limited determines the purposes for which, and the manner in which, your Data is processed.
    </li>
    <h4 class="my-3">Data collected</h4>
    <li class="mb-3" style="list-style: auto;">We may collect the following Data, which includes personal Data, from
      you:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">name;</li>
      <li style="list-style: lower-alpha">contact Information such as email addresses and telephone numbers;</li>
      <li style="list-style: lower-alpha">cryptocurrency wallet address, part of credit card information;</li>
    </ul>
    in each case, in accordance with this privacy policy.
    <h4 class="my-3">How we collect Data</h4>
    <li class="mb-3" style="list-style: auto;">We collect Data in the following ways:</li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">data is given to us by you; and;</li>
      <li style="list-style: lower-alpha">data is collected automatically;</li>
    </ul>
    <h4 class="my-3">Metablocks Limited will collect your Data in a number of ways, for example:</h4>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">when you contact us through the Website, by telephone, post, e-mail or through
        any other means;
      </li>
      <li style="list-style: lower-alpha">when you register with us and set up an account to receive our
        products/services;
      </li>
      <li style="list-style: lower-alpha">when you make payments to us, through this Website or otherwise;</li>
      <li style="list-style: lower-alpha">when you use our services;</li>
    </ul>
    in each case, in accordance with this privacy policy.
    <h4 class="my-3">Data that is given to us by you</h4>
    <li class="mb-3" style="list-style: auto;">Metablocks Limited will collect your Data in a number of ways, for
      example:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">when you contact us through the Website, by telephone, post, e-mail or through
        any other means;</li>
      <li style="list-style: lower-alpha">when you register with us and set up an account to receive our products/services;</li>
      <li style="list-style: lower-alpha">when you make payments to us, through this Website or otherwise;</li>
      <li style="list-style: lower-alpha">when you use our services;</li>
    </ul>
    in each case, in accordance with this privacy policy.
    <h4 class="my-3">Data that is collected automatically</h4>
    <li class="mb-3" style="list-style: auto;">To the extent that you access the Website, we will collect your Data
      automatically, for example:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">we automatically collect some information about your visit to the Website.
        This information helps us to make
        improvements to Website content and navigation, and includes your IP address, the date, times and frequency with
        which you access the Website and the way you use and interact with its content.
      </li>
    </ul>
      in each case, in accordance with this privacy policy.
    <h4 class="my-3">Our use of Data</h4>
    <li class="mb-3" style="list-style: auto;">Any or all of the above Data may be required by us from time to time in order to provide you with the best possible
      service and experience when using our Website. Specifically, Data may be used by us for the following reasons:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">internal record keeping;</li>
    </ul>
    in each case, in accordance with this privacy policy.
    <li class="mb-3" style="list-style: auto;">We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests. If you are
      not satisfied with this, you have the right to object in certain circumstances (see the section headed "Your rights"
      below)
    </li>
    <li class="mb-3" style="list-style: auto;">When you register with us and set up an account to receive our services, the legal basis for this processing is the
      performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
    </li>
    <h4 class="my-3">Who we share Data with</h4>
    <li class="mb-3" style="list-style: auto;">We may share your Data with the following groups of people for the following reasons:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">our employees, agents and/or professional advisors - user information is shared with employees for order
        processing and fulfillment;
      </li>
    </ul>
    in each case, in accordance with this privacy policy.
    <h4 class="my-3">Keeping Data secure</h4>
    <li class="mb-3" style="list-style: auto;">We will use technical and organisational measures to safeguard your Data, for example:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha">access to your account is controlled by a password and a user name that is unique to you.
      </li>
      <li style="list-style: lower-alpha">we store your Data on secure servers.
      </li>
    </ul>
    in each case, in accordance with this privacy policy.
    <li class="mb-3" style="list-style: auto;">Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any
      misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail
      address: NFThelp@niftyrow.com

    </li>
    <li class="mb-3" style="list-style: auto;">We will use technical and organisational measures to safeguard your Data, for example:
    </li>
    <h4 class="my-3">Data retention</h4>
    <li class="mb-3" style="list-style: auto;">Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for the
      period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be deleted.
    </li>
    <li class="mb-3" style="list-style: auto;">Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.
    </li>
    <h4 class="my-3">Your rights</h4>
    <li class="mb-3" style="list-style: auto;">You have the following rights in relation to your Data:
    </li>
    <ul class="pl-5">
      <li style="list-style: lower-alpha"><strong>Right to access -</strong> the right to request (i) copies of the information we hold about you at any time, or (ii) that we
        modify, update or delete such information. If we provide you with access to the information we hold about you,
        we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally
        permitted to do so, we may refuse your request. If we refuse your request, we will tell you the reasons why.</li>
      <li style="list-style: lower-alpha"><strong>Right to correct - </strong>the right to have your Data rectified if it is inaccurate or incomplete.</li>
      <li style="list-style: lower-alpha"><strong>Right to erase - </strong>the right to request that we delete or remove your Data from our systems.</li>
      <li style="list-style: lower-alpha"><strong>Right to restrict our use of your Data - </strong> the right to "block" us from using your Data or limit the way in which
        we can use it.</li>
      <li style="list-style: lower-alpha"><strong>Right to data portability - </strong>the right to request that we move, copy or transfer your Data.</li>
      <li style="list-style: lower-alpha"><strong>Right to object - </strong>he right to object to our use of your Data including where we use it for our legitimate interests.</li>
    </ul>
    <li class="mb-3" style="list-style: auto;">To make enquiries, exercise any of your rights set out above, or withdraw your consent to the processing of your Data
      (where consent is our legal basis for processing your Data), please contact us via this e-mail address:NFThelp@niftyrow.
      com.</li>
    <li class="mb-3" style="list-style: auto;">If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you may be able
      to refer your complaint to the relevant data protection authority. For the UK, this is the Information Commissioner's
      Office (ICO). The ICO's contact details can be found on their website at https://ico.org.uk/.
    </li>
    <li class="mb-3" style="list-style: auto;">It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data changes
      during the period for which we hold it.</li>
    <h4 class="my-3">Links to other websites</h4>
    <li class="mb-3" style="list-style: auto;">This Website may, from time to time, provide links to other websites. We have no control over such websites and are
      not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You
      are advised to read the privacy policy or statement of other websites prior to using them.
    </li>
    <h4 class="my-3">Changes of business ownership and control</h4>
    <li class="mb-3" style="list-style: auto;">Metablocks Limited may, from time to time, expand or reduce our business and this may involve the sale and/or the
      transfer of control of all or part of Metablocks Limited. Data provided by Users will, where it is relevant to any part of
      our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under
      the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.</li>
    <li class="mb-3" style="list-style: auto;">We may also disclose Data to a prospective purchaser of our business or any part of it.</li>
    <li class="mb-3" style="list-style: auto;">In the above instances, we will take steps with the aim of ensuring your privacy is protected.</li>
    <h4 class="my-3">General</h4>
    <li class="mb-3" style="list-style: auto;">You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights
      under this privacy policy where we reasonably believe your rights will not be affected.
    </li>
    <li class="mb-3" style="list-style: auto;">If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid,
      illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the
      validity and enforceability of the other provisions of this privacy policy will not be affected.</li>
    <li class="mb-3" style="list-style: auto;">Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a
      waiver of that, or any other, right or remedy.
    </li>
    <li class="mb-3" style="list-style: auto;">This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising
      under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.
    </li>
    <h4 class="my-3">Changes to this privacy policy</h4>
    <li class="mb-3" style="list-style: auto;">Metablocks Limited reserves the right to change this privacy policy as we may deem necessary from time to time or as
      may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted
      the terms of the privacy policy on your first use of the Website following the alterations. <br>
      You may contact Metablocks Limited by email at NFThelp@niftyrow.com.

    </li>
    <h4 class="my-3">Attribution</h4>
    <li class="mb-3" style="list-style: auto;">This privacy policy was created using a document from <a target="_blank" class="text-primary" href="https://www.rocketlawyer.com/gb/en">Rocket Lawyer (https://www.rocketlawyer.com/gb/en).</a>
    </li>
    This privacy policy was created on <strong>01 June 2022.</strong>
  </ol>
</div>
