<html class="not-ie no-js" lang="en">  <!--<![endif]-->
<body>
  <ngx-spinner></ngx-spinner>
  <app-navbar *ngIf="this.userAgent === 'mobile'"></app-navbar>
  <div class="demo-wrap">
    <app-navbar *ngIf="this.userAgent !== 'mobile'"> </app-navbar>
    <img
      class="demo-bg"
      src="/assets/img/banner-bg.jpg"
      loading="lazy"
      alt=""
    >

    <div class="demo-content" style="position: relative">

        <section id="content" class="container clearfix" style="margin-top: 10px;">

            <div class="row">
                <h1 class="page-title align-left" style="margin-bottom: 30px; text-transform:uppercase; margin-left: 12px;">All Assets</h1>
            </div>


                 
            <h6 class="section-title">Digital and Curated</h6>
        
            
                
            <ul class="projects-carousel clearfix" style="overflow: hidden;
            position: relative;
            top: 0px;
            margin: 0px;
            padding: 0px;
            left: 0px;
            width: 0;
            height: 312px;">
                <li style="margin-bottom: 0px; "  *ngFor="let item of this.images  let i=index">
                    <a style="padding: 0px;">
                        <img (click)="viewOrder(item.tokenId)" loading="lazy" src="{{item.image.media}}" alt="">
                        <h5 (click)="viewOrder(item.tokenId)" class="title">{{item.name}} </h5>
                        <span class="categories" (click)="viewOrder(item.tokenId)">illustration / design</span>
                    </a>
                </li>
                
                <h5 style="text-align: center; margin-top: 70px;" *ngIf="this.images.length === 0"> There are currently no assets in this category.  </h5>
            </ul><!-- end artworks -->

    
        
            <h6 class="section-title">Musical Inspirations</h6>
                    <ul class="projects-carousel clearfix "  style="
                    overflow: hidden;
                    position: relative;
                    top: 0px;
                    margin: 0px;
                    padding: 0px;
                    left: 0px;
                    width: 0;
                    height: 360px;">
                     <li style="margin-bottom: 0px !important;"  *ngFor="let item of this.audios  let i=index">
                        <a style="padding: 0px;">
                              
                                <img (click)="viewOrder(item.tokenId)" loading="lazy" src="{{item.image.media}}" style="margin-bottom: 5px;" alt="">
                                <audio class="AudioPlayerV1" controls controlsList="nodownload">
                                    <source src="{{item.audio.media}}" type="audio/mp3" />
                                    <source src=" {{item.audio.media}} " type="audio/ogg" />
                                </audio>
                           
                            <h5 class="title" (click)="viewOrder(item.tokenId)">  {{item.name}} </h5>
                            <span class="categories" (click)="viewOrder(item.tokenId)">illustration / design</span>
                        </a>
        
                     
                    </li>
        
                    <h5 style="text-align: center; margin-top: 70px;" *ngIf="this.audios.length === 0"> There are currently no assets in this category.  </h5>
                    </ul>
        
        
        
            <h6 class="section-title">Movies and Animations</h6>
        
            <ul class="projects-carousel clearfix" style="overflow: hidden;
            position: relative;
            top: 0px;
            margin: 0px;
            padding: 0px;
            left: 0px;
            width: 0;
            height: 300px;">
                <li  *ngFor="let item of this.videos  let i=index">
                    <video (click)="viewSec(item.tokenId, 'sellPage')" style="width: 20rem; height: 16rem; object-fit: cover;" poster="{{item.image.media}}" loading="lazy"  data-aspect-ratio='1.98' controls controlsList="nodownload">
                        <source src=" {{item.video.media}}" type="video/mp4" />
                        <source src="{{item.video.media}}" type="video/webm" />
                        <source src=" {{item.video.media}}" type="video/ogg" />
                    </video>
                    <a>
                       
                        
                        <!-- <iframe src="https://res.cloudinary.com/xendbit/raw/upload/v1619785832/gurmp1b0sqaaulsluoel" width="220" height="125" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen class="entry-video"></iframe> -->
                        <h5 (click)="viewOrder(item.tokenId)" class="title">{{item.name}}</h5>
                        <span class="categories" (click)="viewOrder(item.tokenId)">NFT / Movie-right</span>
                    </a>
                </li>
                <h5 style="text-align: center; margin-top: 70px;" *ngIf="this.videos.length === 0"> There are currently no assets in this category.  </h5>
            </ul>
        </section>
    </div>
  </div>
</body>
</html>
    
<app-footer></app-footer>