
<div class="mm-page mm-slideout" style="background-color: white; position: relative; min-height: 100vh; height: 100%; ">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="min-height: 100vh; height: 100%;" >
            
          <p class="text-uppercase small font-weight-medium">
              all artworks
          </p>
          <h2 class="text-uppercase font-weight-light">
              All Artworks
          </h2>
          <div class="row" style="margin-top: 3rem;">
              <mat-card (click)="view(item.tokenId, item.market)" class="col-3 col-md-3 cover trend" *ngFor="let item of this.approved  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                      </p>
                      <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
        </div>

        <div class="container-fluid container-lg container-home" *ngIf="this.pageHistory === 'primary'">
                
            <p class="text-uppercase small font-weight-medium">
                primary market
            </p>
            <h2 class="text-uppercase font-weight-light">
                All Artworks on the primary market
            </h2>
            <div class="row" style="margin-top: 3rem;">
                <mat-card (click)="view(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

        <div class="container-fluid container-lg container-home" *ngIf="this.pageHistory === 'secondary'">
                
            <p class="text-uppercase small font-weight-medium">
                all artworks
            </p>
            <h2 class="text-uppercase font-weight-light">
                All Artworks
            </h2>
            <div class="row" style="margin-top: 3rem;">
                <mat-card (click)="viewOrder(item.tokenId)" class="col-3 col-md-3 cover trend" *ngFor="let item of this.secondaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
        
    </div>
    
    
        <app-footer> </app-footer>
  
  </div>
  
  
  



<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card card-plain">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" >
                              <thead class="text-success">
                                  <th>Asset </th>
                                  <th> Art Title </th>
                                  <th>Artist</th>
                                  <th>Issuing Price</th>
                                  <th> Symbol</th>

                                  <th> Market Type </th>
 
                              </thead>
                              <tbody *ngFor="let item of this.approved " style="font-size: smaller;">
                                  <tr class="Table" (click)="view(item.tokenId)">
                                      <td style="width: 20%;"> <img src={{item.imageUrl}} style="width: 40%; height: 60px;"> </td>
                                      <td> {{item.titleOfWork}} </td>
                                      <td> {{item.artistName}} </td>
                                      <td> {{item.issuingPrice}} </td>
                                      <td> {{item.symbol}} </td>
                
                                      <td *ngIf="item.market === 0"> Primary  </td>
                                      <td *ngIf="item.market === 1"> Secondary </td>
                                      
                                      
                                      
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->