
<footer >
    <div class="footer bg-dark" style="opacity: 0.93;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-small" style="font-family: 'Playfair Display SC', serif; font-size: 1rem;"> 
                        <a class="nav-link text-nowrap mr-3" data-display="static" href="/about" style="color: white;"> About </a>
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-small" style="font-family: 'Playfair Display SC', serif; font-size: 1rem;"> 
                        Terms
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal" style="font-family: 'Playfair Display SC', serif; font-size: 1rem;"> 
                        Contact
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3" >
                    <a href="#" class="fa fa-facebook" style="margin-right: 30px; font-size: 1.3rem; color: white;"></a>
                    <a href="#" class="fa fa-twitter" style="margin-right: 30px; font-size: 1.3rem; color: white;"></a>
                    <a href="#" class="fa fa-instagram" style="margin-right: 30px; font-size: 1.3rem; color: white;"></a>
                    <a href="#" class="fa fa-pinterest" style="margin-right: 30px; font-size: 1.3rem; color: white;"></a>
                </div>

            </div>

        </div>

    </div>

</footer>
