<html>
        <footer id="footer" class="clearfix">
            <div class="container">
                <div class="three-fourth">
                    <nav id="footer-nav" class="clearfix" *ngIf="this.userAgent !== 'mobile'">
                        <ul >
                            <li><a href="/home">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="/about" routerLinkActive="active">About</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul> 
                    </nav>
                    <nav id="footer-nav" class="clearfix" *ngIf="this.userAgent === 'mobile'" style="border-bottom: 1px solid #4b4b4b;
                    margin: 0 0 12px;
                    padding: 0 0 120px;">
                    <ul style="text-align: center;" >
                        <li><a href="/home">Home</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="/about" routerLinkActive="active">About</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                    </nav>
                    <ul class="contact-info" *ngIf="this.userAgent !== 'mobile'">
                        <!-- <li class="address"> <a style="margin-left: 20px;" href="#">Victoria Island, Lagos, Nigeria</a></li>
                        <li class="phone"> <a style="margin-left: 20px;" href="#">(+234) 9084500002</a></li> -->
                        <li class="email"><a style="margin-left: 20px;" href="mailto:admin@xendbit.com">support@niftyrow.com</a></li>
                    </ul><!-- end .contact-info -->
                    <ul *ngIf="this.userAgent === 'mobile'" class="contact-info" >
                        <!-- <li class="address" style="margin-left: 30%; margin-bottom: 10px;"> <a style="margin-left: 25px;" href="#">Victoria Island, Lagos, Nigeria</a></li>
                        <li class="phone" style="margin-left: 30%; margin-bottom: 10px;"> <a style="margin-left: 25px;" href="#">(+234) 9084500002</a></li> -->
                        <li class="email" style="margin-left: 30%; margin-bottom: 10px;"><a style="margin-left: 25px;" href="mailto:admin@xendbit.com">support@niftyrow.com</a></li>
                    </ul>   
                </div>
        
                <div class="one-fourth last">
                    <span class="title" style="color: white;">Stay connected</span>
                    <ul class="social-links">
                        <li class="twitter"><a href="https://twitter.com/NiftyRow">Twitter</a></li>
                        <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100068493288180&sk=about">Facebook</a></li>
                        <!-- <li class="youtube"><a href="#">YouTube</a></li>
                        <li class="skype"><a href="#">Skype</a></li> -->
                        <li class="linkedin"><a href="https://www.instagram.com/niftyrowarts/">Instagram</a></li>
                    </ul>
                </div>   
            </div>
        </footer>
        
        <footer id="footer-bottom" class="clearfix">
            <div class="container">
                <ul>
                    <li>Nifty Row &copy; 2021</li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
            <script src="/assets/js/respond.min.js"></script>
            <script src="/assets/js/jquery.easing-1.3.min.js"></script>
            <script src="/assets/js/jquery.fancybox.pack.js"></script>
            <script src="/assets/js/jquery.smartStartSlider.min.js"></script>
            <script src="/assets/js/jquery.jcarousel.min.js"></script>
            <script src="/assets/js/jquery.cycle.all.min.js"></script>
            <script src="/assets/js/jquery.isotope.min.js"></script>
            <script src="/assets/js/audioplayerv1.min.js"></script>
            <script src="//maps.google.com/maps/api/js?sensor=false"></script>
            <script src="/assets/js/jquery.gmap.min.js"></script>
            <script src="/assets/js/jquery.touchSwipe.min.js"></script>
            <script src="/assets/js/custom.js"></script>
        </footer>
    
</html>
