/* ---------------------------------------------------------------------- */
/*	Reset & Clearfix (http://meyerweb.com/eric/tools/css/reset/)
/* ---------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}del{text-decoration:line-through}hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}mark{background-color:#ffffb3;font-style:italic}input,select{vertical-align:middle}ins{background-color:red;color:white;text-decoration:none}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0}* html .clearfix,:first-child+html .clearfix{zoom:1}

/* Some basic settings */
h1, h1 .button { font-size: 32px; }
h2, h2 .button { font-size: 28px; }
h3, h3 .button { font-size: 17px; }
h4, h4 .button { font-size: 15px; }
h5, h5 .button { font-size: 14px; }
h6, h6 .button { font-size: 12px; }
small { font-size: 10px; }
ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }
img { margin-bottom: 5px; }
dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,blockquote,article,p { margin-bottom: 20px; }

/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */

body {
	background: #fff;
	border-top: 6px solid #3a3a3a;
	color: #909090;
	font: 11px/1.7 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

::-moz-selection { background: #f15a23; color: #fff; text-shadow: none; }
::selection { background: #f15a23; color: #fff; text-shadow: none; }

h1, h2, h3, h4, h5, h6 {
	color: #474747;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: 15px;
}

h3, h4, h5 { font-weight: 600; }

a, a > * {
	color: #3a3a3a;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	   -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	     -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	        transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

a:hover, a > *:hover { color: #f15a23; }

hr {
	background: #efefef;
	color: #efefef;
	margin: 5px 0 25px;
}

	hr.dotted { border-style: dotted; }

	p + hr { margin: 25px 0 20px; }

/* ---------------------------------------------------------------------- */
/*	Generic Classes
/* ---------------------------------------------------------------------- */

.hidden { display: none; }

.disabled { cursor: auto; }

.screenreader { clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); /* Fallback for old IE */ position: absolute; }

.align-center { margin-left: auto; margin-right: auto; text-align: center; }

.align-left { float: left; }

	img.align-left { margin-bottom: 15px; margin-right: 15px; }

.align-right { float: right; }

	img.align-right { margin-bottom: 15px; margin-left: 15px; }

/* ---------------------------------------------------------------------- */
/*	Lists
/* ---------------------------------------------------------------------- */

ul.none {
	list-style: none;
	margin: 0;
}

ul.dotted + ul.dotted:before {
	content:'';
	display: block;
	clear: both;
	border-bottom: 1px dotted #bdbdbd;
	margin: -15px 0 5px;
}

	.arrow li, .arrow-2 li, .circle li, .check li, .check-2 li, .star li, .plus li, .dash li {
		list-style: none;
		margin: 0;
		padding: 0 0 0 24px;
	}

	.arrow li { background: url(/assets/img/list-arrow.png) no-repeat 5px 5px; }

	.arrow-2 li { background: url(/assets/img/list-arrow-2.png) no-repeat 2px 4px; }

	.circle li { background: url(/assets/img/list-circle.png) no-repeat 4px 5px; }

	.check li { background: url(/assets/img/list-check.png) no-repeat 3px 4px; }

	.check-2 li { background: url(/assets//list-check-2.png) no-repeat 0 4px; }

	.star li { background: url(/assets/img/list-star.png) no-repeat 0 1px; }

	.plus li { background: url(/assets/img/list-plus.png) no-repeat 3px 3px; }

	.dash li { background: url(/assets/img/list-dash.png) no-repeat 3px 8px; }

/* ---------------------------------------------------------------------- */
/*	Wrap
/* ---------------------------------------------------------------------- */

.container {
	margin: 0 auto;
	position: relative;
	width: 940px;
}

	/* -------------------------------------------------- */
	/*	Main
	/* -------------------------------------------------- */

	#main {
		float: left;
		margin: 0 40px 0 0;
		width: 680px;
	}

	
	/* -------------------------------------------------- */
	/*	Back to Top
	/* -------------------------------------------------- */

	#back-to-top, .touch-device #back-to-top:hover {
		background: url(/assets/img/arrow-up-large.png) no-repeat center center;
		background-color: rgb(221, 221, 221);
		background-color: rgba(221, 221, 221, .7);
		bottom: 20px;
		color: transparent;
		display: none;
		font: 0/0 a;
		height: 46px;
		position: fixed;
		right: 20px;
		text-shadow: none;
		-webkit-transition: all .2s ease;
		   -moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			 -o-transition: all .2s ease;
				transition: all .2s ease;
		width: 45px;
		z-index: 100;
	}

		#back-to-top:hover, .touch-device #back-to-top:active { background-color: #f15a23; }
			
/* ---------------------------------------------------------------------- */
/*	Home
/* ---------------------------------------------------------------------- */

	/* VideoJS */

	.video-js { max-width: 100%; }

	

	
		/* ---------------------------------------- */
		/*	Tweets
		/* ---------------------------------------- */

		.tweets-feed { margin: 0; }

		.tweets-feed li {
			background: url(/assets/img/icon-tweets.png) no-repeat 0 3px;
			display: block;
			list-style: none;
			margin: 0 0 15px;
			padding: 0 0 0 30px;
		}

			#sidebar .tweets-feed li a, #footer .tweets-feed li a { color: #f15a23; }

				#sidebar .tweets-feed li a:hover, #sidebar .tweets-feed .date a:hover { color: #3a3a3a; }

			.tweets-feed .date { display: block; }

				#sidebar .tweets-feed li .date a, #footer .tweets-feed li .date a {
					color: #bbb;
					font-size: 10px;
					font-style: italic;
				}

				#sidebar .tweets-feed li a:hover { color: #3a3a3a; }

				#footer .tweets-feed li a:hover { color: #fff; }

/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

#footer {
	background: #3a3a3a;
	color: #868686;
	margin-top: 80px;
	padding: 35px 0 30px;
	position: relative;
}

.not-ie #footer:before {
	background: #fff;
	content: '';
	left: 50%;
	display: block;
	height: 15px;
	margin: 0 0 0 -7.5px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
	position: absolute;
	top: -8px;
	width: 15px;
}

	x:-o-prefocus, .not-ie #footer:before { display: none; } /* Fix for Opera */

	#footer, #footer a,
	#footer-bottom, #footer-bottom a { color: #868686; }

		#footer a:hover,
		#footer-bottom a:hover { color: #f15a23; }

	#footer .title {
		border-bottom: 1px solid #4b4b4b;
		display: block;
		font-size: 10px;
		margin: 0 0 12px;
		padding: 0 0 12px;
		text-transform: uppercase;
	}

	/* -------------------------------------------------- */
	/*	Footer Navigation
	/* -------------------------------------------------- */

	#footer-nav {
		border-bottom: 1px solid #4b4b4b;
		margin: 0 0 12px;
		padding: 0 0 12px;
	}

		#footer-nav ul { margin: 0; }

			#footer-nav li {
				background: none;
				border: none;
				display: inline-block;
				list-style: none;
				margin: 0 -3px 0 0;
			}
			
			.ie7 #footer-nav li { display: inline; }

				 #footer-nav li a {
					border-left: 1px solid #484848;
					font-size: 10px;
					display: block;
					padding: 0 15px;
					text-transform: uppercase;
				}
			
				#footer-nav li:first-child a {
					border-left: none;
					padding-left: 0;
				}

				#footer-nav li:last-child a { padding-right: 0; }

	/* -------------------------------------------------- */
	/*	Contact Info
	/* -------------------------------------------------- */

	#footer .contact-info {}

	.contact-info { margin: 0; }

		.contact-info li {
			float: left;
			list-style: none;
			margin: 0 0 5px 24px;
			padding: 0 0 0 24px;
		}

		.contact-info li:first-child { margin-left: 0; }

		.contact-info .address { background: url(/assets/img/icon-address.png) no-repeat 0 0; }

		.contact-info .phone { background: url(/assets/img/icon-phone.png) no-repeat 0 1px; }

		.contact-info .email { background: url(/assets/img/icon-email-2.png) no-repeat 0 4px; }

	/* -------------------------------------------------- */
	/*	Social Links
	/* -------------------------------------------------- */

	.social-links { margin: 0; }

		.social-links li {
			display: inline-block;
			list-style: none;
			margin: 0 0 10px 15px;
			text-indent: -9999px;
		}

		.ie7 .social-links li {
			display: inline;
			font-size: 0;
			text-indent: 0;
		}
			
		.social-links li:nth-child(6n+1) { margin-left: 0; }

		.social-links li:nth-child(6n) { margin-right: 15px; }

		.social-links li:last-child { margin-right: 0; }

			.social-links a {
				background-repeat: no-repeat;
				background-position: 0 -16px;
				display: block;
				height: 16px;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
					 -o-transition: all 0.2s ease-out;
					-ms-transition: all 0.2s ease-out;
						transition: all 0.2s ease-out;
				width: 20px;
			}

			.social-links li.behance a { background-image: url(/assets/img/icon-behance.png); }

			.social-links li.delicious a { background-image: url(/assets//img/icon-delicious.png);
				background-position: 0 -14px;
				height: 14px;
			}

			.social-links li.deviantart a { background-image: url(/assets/img/icon-deviantart.png); }

			.social-links li.digg a {
				background-image: url(/assets/img/icon-digg.png);
				background-position: 0 -14px;
				height: 14px;
			}

			.social-links li.dribbble a { background-image: url(/assets/img/icon-dribbble.png); }

			.social-links li.dropbox a {
				background-image: url(/assets/img/icon-dropbox.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.email a { background-image: url(/assets/img/icon-email.png); }

			.social-links li.facebook a { background-image: url(/assets//img/icon-facebook.png); }

			.social-links li.flickr a { background-image: url(/assets/img/icon-flickr.png); }

			.social-links li.forrst a { background-image: url(/assets/img/icon-forrst.png); }


			.social-links li.github a { background-image: url(/assets/img/icon-github.png); }

			.social-links li.google a { background-image: url(/assets//icon-google.png); }

			.social-links li.googleplus a { background-image: url(/assets/img/icon-googleplus.png); }

			.social-links li.ichat a {
				background-image: url(/assets/img/icon-ichat.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.lastfm a {
				background-image: url(/assets/img/icon-lastfm.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.linkedin a { background-image: url(/assets/img/icon-linkedin.png); }

			.social-links li.mobypicture a { background-image: url(/assets//icon-mobypicture.png); }

			.social-links li.myspace a { background-image: url(/assets/img/icon-myspace.png); }
				
			.social-links li.picasa a { background-image: url(/assets/img/icon-picasa.png); }

			.social-links li.plixi a { background-image: url(/assets/img/icon-plixi.png); }

			.social-links li.rss a { background-image: url(/assets/img/icon-rss.png); }

			.social-links li.skype a { background-image: url(/assets/img/icon-skype.png); }
			.social-links li.other a { background-image: url(/assets/img/icon-instagram.png); }

			.social-links li.stumbleupon a {
				background-image: url(/assets/img/icon-stumbleupon.png);
				background-position: 0 -17px;
				height: 17px;
			}

			.social-links li.tumblr a {
				background-image: url(/assets/img/icon-tumblr.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.twitter a {
				background-image: url(/assets/img/icon-twitter.png);
				background-position: 0 -15px;
				height: 15px;
				width: 21px;
			}

			.social-links li.instagram a {
				background-image: url(/assets/img/instagram.png);
				background-position: 0 -15px;
				height: 15px;
				width: 21px;
			}

			.social-links li.vimeo a {
				background-image: url(/assets/img/icon-vimeo.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.youtube a {
				background-image: url(/assets/img/icon-youtube.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li a:hover { background-position: 0 0; }
			
	/* -------------------------------------------------- */
	/*	Misc Elements
	/* -------------------------------------------------- */

	#footer .button:hover, #footer input[type="submit"]:hover #footer input[type="reset"]:hover, #footer button:hover {
		background: #ddd;
		color: #3a3a3a;
	}

	#footer .button.no-bg { color: #ddd; }

	#footer .button .arrow { background-color: #3a3a3a; }

	#footer blockquote { background-color: #464646;}

		#footer blockquote.simple {
			background: none;
			border-left-color: #484848;
			color: #868686;
		}

	#footer .infobox {
		background: #464646;
		border-color: #363636;
	}

	#footer .infobox, #footer .infobox * { color: #868686; }

/* ---------------------------------------------------------------------- */
/*	Footer Bottom
/* ---------------------------------------------------------------------- */

#footer-bottom {
	background: #303030;
	line-height: 17px;
	padding: 12px 0;
}

	#footer-bottom ul { margin: 0; }

		#footer-bottom li {
			float: left;
			list-style: none;
			margin: 0;
		}
			
			 #footer-bottom li:first-child { margin-right: 15px; }
			
			#footer-bottom li a {
				border-left: 1px solid #484848;
				display: block;
				padding: 0 15px;
			}

			 #footer-bottom li:first-child a {
				border-left: none;
				padding-left: 0;
			}

				#footer-bottom li:last-child a { padding-right: 0; }

/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {

	


}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

				
	/* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */

	#logo { max-height: 100%; }

	/* -------------------------------------------------- */
	/*	Content
	/* -------------------------------------------------- */

	#content img {
		height: auto;
		max-width: 100%;
	}


	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */

		/* ---------------------------------------- */
		/*	Contact Info
		/* ---------------------------------------- */

		.contact-info li {
			border-bottom: 1px dotted #4b4b4b;
			float: none;
			margin-left: 0;
			padding-bottom: 5px;
		}
		
		.contact-info li:last-child { border-bottom: none; }

		/* ---------------------------------------- */
		/*	Social Links
		/* ---------------------------------------- */

		.social-links li:nth-child(6n+1) { margin-left: 15px; }

		.social-links li:nth-child(6n) { margin-right: 0; }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
		
	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container { width: 748px; }

		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		.one-half { width: 364px; }

			.one-third { width: 236px; }

		.two-third { width: 492px; }

		.one-fourth { width: 172px; }

			.three-fourth { width: 556px; }

	/* -------------------------------------------------- */
	/*	Content > Main
	/* -------------------------------------------------- */

	#main { width: 488px; }
		
		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		#main .one-half { width: 234px; }

		#main .one-third { width: 149px; }

			#main .two-third { width: 319px; }

		#main .one-fourth { width: 107px; }

			#main .three-fourth { width: 361px; }
		
	/* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */

	#header { height: 72px; }

	#logo { margin-top: -7px; }

		/* ---------------------------------------- */
		/*	Main Navigation
		/* ---------------------------------------- */

			#main-nav a { padding: 26px 20px; }

			#main-nav a:after {
				content: '';
				display: none;
			}

			.no-js #main-nav li:hover > ul, #main-nav ul ul { top: 78px; }
		
	/* -------------------------------------------------- */
	/*	Home
	/* -------------------------------------------------- */

		
	/* -------------------------------------------------- */
	/*	Footer > Social Links
	/* -------------------------------------------------- */
				
	.social-links li:nth-child(5n+1) { margin-left: 0; }

	.social-links li:nth-child(5n) { margin-right: 10px; }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	/* -------------------------------------------------- */
	/*	Basic Elements & Classes
	/* -------------------------------------------------- */

	.fluid-width-video-wrapper { margin-bottom: 10px; }
			
	/* -------------------------------------------------- */
	/*	Generic Classes
	/* -------------------------------------------------- */

	.align-left, .align-right { float: none; }
		
	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container { width: 300px; }

		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		.one-half, .one-third, .two-third, .one-fourth, .three-fourth {
			float: none;
			margin-right: 0;
		}

		.one-half, #main .one-half  { width: 300px; }

			.one-third, #main .one-third { width: 300px; }

		.two-third, #main .two-third { width: 300px; }

		.one-fourth, #main .one-fourth { width: 300px; }

			.three-fourth, #main .three-fourth { width: 300px; }
		
	/* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */

	#header { height: auto; }

		#logo {
			display: block;
			float: none;
			text-align: center;
		}

		/* ---------------------------------------- */
		/*	Main Navigation
		/* ---------------------------------------- */

		#main-nav {
			float: none;
			margin: 10px 0 20px;
		}

			#main-nav li { width: 50%; }

				#main-nav a {
					border-bottom-color: #efefef;
					padding: 16px 20px 30px;
				}

				#main-nav > ul > li:last-child a { border-bottom-color: transparent; }

				#main-nav > ul > .current:last-child a { border-bottom-color: #f15a23; }

				#main-nav ul ul { width: 100%; }

				.no-js #main-nav li:hover > ul, #main-nav ul ul { top: 72px; }

					#main-nav ul ul li { width: auto; }

						#main-nav ul ul li:first-child > a { border-top: none; }

						#main-nav ul ul li:last-child > a { border-bottom: none; }

						#main-nav ul ul ul {
							border-bottom: 1px solid #252525;
							-webkit-box-shadow: none;
							   -moz-box-shadow: none;
									box-shadow: none;
							display: block !important;
							left: 0 !important;
							margin: 0;
							top: 0 !important;
							position: relative;
						}

						#main-nav ul ul li:last-child ul {
							border-top: 1px solid #252525;
							border-bottom: none;
						}

							#main-nav ul ul ul a { padding-left: 30px; }

								#main-nav ul ul ul li:first-child a { border-top: 1px solid #4c4c4c; }
						
	/* -------------------------------------------------- */
	/*	Content > Main
	/* -------------------------------------------------- */

	#main {
		border-bottom: 1px solid #efefef;
		float: none;
		margin-right: 0;
		padding-bottom: 20px;
		width: 100%;
	}

	/* -------------------------------------------------- */
	/*	Image Gallery Slider
	/* -------------------------------------------------- */
	
	.image-gallery-slider { margin-bottom: 10px; }


	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */

	.not-ie #footer .container:after { top: -56px; }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container { width: 420px; }

		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		.one-half, .one-third, .two-third, .one-fourth, .three-fourth {
			float: none;
			margin-right: 0;
		}

		.one-half, #main .one-half { width: 420px; }

		.one-third, #main .one-third { width: 420px; }

			.two-third, #main .two-third { width: 420px; }

		.one-fourth, #main .one-fourth { width: 420px; }

			.three-fourth, #main .three-fourth { width: 420px; }
		
	/* -------------------------------------------------- */
	/*	Home
	/* -------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */

		/* ---------------------------------------- */
		/*	Contact Info
		/* ---------------------------------------- */

		.contact-info { margin-bottom: 20px; }

		/* ---------------------------------------- */
		/*	Social Links
		/* ---------------------------------------- */
				
		.social-links li:nth-child(12n+1) { margin-left: 0; }

		.social-links li:nth-child(12n) { margin-right: 15px; }

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	/* -------------------------------------------------- */
	/*	Header > Main Navigation
	/* -------------------------------------------------- */

	#main-nav li { width: 100%; }

		#main-nav a { padding: 18px; }

			#main-nav a:after, #main-nav > ul { display: none; }
			#main-nav a:after { content: ''; }


		.no-js #main-nav li:hover > ul { top: 62px; }

	/* -------------------------------------------------- */
	/*	Home
	/* -------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */

		/* ---------------------------------------- */
		/*	Footer Navigation
		/* ---------------------------------------- */

		#footer-nav li {
			border-top: 1px dotted #4b4b4b;
			padding: 5px 0;
			width: 100%;
		}
		
		#footer-nav li:first-child { border-top: none; }

			#footer-nav li a {
				border: none;
				padding: 0;
			}

		/* ---------------------------------------- */
		/*	Contact Info
		/* ---------------------------------------- */

		.contact-info { margin-bottom: 20px; }

		/* ---------------------------------------- */
		/*	Social Links
		/* ---------------------------------------- */
				
		.social-links li:nth-child(8n+1) { margin-left: 0; }

		.social-links li:nth-child(8n) { margin-right: 15px; }

}