<footer class="d-md-block footer-bottom" style="width: 100%;">
    <div class=" mt-5 pt-4 footer bg-dark  " style="opacity: 0.93;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal" style="font-family: 'Playfair Display SC', serif;"> 
                        About
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal" style="font-family: 'Playfair Display SC', serif;"> 
                        Terms
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3  ">
                    <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal" style="font-family: 'Playfair Display SC', serif;"> 
                        Contact
                    </h4>
                </div>

            </div>

        </div>

    </div>

</footer>
