@import 'src/assets/scss/utilities/screens';
@import 'src/assets/scss/utilities/mixins';
@import 'src/assets/scss/utilities/variables';
@import 'src/assets/scss/utilities/settings';
@import '~breakpoint-sass/stylesheets/breakpoint';

/*------------------------------------------
        User profile Start Here
-------------------------------------------*/
.img-fluid {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

@media (min-width: 992px){
    .col-lg-3 {
        flex: 0 0 auto;
        width: 33%;
    }
}

.user-profile-otr{
    .container-fluid{
        .wrapper{
            border-radius: 24px;
            border: 1px solid $Gray-Shade-3;
            .user-img{
                // background-image: url('/assets/img/cover-img.jpg');
                background-size: cover;
                border-radius: 24px 24px 0 0;
                padding: 40px;
                .creator-img-otr{
                    width: 146px;
                    height: 146px;
                    border-radius: 16px;
                    background-color: $White-Color;
                    border: 4px solid $White-Color;
                    .creator-img{
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }
            }
            .another-user{
                padding: 0 40px;
                @include breakpoint($secreen-xs){
                    padding: 0 28px;
                }
                .another-user-top{
                    padding: 20px 0;
                    border-bottom: 1px solid $Gray-Shade-3;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include breakpoint($secreen-max-sm){
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 20px 0 28px 0;
                    }
                    .another-user-left{
                        display: flex;
                        align-items: center;
                        @include breakpoint($secreen-max-sm){
                            margin: 0 0 30px 0;
                        }
                        @include breakpoint($secreen-xl2){
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .user-main{
                            display: flex;
                            align-items: center;
                            margin-right: 48px;
                            @include breakpoint($secreen-xl2){
                                margin: 0 0 16px 0;
                            }
                            .user-head{
                                color: $Black-Color;
                            }
                            .check-otr{
                                width: 24px;
                                height: 24px;
                                background-color: $Primary-Color-Home-1;
                                border-radius: 100%;
                                position: relative;
                                margin-left: 12px;
                                .check-icon{
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 14px;
                                }
                            }
                        }
                        .address-main{
                            display: flex;
                            align-items: center;
                            .address{
                                color: $Gray-Shade-1;
                            }
                            .copy-icon-otr{
                                width: 40px;
                                height: 40px;
                                border-radius: 100%;
                                background-color: $Gray-Shade-4;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 12px;
                                .copy-icon{
                                    path{
                                        stroke: $Gray-Shade-2;
                                    }
                                }
                            }
                        }
                    }   
                    .another-user-right{
                        display: flex;
                        align-items: center;
                        @include breakpoint($secreen-xs){
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .icons-main{
                            display: flex;
                            align-items: center;
                            .icon-flag{
                                width: 52px;
                                height: 52px;
                                border-radius: 100%;
                                margin-right: 12px;
                                background-color: $Gray-Shade-4;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                            .icon-div{
                                &:not(:last-child){
                                    margin-right: 16px;
                                }
                            }
                            .icon-otr{
                                width: 52px;
                                height: 52px;
                                border-radius: 100%;
                                margin-right: 12px;
                                background-color: $Gray-Shade-4;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                cursor: pointer;
                                .icon{
                                    path{
                                        stroke: $Gray-Shade-2;
                                    }
                                }
                                .share-hover{
                                    position: absolute;
                                    width: 330px;
                                    height: 130px;
                                    top: -150px;
                                    left: 50%;
                                    transform: translateX(-92%);
                                    background-color: $White-Color;
                                    border-radius: 24px;
                                    padding: 20px 28px 24px 28px;
                                    z-index: 999;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: .3s;
                                    text-align: center;
                                    .heading{
                                        color: $Black-Color;
                                        margin: 0 0 12px 0;
                                    }
                                    .icon-ul{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;
                                        .icon-li{
                                            .icon-a{
                                                &:hover{
                                                    .icon{
                                                        path{
                                                            stroke: $Primary-Color-Home-1;
                                                        }
                                                    }
                                                }
                                                .icon{
                                                    path{
                                                        transition: .3s;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .follower-main{
                            display: flex;
                            align-items: center;
                            margin: 0 48px;
                            @include breakpoint($secreen-max-md){
                                margin: 0 24px;
                            }
                            @include breakpoint($secreen-xs){
                                margin: 30px 0;
                            }
                            .follow-inr{
                                cursor: pointer;
                                &:not(:last-child){
                                    margin-right: 24px;
                                }
                                .num{
                                    color: $Black-Color;
                                }
                                .follow{
                                    color: $Gray-Shade-2;
                                }
                            }
                            
                        }
                        .action-otr{
                            display: flex;
                            .btn-follow{
                                width: auto;
                            }
                        }
                    }
                }
                .another-user-about{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 48px 0;
                    @include breakpoint($secreen-max-sm){
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 20px 0 28px 0;
                    }
                    .another-about-left{
                        display: flex;
                        width: 60%;
                        align-items: center;
                        @include breakpoint($secreen-xl2){
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        @include breakpoint($secreen-max-lg){
                            width: 40%;
                        }
                        @include breakpoint($secreen-max-md){
                            width: 70%;
                            margin: 0;
                        }
                        @include breakpoint($secreen-max-sm){
                            width: 100%;
                            margin: 0 0 30px 0;
                        }
                        .about-head{
                            color: $Black-Color;
                            @include breakpoint($secreen-xl2){
                                padding: 0 0 8px 0;
                            }
                        }
                        .about-desc{
                            color: $Gray-Shade-2;
                            margin-left: 32px;
                            @include breakpoint($secreen-max-xxl){
                                br{
                                    display: none;
                                }
                            }
                            @include breakpoint($secreen-xl2){
                                margin: 0;
                            }
                            @include breakpoint($secreen-max-md){
                                padding: 0 72px 0 0;
                            }
                            @include breakpoint($secreen-max-sm){
                                padding: 0;
                            }
                        }
                    }
                    .another-about-right{
                        display: flex;
                        align-items: center;
                        @include breakpoint($secreen-max-md){
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .visto-otr{
                            display: flex;
                            align-items: center;
                            .link-icon{
                                margin-right: 12px;
                                &:hover{
                                    cursor: pointer;
                                }
                                .link{
                                    &:hover{
                                        path{
                                            stroke: $Primary-Color-Home-1;
                                        }
                                    }
                                    path{
                                        stroke: $Gray-Shade-2;
                                        transition: .3s;
                                    }
                                }
                            }
                            .visto{
                                color: $Primary-Color-Home-1;
                            }
                        }
                        .icon-ul{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-left: 48px;
                            @include breakpoint($secreen-max-md){
                                margin: 0;
                            }
                            .icon-li{
                                @include breakpoint($secreen-max-md){
                                    margin-top: 16px;
                                }
                                &:not(:last-child){
                                    margin-right: 16px;
                                }
                                .icon-a{
                                    .icon{
                                        &:hover{
                                            path{
                                                stroke: $Primary-Color-Home-1;
                                            }
                                        }
                                        path{
                                            stroke: $Gray-Shade-2;
                                            transition: .5s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
