@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.header {
    font-family: 'Playfair Display SC', serif;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 600;
    margin-left: 1rem;
}

.w-25 {
    width: 5%!important;
}

.trial {
    background-color: black;
    color: #fff;
    padding-left: 16.5px;
    padding-right: 17.5px;
    padding-top: 2px;
    white-space: wrap;
    display: block;
    height: 30px;
    width: 100vw;
    max-width: 100%;
    
  }
  .trial .texty {
    display: inline-block;
    text-indent: 1;
    overflow: hidden;
    -webkit-transition: 25s;
    transition: 10s;
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 50s linear infinite;
  }
  @-moz-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
      }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%)
    }
    100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
