@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

.header {
    font-family: 'Playfair Display SC', serif;
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 600;
    margin-left: 1rem;
}