<div  *ngIf="this.userAgent === 'mobile'" class="row">
		<div class="col-12 col-lg-6">
			<a (click)="goToHome()" id="logo">
				<img style="width: 10rem;
				margin-left: 3rem;
				margin-top: 10px; 
				margin-bottom: 10px;" src="/assets/img/Niftylogo2.png" alt="Nifty Row logo">
			</a>
		</div>
		<div class="col-12 col-lg-6" id="mobile-nav" >
			<header class="clearfix" >
				<div class="container">
						
						<div class="header-right">
							<label for="open">
								<span class="hidden-desktop"></span>
							</label>
							<input type="checkbox" name="" id="open">
							<nav style="color: green;">
								<a (click)="goToHome()" > Home </a>
								<a (click)="goToUserDashboard()" >My Dashboard</a>
								<a (click)="goToMyAssets()" >My Assets</a>
								<a (click)="goToAllAssets('buyPage')" >All assets</a>
							</nav>
						</div>
					</div>
				</header>
		</div>

		<div class="row" *ngIf="this.isConnected && this.balance" style="text-align: center; margin-left: 30%; margin-right: 20%">
			<button   type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: #5EBA8F; border-color: transparent; color: black; margin-top: 20px;">
				Balance: {{this.balance}} ETH
			</button>
		</div>
		<div class="row" style="text-align: center; margin-left: 27%; margin-right: 25%">
			<button *ngIf="!this.isConnected" (click)="connectToMetamask()" type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: #77CA54; border-color: transparent; color: black; margin-top: 20px;">
				Connect Wallet
			</button>
		</div>
	</div>
	
	<div id="header" class="container clearfix">
		<a *ngIf="this.userAgent !== 'mobile'" (click)="goToHome()" id="logo">
			<img style="width: 12rem; margin-top: 20px;" src="/assets/img/Niftylogo2.png" alt="Nifty Row logo">
		</a>

		<nav id="main-nav" *ngIf="this.userAgent !== 'mobile' && !this.isConnected" style="margin-top: -63px;">
			<ul >
				<li *ngIf="this.isConnected === true" class="current">
					<a (click)="goToHome()">Home</a>
				</li>
				<li *ngIf="this.isConnected !== true" >
					<a (click)="goToHome()" style=" 
					margin-left: 18rem;">Home</a>
				</li>
				<li *ngIf="this.isConnected === true">
					<a  (click)="goToUserDashboard()" >My Dashboard</a>
				</li>
				<li  *ngIf="this.isConnected === true">
					<a (click)="goToMyAssets()">My Assets</a>
				</li>
				<li >
					<a (click)="goToAllAssets('buyPage')" >All assets</a>
				</li>
				<li>
					<button *ngIf="!this.isConnected" (click)="connectToMetamask()" type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="
						background-color: #77CA54; 
						border-color: transparent; 
						color: black; 
						margin-top: 20px;
						margin-right: 10rem;
						margin-left: 5rem;">
						Connect Wallet
					</button>
					<button *ngIf="this.isConnected === true" type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="
					background-color: #5EBA8F; 
					border-color: transparent; 
					color: black; 
					margin-right: 15px; 
					margin-top: 20px;">
						{{this.displayedData}}
					</button>
				</li>
			</ul>
		</nav>

		<nav id="main-nav" *ngIf="this.userAgent !== 'mobile' && this.isConnected">
			<ul >
				<li *ngIf="this.isConnected === true" class="current">
					<a (click)="goToHome()">Home</a>
				</li>
				<li *ngIf="this.isConnected !== true" >
					<a (click)="goToHome()" style=" 
					margin-left: 18rem;">Home</a>
				</li>
				<li *ngIf="this.isConnected === true">
					<a  (click)="goToUserDashboard()" >My Dashboard</a>
				</li>
				<li  *ngIf="this.isConnected === true">
					<a (click)="goToMyAssets()">My Assets</a>
				</li>
				<li >
					<a (click)="goToAllAssets('buyPage')" >All assets</a>
				</li>
				<li>
					<button *ngIf="!this.isConnected" (click)="connectToMetamask()" type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="
						background-color: #77CA54; 
						border-color: transparent; 
						color: black; 
						margin-top: 20px;
						margin-right: 10rem;
						margin-left: 5rem;">
						Connect Wallet
					</button>
					<button *ngIf="this.isConnected === true" type="submit" class="btn btn-dark px-2 px-sm-3 py-2 py-md-3 small font-weight-medium text-nowrap" style="
					background-color: #5EBA8F; 
					border-color: transparent; 
					color: black; 
					margin-right: 15px; 
					margin-top: 20px;">
						{{this.displayedData}}
					</button>
				</li>
			</ul>
		</nav>
	</div>