

<div class="mm-page mm-slideout" style="background-color: white; ">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="height: 100%;">
            <p class="text-uppercase small font-weight-medium">
                orders
            </p>
            <h2 class="text-uppercase font-weight-light">
                My orders
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                <mat-tab-group style="align-items: center; margin-left: 7rem; font-family: 'Playfair Display SC', serif;">
                    <mat-tab label="Buy Order">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                  <thead class="text-success">
                                        <th> Order Type </th>
                                        <th>Order Strategy</th>
                                        <th>Amount remaining</th>
                                        <th> Token ID </th>
                                        <th>Original amount</th>
                                        <th> Price</th>
                                        <th> Order Date </th>
                                  </thead>
                                  <tbody *ngFor="let item of this.buyOrders">
                                      <tr class="Table">
                                          <td>Buy</td>
                                          <td *ngIf="item.orderStrategy === 0"> Good Till Cancel </td>
                                          <td *ngIf="item.orderStrategy === 1"> All Or Nothing </td>
                                          <td *ngIf="item.orderStrategy === 2"> Good Till Day </td>
                                          <td *ngIf="item.orderStrategy === 3">  Good Till Month </td>
                                          <td *ngIf="item.orderStrategy === 4"> Market Order </td>
                                          <td> {{item.amountRemaining}} </td>
                                          <td> {{item.tokenId}} </td>
                                          <td> {{item.originalAmount}} </td>
                                          <td> {{item.price}} </td>
                                          <td> {{item.orderDate  | date : 'short'}} </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
    
                    </mat-tab>
                    <mat-tab label="Sell Order">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                  <thead class="text-success">
                                      <th> Order Type </th>
                                      <th>Order Strategy</th>
                                      <th>Amount remaining</th>
                                      <th> Token ID </th>
                                      <th>Original amount</th>
                                      <th> Price</th>
                                      <th> Order Date </th>
                                  </thead>
                                  <tbody *ngFor="let item of this.sellOrders">
                                      <tr class="Table">
                                        <td>Sell</td>
                                        <td *ngIf="item.orderStrategy === 0"> Good Till Cancel </td>
                                        <td *ngIf="item.orderStrategy === 1"> All Or Nothing </td>
                                        <td *ngIf="item.orderStrategy === 2"> Good Till Day </td>
                                        <td *ngIf="item.orderStrategy === 3">  Good Till Month </td>
                                        <td *ngIf="item.orderStrategy === 4"> Market Order </td>
                                        <td> {{item.amountRemaining}} </td>
                                        <td> {{item.tokenId}} </td>
                                        <td> {{item.originalAmount}} </td>
                                        <td> {{item.price}} </td>
                                        <td> {{item.orderDate  | date : 'short'}} </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
              
            </div>
    
        </div>
  

        <div class="container-fluid container-lg container-home">
            
          <p class="text-uppercase small font-weight-medium">
              other listings
          </p>
          <h2 class="text-uppercase font-weight-light">
             Recommendations
          </h2>
          <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
              <mat-card (click)="viewBuy(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.approved  let i=index">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Price: </b> ${{item.price}}
                      </p>
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
      </div>
  
  
  
  
    </div>
    
        <app-footer></app-footer>
  
  </div>
  


  
  
  



  
  



