<div class="mm-page mm-slideout" style="background-color: white; position: relative; min-height: 100vh; height: 100%; ">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="min-height: 40vh; height: 80%;">

            <h2 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 20px;">
                ArtExchange - Online Artwork Market
            </h2>

            <p  style="font-family: 'Inter', serif;">
                The ArtExchange features a rare collection of paintings by African’s topmost artists that have opted to showcase their creations through the Internet.   As a digital marketplace the Art Exchange is powered by the revolutionary blockchain technology which is employed for the purpose of provenance and to enable fractional investments in art pieces.  
Furthermore,  as a security feature enabled by the blockchain each artwork is digitally signed by embossment with the artist digital signature along with a timestamp to illustrate the time of issue onto the ArtExchange.  
This ensures that even if the artwork is copied or stolen it won't be the authentic and originally signed piece.  
An artwork that is digitally signed  and permanently recorded and verified through the blockchain ensure scarcity and uniqueness.
            </p>

        </div>
    </div>
    <app-footer> </app-footer>
</div>
