<div class="mm-page mm-slideout" style="background-color: white; position: relative; min-height: 100vh; height: 100%; ">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="min-height: 40vh; height: 100%;">

            <h2 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 30px; margin-bottom: 30px;">
                ArtExchange - Online Artwork Market
            </h2>

            <div  class="row" style="margin-bottom: 20px;">
                <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: white; width: 100%;">
                    <div class="hero-content w-100">
                        <h6 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 20px; margin-bottom: 40px;">
                             <b> Introduction </b>
                        </h6>
                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                            ArtExchange is an online marketplace
                            featuring a one-of-a-kind collection of
                            paintings by dynamic African artists who
                            have opted to showcase their works via the internet
                        </p>
                        
                    </div>
                </div>
                <div class="col-5 col-lg-5" style="padding-left: 0 !important; ">
                    <div >
                        <img style="height: 18rem !important; width: 15rem; margin-top: 25px; margin-left: 30%;" class="img-fluid" src="/assets/img/vector.png">
                    </div>
            
                </div>
            </div>

            <div  class="row" style="margin-bottom: 20px;">
                <div class="col-5 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: white;">
                    <div class="hero-content w-100">
                        <img style="height: 18rem !important; width: 15rem; margin-top: 25px;" class="img-fluid" src="/assets/img/vector.png">
                        
                    </div>
                </div>
                <div class="col-7 col-lg-7" style="padding-left: 0 !important; ">
                    <div class="hero-content w-100">
                        

                        <h6 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 25px; margin-bottom: 40px;">
                           <b>  History   </b>
                        </h6>
                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                            As a digital platform, ArtExchange is
                            powered by revolutionary blockchain
                            technology which allows for unique and
                            innovative opportunities such as fractional
                            investments in artworks.
                        </p>
                    </div>
            
                </div>
            </div>


            <div  class="row" style="margin-bottom: 20px;">
                <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: white; width: 100%;">
                    <div class="hero-content w-100">
                        <h6 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 20px; margin-bottom: 40px;">
                             <b> Authenticity </b>
                        </h6>
                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                            Blockchain Technology also allows for 
                            enhanced security features like digital embossing
                            with official signatures and time stamps.
                        </p>
                        
                    </div>
                </div>
                <div class="col-5 col-lg-5" style="padding-left: 0 !important; ">
                    <div >
                        <img style="height: 15rem !important; margin-top: 25px;" class="img-fluid" src="/assets/img/nse.png">
                    </div>
            
                </div>
            </div>


            <div  class="row" style="margin-bottom: 20px;">
                <div class="col-5 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: white;">
                    <div class="hero-content w-100">
                        <img style="height: 15rem !important; margin-top: 25px;" class="img-fluid" src="/assets/img/nse.png">
                        
                    </div>
                </div>
                <div class="col-7 col-lg-7" style="padding-left: 0 !important; ">
                    <div class="hero-content w-100">
                        

                        <h6 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 25px; margin-bottom: 40px;">
                           <b>Secure </b> 
                        </h6>
                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                            The protocol employs the Ethereum 721
                            token standard for Non-fungible Tokens
                            which help create a deterrent to theft and
                            forgery while providing a reliable record of
                            provenance for simple authentication.
                        </p>
                    </div>
            
                </div>
            </div>

            <div  class="row">
                <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: white; width: 100%;">
                    <div class="hero-content w-100">
                        <h6 class="text-uppercase font-weight-light" style="text-align: center !important; margin-top: 20px; margin-bottom: 40px;">
                           <b> Uniqueness</b>
                        </h6>
                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                            As blockchain technology meets the art
                            world, ArtExchange enables fractional
                            ownership of artworks that may not be easily
                            affordable by the majority of art lovers.
                        </p>
                        
                    </div>
                </div>
                <div class="col-5 col-lg-5" style="padding-left: 0 !important; ">
                    <div >
                        <img style="height: 15rem !important; margin-top: 25px;" class="img-fluid" src="/assets/img/nse.png">
                    </div>
            
                </div>
            </div>
            

         

        </div>
    </div>
    <app-footer> </app-footer>
</div>
