<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
   
              
              <div class="container-fluid container-lg container-home"  style="margin-top: 5rem;">
                  <p class="text-uppercase small font-weight-medium">
                      Details
                  </p>
                  <h2 class="text-uppercase font-weight-light">
                      View More details about this user:
                  </h2>
  
                    <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;" *ngIf="this.role === 0" >
                      <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
                        <mat-card-header>
                          <img src="{{this.investor.imageUrl}}" style="width: 100%; height: 30rem; margin-bottom: 10px; margin-left: 1rem; margin-right: 3rem !important;
                           box-shadow: 5px 5px 5px #ccc;
                        -moz-box-shadow: 10px 10px 5px #ccc;
                        -webkit-box-shadow: 10px 10px 5px #ccc;
                        -khtml-box-shadow: 10px 10px 5px #ccc;">
                        </mat-card-header>
                        
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                
                      <mat-card class="col-lg-4 col-md-4 col-sm-4" style="font-family: 'Inter', serif;">
                        <mat-card-content>
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>
                              <b> First Name: </b> {{this.investor.firstName}}
                            </p>
                  
                            <p>
                                <b> Last Name: </b> {{this.investor.lastName}}
                            </p>
                  
                            <p>
                              <b> Middle Name: </b> {{this.investor.middleName}}
                            </p>
                            <p>
                              <b> Email: </b> {{this.investor.email}}
                            </p>
                           <p>
                            <b> Phone Number: </b> {{this.investor.phoneNumber}}
                           </p>
                            <p *ngIf="this.investor.approved === 0">
                              <b> Approved: </b> Yes
                            </p>
                            <p *ngIf="this.investor.approved === 1">
                                <b> Approved: </b> No
                              </p>
                            <p *ngIf="this.investor.activated === 0">
                              <b>Activated:</b> Yes
                            </p>
                            <p *ngIf="this.investor.activated === 1">
                              <b>Activated:</b> No
                            </p>
                          
                            
                            <div style="padding-bottom: 20px; " >
                                <button class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#disableModalLong">
                            
                                  Disable
                              
                              </button>
                                <div class="clearfix"></div>
                              </div>


                              <div  class="modal fade" id="disableModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Admin Confirmation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6> Please confirm that you want to disable this user.  </h6>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                      <button data-dismiss="modal"  class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                      
                            
                          </div>
                        </mat-card-content>
                      </mat-card>
                
                    </div>
            
            
                    <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;" *ngIf="this.role === 1">
                        <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
                          <mat-card-header>
                            <img src="{{this.admin.imageUrl}}" style="width: 100%; height: 30rem; margin-bottom: 10px; margin-left: 1rem; margin-right: 3rem !important;
                             box-shadow: 5px 5px 5px #ccc;
                          -moz-box-shadow: 10px 10px 5px #ccc;
                          -webkit-box-shadow: 10px 10px 5px #ccc;
                          -khtml-box-shadow: 10px 10px 5px #ccc;">
                          </mat-card-header>
                          
                          <mat-card-content>
                          </mat-card-content>
                        </mat-card>
                  
                        <mat-card class="col-lg-4 col-md-4 col-sm-4" style="font-family: 'Inter', serif;">
                          <mat-card-content>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <p>
                                <b> First Name: </b> {{this.admin.firstName}}
                              </p>
                    
                              <p>
                                  <b> Last Name: </b> {{this.admin.lastName}}
                              </p>
                    
                              <p>
                                <b> Middle Name: </b> {{this.admin.middleName}}
                              </p>
                              <p>
                                <b> Email: </b> {{this.admin.email}}
                              </p>
                             <p>
                              <b> Phone Number: </b> {{this.admin.phoneNumber}}
                             </p>
                              <p *ngIf="this.admin.approved === 0">
                                <b> Approved: </b> Yes
                              </p>
                              <p *ngIf="this.admin.approved === 1">
                                  <b> Approved: </b> No
                                </p>
                              <p *ngIf="this.admin.activated === 0">
                                <b>Activated:</b> Yes
                              </p>
                              <p *ngIf="this.admin.activated === 1">
                                <b>Activated:</b> No
                              </p>
                            
                              
                              <div style="padding-bottom: 20px; " >
                                  <button class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#disableModalLong">
                              
                                    Disable
                                
                                </button>
                                  <div class="clearfix"></div>
                                </div>
  
                                <div  class="modal fade" id="disableModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Admin Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <h6> Please confirm that you want to disable this user.  </h6>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                        <button data-dismiss="modal"  class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                        
                              
                            </div>
                          </mat-card-content>
                        </mat-card>
                  
                      </div>


                      <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;" *ngIf="this.role === 2">
                        <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
                          <mat-card-header>
                            <img src="{{this.issuer.imageUrl}}" style="width: 100%; height: 30rem; margin-bottom: 10px; margin-left: 1rem; margin-right: 3rem !important;
                             box-shadow: 5px 5px 5px #ccc;
                          -moz-box-shadow: 10px 10px 5px #ccc;
                          -webkit-box-shadow: 10px 10px 5px #ccc;
                          -khtml-box-shadow: 10px 10px 5px #ccc;">
                          </mat-card-header>
                          
                          <mat-card-content>
                          </mat-card-content>
                        </mat-card>
                  
                        <mat-card class="col-lg-4 col-md-4 col-sm-4" style="font-family: 'Inter', serif;">
                          <mat-card-content>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <p>
                                <b> First Name: </b> {{this.issuer.firstName}}
                              </p>
                    
                              <p>
                                  <b> Last Name: </b> {{this.issuer.lastName}}
                              </p>
                    
                              <p>
                                <b> Middle Name: </b> {{this.issuer.middleName}}
                              </p>
                              <p>
                                <b> Email: </b> {{this.issuer.email}}
                              </p>
                             <p>
                              <b> Phone Number: </b> {{this.issuer.phoneNumber}}
                             </p>
                              <p *ngIf="this.issuer.approved === 0">
                                <b> Approved: </b> Yes
                              </p>
                              <p *ngIf="this.issuer.approved === 1">
                                  <b> Approved: </b> No
                                </p>
                              <p *ngIf="this.issuer.activated === 0">
                                <b>Activated:</b> Yes
                              </p>
                              <p *ngIf="this.issuer.activated === 1">
                                <b>Activated:</b> No
                              </p>
                            
                              
                              <div style="padding-bottom: 20px; " >
                                  <button class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#disableModalLong">
                              
                                    Disable
                                
                                </button>
                                  <div class="clearfix"></div>
                                </div>
  
                                <div  class="modal fade" id="disableModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Admin Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <h6> Please confirm that you want to disable this user.  </h6>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                        <button data-dismiss="modal"  class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                        
                              
                            </div>
                          </mat-card-content>
                        </mat-card>
                  
                      </div>
              
                 
                  
            
              </div>

  
        <div class="container-fluid container-lg container-home" style="font-family: 'Inter', serif;">
            
          <p class="text-uppercase small font-weight-medium">
              other listings
          </p>
          <h2 class="text-uppercase font-weight-light">
             Recommendations
          </h2>
          <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
              <mat-card (click)="view(item.tokenId)" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Price: </b> ${{item.price}}
                      </p>
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
      </div>
  
  
  
  
    </div>
    
        <app-footer></app-footer>
  
  </div>  