

.p-galleria {
    .p-galleria-caption {
        background: transparent;
        color: #f8f9fa;
        padding: 1rem;
        height: 11rem;
    }
   .p-galleria-thumbnail-container {
        background: lightgray;
        padding: 1rem 0.25rem;
    }
}

#slideButton {
    width: 13%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 48%;
}