<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>

  <div id="container_home">
 
            
            <div class="container-fluid container-lg container-home" *ngIf="this.asset" style="margin-top: 5rem;">
                <p class="text-uppercase small font-weight-medium">
                    Details
                </p>
                <h2 class="text-uppercase font-weight-light">
                    View More details:
                </h2>

                  <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;" *ngIf="this.fromSellOrder === true">
                    <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
                      <mat-card-header>
                        <img src="{{this.asset.imageUrl}}" style="width: 100%; height: 30rem; margin-bottom: 10px; margin-left: 1rem; margin-right: 3rem !important;
                         box-shadow: 5px 5px 5px #ccc;
                      -moz-box-shadow: 10px 10px 5px #ccc;
                      -webkit-box-shadow: 10px 10px 5px #ccc;
                      -khtml-box-shadow: 10px 10px 5px #ccc;">
                      </mat-card-header>
                      <mat-card-subtitle style="text-align: center;">
                        Artist: {{this.asset.artistName}}
                      </mat-card-subtitle>
                      <mat-card-content>
                      </mat-card-content>
                    </mat-card>
              
                    <mat-card class="col-lg-3 col-md-3 col-sm-3" style="font-family: 'Inter', serif;">
                      <mat-card-content>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <p>
                            <b> Title: </b> {{this.asset.titleOfWork}}
                          </p>
                
                          <p>
                              <b> Created on: </b> {{this.asset.createdOn  | date}}
                          </p>
                
                          <p>
                            <b> Market Price: </b>  {{this.asset.marketPrice | currency:"$"}}
                          </p>
                         <p>
                          <b> Symbol: </b> {{this.asset.symbol}}
                         </p>
                          <p>
                            <b> Total Supply: </b> {{this.asset.totalSupply}}
                          </p>
                          <p>
                            <b>Remaining Shares:</b> {{this.remainingShares}}
                          </p>
                          <p *ngIf="this.asset.market === 1">
                            <b>Market:</b> Secondary
                          </p>
                          <p *ngIf="this.asset.market === 0">
                            <b>Market:</b> Primary
                          </p>
                          <p>
                            <b> Token ID: </b> 
                             <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;">
                             
                                {{this.asset.tokenId}} - 
                                Verify <span class="material-icons" style="color: orange !important;">
                                  fingerprint
                                </span>
                            </a>
                          </p>
                          
                          
                        </div>
                      </mat-card-content>
                    </mat-card>
              
              
                    <mat-card class="col-lg-2 col-md-2 col-sm-2" style="border-radius: 10px;" style="font-family: 'Inter', serif;">
                      <mat-card-content>
                        <form #sellForm="ngForm" novalidate>
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <p><b> Account Balance: </b>  {{this.balance | currency:"$"}}</p>
                            </div>
              
                          </div>

                          
            
                       
              
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput [readonly]="!editable"  placeholder={{this.quantity}} type="number" id="amount" name="amount" [(ngModel)]="quantity">
                                </mat-form-field>
                              </div>
                          </div>
              
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width">
                                  <input [readonly]="!editable" matInput placeholder={{this.secondaryPrice}} type="number" id="price" name="price" [(ngModel)]="secondaryPrice">
                                </mat-form-field>
                              </div>
                          </div>
                          
                          <div style="padding-bottom: 20px; " *ngIf="this.notLoggedIn === true" >
                            <button class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#loginModalLong">
                        
                              Sell Asset
                          
                          </button>
                            <div class="clearfix"></div>
                          </div>

                          <div style="padding-bottom: 20px; " *ngIf="this.fromSellOrder">
                            <button class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#sellModalLong">
                        
                              Sell Asset
                          
                          </button>
                            <div class="clearfix"></div>
                          </div>





                          <div  class="modal fade" id="sellModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.fromSellOrder">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div *ngIf="this.fromSellOrder">
                                        <div class="row">
                                            <p style="margin-left: 20%; margin-right: 30%;"> Title: </p> <b> {{this.asset.titleOfWork}} </b>
                                        </div>
                                        <div class="row">
                                            <p style="margin-left: 20%; margin-right: 30%;">
                                                <b>Price: </b> 
                                            </p>
                                            <b>   {{this.asset.marketPrice | currency:"$"}} </b>
                                        </div>

                                        <div class="row">
                                          <p style="margin-left: 20%; margin-right: 25%;">
                                            <b>SMS Fee:</b>
                                          </p>
                                          <b>  {{this.fees.smsNotification | currency:"$"}}</b>
                                        </div>
        
                                        <div class="row">
                                          <p style="margin-left: 20%; margin-right: 25%;">
                                            <b>
                                              NSE Fee:
                                            </b>
                                          </p>
                                          <b>
                                              {{this.fees.nse | currency:"$"}}
                                          </b>
                                        </div>
        
                                        <div class="row">
                                          <p style="margin-left: 19%; margin-right: 16%;">
                                            <b> Transaction Fee: </b>
                                          </p>
                                          <b>   {{this.fees.transaction | currency:"$"}} </b>
                                        </div>
        
                                        <div class="row">
                                          <p style="margin-left: 19%; margin-right: 17%;">
                                            <b> Blockchain Fee: </b>
                                          </p>
                                          <b>  {{this.fees.blockchain | currency:"$"}}</b>
                                        </div>

                                        <div class="row">
                                          <p style="margin-left: 19%; margin-right: 28%;">
                                              <b> Total: </b> 
                                          </p>
                                          <b>  {{this.quantity + this.fees.nse + this.fees.transaction + this.fees.blockchain + this.fees.smsNotification | currency:"$"}}</b>
                                      </div>
                                        
                                        
                                    </div>
                                    <div *ngIf="!this.fromSellOrder">

                                        Please confirm that you intend to sell {{this.asset.titleOfWork}} with the following breakdown:

                                        <div class="row">
                                          <p style="margin-left: 20%; margin-right: 30%;"> Title: </p> <b> {{this.asset.titleOfWork}} </b>
                                      </div>
                                      <div class="row">
                                          <p style="margin-left: 20%; margin-right: 30%;">
                                              <b>Price: </b> 
                                          </p>
                                          <b>  {{this.asset.marketPrice | currency:"$"}} </b>
                                      </div>

                                      <div class="row">
                                        <p style="margin-left: 20%; margin-right: 25%;">
                                          <b>SMS Fee:</b>
                                        </p>
                                        <b>   {{this.fees.smsNotification | currency:"$"}}</b>
                                      </div>
      
                                      <div class="row">
                                        <p style="margin-left: 20%; margin-right: 25%;">
                                          <b>
                                            NSE Fee:
                                          </b>
                                        </p>
                                        <b>
                                           {{this.fees.nse | currency:"$"}}
                                        </b>
                                      </div>
      
                                      <div class="row">
                                        <p style="margin-left: 19%; margin-right: 16%;">
                                          <b> Transaction Fee: </b>
                                        </p>
                                        <b>  {{this.fees.transaction | currency:"$"}} </b>
                                      </div>
      
                                      <div class="row">
                                        <p style="margin-left: 19%; margin-right: 17%;">
                                          <b> Blockchain Fee: </b>
                                        </p>
                                        <b>   {{this.fees.blockchain | currency:"$"}}</b>
                                      </div>

                                      <div class="row">
                                        <p style="margin-left: 19%; margin-right: 28%;">
                                            <b> Total: </b> 
                                        </p>
                                        <b> {{this.asset.marketPrice  + this.fees.transaction + this.fees.blockchain + this.fees.smsNotification | currency:"$"}}</b>
                                    </div>
                                    </div>
                                  
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                  <button data-dismiss="modal"  (click)="sell(sellForm)" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                </div>
                              </div>
                            </div>
                          </div>
                                

                      </form>
                      </mat-card-content>
                    </mat-card>
              
                  </div>
          
          

                <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                  <mat-card class="col-lg-6 col-md-6 col-sm-6" style="font-family: 'Inter', serif;">
                    <mat-card-header>
                      <img src="{{this.asset.media[0].media}}" style="width: 100%; margin-bottom: 10px; margin-left: 1rem;
                       box-shadow: 5px 5px 5px #ccc;
                              -moz-box-shadow: 10px 10px 5px #ccc;
                              -webkit-box-shadow: 10px 10px 5px #ccc;
                              -khtml-box-shadow: 10px 10px 5px #ccc;">
                    </mat-card-header>
                    <mat-card-subtitle style="text-align: center;">
                      Title: {{this.asset.name}}
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
            
            
                  
                  <mat-card class="col-lg-3 col-md-3 col-sm-3">
                      <mat-card-content >
                        <div class="col-lg-12 col-md-12 col-sm-12" style="font-family: 'Inter', serif;">
                            <p>
                                <b> Title: </b> {{this.asset.name}}
                              </p>
                    
                              <p>
                                  <b> Created on: </b> {{this.asset.dateIssued | date  }}
                              </p>

                              <p>
                                <b> Auction starts on: </b> {{this.auctionStart | date  }}
                              </p>

                              <p>
                                <b> Auction ends on: </b> {{this.auctionEnd | date  }}
                              </p>

                              <p>
                                <b> Sell Now Price: </b> {{this.auction.sellNowPrice  }}
                              </p>
                    
                            
                             <p>
                              <b> Symbol: </b> {{this.asset.symbol}}
                             </p>

                             <p>
                              <b> Active Auction: </b> {{this.asset.hasActiveAuction}}
                             </p>

                              <!-- <p>
                                <b>Remaining Shares:</b> {{this.remainingShares}}
                              </p> -->
                              <p>
                                <b> Token ID: </b>  
                                <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;"> 
                                  {{this.asset.tokenId}} - Verify <span class="material-icons" style="color: orange !important;">
                                    fingerprint
                                  </span>
                                </a>
                              </p>
                          
                          
                          </div>
                      </mat-card-content>
                  </mat-card>
            
                  <mat-card class="col-lg-3 col-md-3 col-sm-3" style="font-family: 'Inter', serif;">

                    <!-- <div class="col-md-3" style="margin-left: 9px !important; padding-left: 0 !important;">

                      <div class="btn-group btn-group-toggle" id="filterCategory" data-toggle="buttons" style="border-color: black;">
                        <label class="btn btn-md btn-outline-secondary" 
                              [ngClass]="{active : currentButton == 'first'}"
                              (click) = "currentButton='first'"
                              style="width: 96px !important; text-transform: capitalize;"
                               >
                          <input type="radio" name="options" autocomplete="off" checked >BID  
                        </label>
                      </div>
                  
                    </div> -->
                  
                    
                    <mat-card-content>
                        <form #buyForm="ngForm" novalidate >
           
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <p><b> Account Balance: </b>  {{this.balance}} ETH </p>
                                </div>
                 
                            </div>
                   
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" type="number" id="amount" name="amount" [(ngModel)]="amount">
                                    </mat-form-field>
                                </div>
                            </div>
                   
                               
                            <div style="padding-bottom: 20px; ">
                                <button *ngIf="this.amount" data-toggle="modal" data-target="#marketModalLong" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; margin-left: 10%;">
                            
                                Place Bid
                            
                                </button>

                                <button *ngIf="!this.amount" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; margin-left: 10%;">
                            
                                  Place Bid
                              
                                  </button>
                            
                            </div>
                            <div  class="modal fade" id="marketModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.amount">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <div>
                                        Please Review the fees below, click confirm to  proceed with this bid for {{this.asset.name}} :
                                      <div class="row" style="margin-top: 5px;">
                                          <p style="margin-left: 19%; margin-right: 17%;">
                                              <b> Bidding Price: </b> 
                                          </p>
                                          <b> {{this.amount}}ETH </b>
                                      </div>

                                      <!-- <div class="row">
                                        <p style="margin-left: 19%; margin-right: 24%;">
                                          <b> Gas Fee: </b>
                                        </p>
                                        <b>    {{this.fees.blockchain | currency:"$"}}</b>
                                      </div> -->

                                      <div class="row">
                                        <p style="margin-left: 19%; margin-right: 28%;">
                                            <b> Total: </b> 
                                        </p>
                                        <b>    {{this.amount }} ETH </b>
                                    </div>

                                      </div>
                                    
                                  </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                    <button data-dismiss="modal" (click)="sendMarketOrder()"  type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                           </form>
                 
        
                    </mat-card-content>
                    

                  </mat-card>
            
                </div>


        <!-- <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 1rem;">

          <mat-card class="col-lg-12 col-md-12 col-sm-12" style="font-family: 'Inter', serif;">
              <p class="text-uppercase small font-weight-medium" style=" text-align: left !important; ">
                Asset Description
              </p>
        
            <mat-card-content>
              <p>
                 {{this.asset.description}}
              </p>
            </mat-card-content>
          </mat-card>
  
        </div> -->
          
            </div>

            <div class="container-fluid container-lg container-home" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                <h3 class="text-uppercase font-weight-light">
                    Bidding List
                </h3>
                <p class="text-uppercase small font-weight-medium">
                    Bids ordered from highest to lowest
                </p>
        
            </div>
            
           
            <mat-tab-group style="align-items: center; margin-left: 7rem; font-family: 'Inter', serif;">
              
                
                <mat-tab label="Bids">
                    
                    <div class="row">
                        <!-- <div class="col-lg-2 col-md-2 col-sm-2"></div> -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="container-fluid container-lg container-home" style="height: 100%; width: 100% !important;">
                              
                                <div class="card-body">
                                    <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                                        <div class="table-responsive">      
                                            <table class="table table-hover" >
                                                <thead class="text-success">
                                                    
                                                    <th> Wallet Address </th>
                                                    <th>Bid Price</th>
                                                    <th> Auction ID </th>
                                                </thead>
                                                <tbody >
                                                    <tr *ngFor="let item of this.auction.bids  let i=index" class="Table" >
                                                        <td > {{item.bidder}} </td>
                                                        <td > {{item.bid}} ETH </td>
                                                        <td >   {{item.auctionId}} </td>
                                                        <td *ngIf="(this.account| lowercase) === (item.bidder| lowercase ) && this.auction.isActive === true"> 
                                                          <button  disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;" >
                
                                                            Withdraw
                                                        
                                                        </button>
                                                        <td *ngIf="(this.account| lowercase) === (item.bidder| lowercase ) && this.auction.isActive === false"> 
                                                          <button  disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;" >
                
                                                            Withdraw
                                                        
                                                        </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>           
                                </div>              
                            </div>
                        
                        </div>
                    
                
                    
                    </div >
                </mat-tab>
                <!-- <mat-tab label="Bids (Buy)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="container-fluid container-lg container-home" style="height: 100%; width: 100% !important;">
                                <div class="card-body">
                                    <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                                        <div class="table-responsive">      
                                            <table class="table table-hover" >
                                                <thead class="text-success">
                                                  <th> Bid ID </th>
                                                  <th>Original Price</th>
                                                  <th>Bid Price</th>
                                                  <th> Bid Date </th>
                                                </thead>
                                                <tbody *ngFor="let item of this.buyOrders">
                                                    <tr class="Table" (click)= "viewAssetSell(item.price, item.id, item.amountRemaining)">
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.tokenId}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.originalAmount}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0">   {{item.price | currency:"$"}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0">  {{item.orderDate  | date : 'short'}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>           
                                </div>              
                            </div>
                        
                        </div>
                    
                
                    
                    </div >
                </mat-tab> -->
            </mat-tab-group>
        
            
            
           
            <div class="container-fluid container-lg container-home" style="height: 100%;" *ngIf="this.unavailable">
                <p class="text-uppercase small font-weight-medium">
                    orders
                </p>
                <h2 class="text-uppercase font-weight-light">
                    This asset currently does not have any sell orders.
                </h2>
        
            </div>
      
          
    


      <div class="container-fluid container-lg container-home" style="font-family: 'Inter', serif;">
          
        <p class="text-uppercase small font-weight-medium">
            other listings
        </p>
        <h2 class="text-uppercase font-weight-light">
           Recommendations
        </h2>
        <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
            <mat-card (click)="view(item.tokenId)" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index">
                <mat-card-content  style="position: relative; ">
                    <img src="{{item.imageUrl}}" class="image">
                    <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Price: </b> ${{item.price}}.00
                    </p>
                    <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Artwork Title: </b> {{item.titleOfWork}}
                    </p>
                    
                    
                  </mat-card-content>
            </mat-card>
        </div>

    </div>




  </div>
  
      <app-footer></app-footer>

</div>














