<html class="not-ie no-js" lang="en">  <!--<![endif]-->
<body>
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>
  <ngx-spinner></ngx-spinner>
 
<section id="content" class="container clearfix" style="margin-top: 10px;">

	<article class="single-project">

		<header class="page-header">

			<h1 class="page-title align-left">Asset Details</h1>

			<hr />

			<h2 class="project-title">{{this.asset.name}} / {{this.asset.symbol}}</h2>

			<ul class="portfolio-pagination">
				<li class="prev"><a href="#" class="button medium no-bg"><span class="arrow left">&raquo;</span> Previous</a></li>
				<li class="next"><a href="#" class="button medium no-bg">Next <span class="arrow">&raquo;</span></a></li>
			</ul><!-- end .portfolio-pagination -->
			
		</header><!-- end .page-header -->

		<div id="main">
      <div class="slider">
  
        <!-- <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
        <a href="#slide-4">4</a>
        <a href="#slide-5">5</a> -->
      
        <div class="slides" >
          <div *ngFor="let item of this.asset.media  let i=index" style="height: 400px; width: 800px;">
            <div id="slide-1" *ngIf="item.mediaKey === 'mp4'" >
              <video  controls controlsList="nodownload">
                <source src=" {{item.media}}" type="video/mp4" />
                <source src="{{item.media}}" type="video/webm" />
                <source src=" {{item.media}}" type="video/ogg" />
            </video>
            </div>
            <div id="slide-1" *ngIf="item.mediaKey === 'image'" >
              <img src="{{item.media}}">
            </div>
          </div>
          <!-- <div id="slide-2">
            <video controls controlsList="nodownload">
              <source src="https://res.cloudinary.com/xendbit/raw/upload/v1619857849/bdj9pyhwx82b3ckzubrd" type="video/mp4" />
              <source src="https://res.cloudinary.com/xendbit/raw/upload/v1619857849/bdj9pyhwx82b3ckzubrd" type="video/webm" />
              <source src="https://res.cloudinary.com/xendbit/raw/upload/v1619857849/bdj9pyhwx82b3ckzubrd" type="video/ogg" />
            </video>
          </div>
          <div id="slide-5">
            <img src="https://res.cloudinary.com/xendbit/raw/upload/v1619857848/wol2ppp0ixrxbnmteca6" >
            5
          </div> -->
        </div>
       
      </div>
      
		
		</div><!-- end #main -->

		<div id="sidebar">

			<h4>Overview</h4>

      <p>
        <b> Issue Date: </b> {{this.asset.dateIssued | date  }}
    </p>

    <p>
      <b> Starts on: </b> {{this.auctionStart | date  }}
    </p>

    <p>
      <b> Ends on: </b> {{this.auctionEnd | date  }}
    </p>

			<h4>More Info</h4>

			<ul class="circle">
				<li>
          <p>
          <b> Buy Now Price: </b> {{this.auction.sellNowPrice  }}
        </p>
      </li>
				<li *ngIf="this.asset.hasActiveAuction === true">
          <b> Status: </b> Active
        </li>
				<li *ngIf="this.asset.hasActiveAuction === false">
          <b> Status: </b> In-Active
        </li>
				<li>
          <p>
            <b> Token ID: </b>  
            <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;"> 
              {{this.asset.tokenId}} - Verify <span class="material-icons" style="color: orange !important;">
                fingerprint
              </span>
            </a>
          </p>
        </li>
			</ul>

      <form #buyForm="ngForm" novalidate >
                       
        <div class="row"  *ngIf="(this.account| lowercase) !== (this.auction.owner| lowercase )">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <p class="input-block">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Amount" type="number" id="amount" name="amount" [(ngModel)]="amount" required>
                  </mat-form-field>
                
              </p>
                
            </div>
        </div>

           
        <div style="padding-bottom: 20px; ">
            <button *ngIf="this.amount &&  this.auction.isActive === true && (this.account| lowercase) !== (this.auction.owner| lowercase )" data-toggle="modal" data-target="#marketModalLong" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; margin-left: 10%;">
        
            Place Bid
        
            </button>

            <button *ngIf="!this.amount && (this.account| lowercase) !== (this.auction.owner| lowercase ) || this.auction.isActive === false && (this.account| lowercase) !== (this.auction.owner| lowercase )" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; margin-left: 10%;">
        
              Place Bid
          
              </button>

              <button *ngIf="(this.account| lowercase) === (this.auction.owner| lowercase ) && this.auction.isActive === true" (click)="withdraw()" class="button" style="background-color: green; margin-left: 10%;">
        
                Withdraw
            
                </button>
        
        </div>
        <div  class="modal fade" id="marketModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.amount">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div>
                    Please Review the fees below, click confirm to  proceed with this bid for {{this.asset.name}} :
                  <div class="row" style="margin-top: 5px;">
                      <p style="margin-left: 19%; margin-right: 17%;">
                          <b> Bidding Price: </b> 
                      </p>
                      <b> {{this.amount}}ETH </b>
                  </div>

                  <!-- <div class="row">
                    <p style="margin-left: 19%; margin-right: 24%;">
                      <b> Gas Fee: </b>
                    </p>
                    <b>    {{this.fees.blockchain | currency:"$"}}</b>
                  </div> -->

                  <div class="row">
                    <p style="margin-left: 19%; margin-right: 28%;">
                        <b> Total: </b> 
                    </p>
                    <b>    {{this.amount }} ETH </b>
                </div>

                  </div>
                
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                <button data-dismiss="modal" (click)="sendMarketOrder()"  type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
              </div>
            </div>
          </div>
        </div>
       </form>

    
    
   

		</div><!-- end #sidebar -->

    <div class="one-fourth" style="margin-top: 4rem; ">

      <div >
        <h3 class="text-uppercase font-weight-light">
            Bidding List
        </h3>
        <p class="text-uppercase small font-weight-medium">
            Bids ordered from highest to lowest
        </p>
  
    </div>
  
      <ul class="tabs-nav">
  
        <li class="active">
          <a href="#tab1">Bids</a>
        </li>
  
      </ul><!-- end .tabs-nav -->
  
      <div class="tabs-container">
  
        <div class="tab-content" id="tab1">
          <div class="card-body">
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                <div class="table-responsive">      
                    <table class="table table-hover" >
                        <thead class="text-success">
                            <th>  </th>
                            <th> Wallet Address </th>
                            <th>Bid Price</th>
                            <th> Auction ID </th>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of this.auction.bids  let i=index" class="Table" >
                                <td>  <span  *ngIf="item.bid >= this.sellNowPrice" class="material-icons">
                                        verified
                                      </span>  
                                </td>
                                <td >  {{item.bidder}} </td>
                                <td > {{item.bid}} ETH </td>
                                <td >   {{item.auctionId}} </td>
                                <td *ngIf="(this.account| lowercase) === (item.bidder| lowercase ) && this.auction.isActive === true"> 
                                  <button (click)="withdraw()" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;" >

                                    Withdraw
                                
                                </button>
                                <td *ngIf="(this.account| lowercase) === (item.bidder| lowercase ) && this.auction.isActive === false"> 
                                  <button  disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;" >

                                    Withdraw
                                
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>           
        </div>              
        </div><!-- end #tab1 -->
  
      </div><!-- end .tabs-container -->
      
    </div><!-- end .one-fourth -->
  
    
	</article><!-- end .single-project -->
	
</section><!-- end #content -->

</body>
</html>
<app-footer></app-footer>