@import 'src/assets/scss/utilities/screens';
@import 'src/assets/scss/utilities/mixins';
@import 'src/assets/scss/utilities/variables';
@import 'src/assets/scss/utilities/settings';
@import '~breakpoint-sass/stylesheets/breakpoint';

#logoText{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #366CE3, #D0FC00);
    position: relative;
    z-index: 2;
    // margin-left: -34%; 
    margin-left: -29%;
    font-size: 41px;
    line-height: 80px;
    font-family: "DMSans-Bold";
}

.connect-wallet{
    margin: 0px 0 0px 0;
    .container{
        .col-head-otr{
            margin: 0 auto;
            .connect-heading{
                color: $Black-Color;
            }
        }
        .line{
            width: 100%;
            height: 1px;
            background-color: $Gray-Shade-3;
            margin: 36px 0;
            display: flex;
        }
        .col-connect-otr{
            margin: 0 auto;
            .col-connect-inr{
                .desc{
                    color: $Gray-Shade-1;
                    margin: 0 0 36px 0;
                    .desc-inr{
                        color: $Primary-Color-Home-1;
                    }
                }
                .row-boxes{
                    .col-box-otr{
                        .box-inr{
                            background-color: white;
                            /* border-color: #F2F2F2; */
                            box-shadow: 0 0 10px;
                            border-radius: 24px;
                            padding: 28px 24px 20px 24px;
                            transition: 0.3s;
                            &:hover{
                                background-color: $Primary-Color-Home-1;
                                .head{
                                    color: $White-Color;
                                }
                            }
                            .icon-otr{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 60px;
                                height: 60px;
                                border-radius: 12px;
                                background-color: $White-Color;
                                box-shadow: $box-shadow-custom;
                                margin: 0 0 12px 0;
                            }
                            .head{
                                color: $Black-Color;
                                transition: .3s;
                            }
                        }
                        .box-1,.box-2,.box-3{
                            margin: 0 0 24px 0;
                        }
                        .box-1,.box-2,.box-3,.box-4,.box-5{
                            @include breakpoint($secreen-xs){
                                margin: 0 0 24px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



.navi {
    height: 50px;
    width: 100%;
    position: relative;
  }
  
  .navi > .navi-header {
    display: inline;
  }
  
  .navi > .navi-header > .navi-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .navi > .navi-btn {
    display: none;
  }
  
  .navi > .navi-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .navi > .navi-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .navi > .navi-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .navi > #navi-check {
    display: none;
  }
  
  @media only screen and (min-width:420px) {
    #logoText {
        margin-left: -138%;
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width:1024px) {
    #logoText {
        // margin-left: -40%;
        margin-left: -11%;
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width:768px) and (max-width:780px) {
    #logoText {
        // margin-left: -138%;
        margin-left: -64%; //demo
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width: 280px) and (max-width: 280px){
    #logoText {
        margin-left: 0%;
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }
  }


  @media only screen and (min-width:540px) and (max-width: 540px) {
    #logoText {
        // margin-left: -74%;
        margin-left: -29%; //demo
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }



  @media only screen and (min-width:320px) and ( max-width:400px) {
    #logoText {
        //margin-left: -22%;
        margin-left: 0%; //demo
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width: 401px) and ( max-width:420px) {
    #logoText {
        // margin-left: -40%;
        margin-left: -8%; //demo
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width:320px) and (max-width: 320px) {
    #logoText {
        margin-left: -17%;
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }

  @media only screen and (min-width:600px) and (max-width:620px) {
    #logoText {
        margin-left: -20%;
        font-size: 25px;
        line-height: 80px;
        font-family: "DMSans-Bold";
    }

    .navbar-main .container-fluid .navbar-inr .logo-otr .logo-inr .logo {
        width: 43px;
    }
  }
