<!-- {{trans.language}}: {{config.defaultLanguage}} -->
    <!--=======================================
                Navbar Start Here
    ========================================-->

    <div class="navbar-main">
        <div class="container-fluid">
             <div class="navbar-inr">
                <div class="logo-otr">
                    <a href="./" class="logo-inr">
                        <img  class="logo" src="{{this.headerData.logoPath}}">
                    </a>
                  
                </div>
                <!-- <div class="head-otr" >
                    <h1 id="logoText" class="heading-h1 heading titleGreathorned">
                    Nifty Row [Demo]
                    </h1>
                </div> -->
                <app-search></app-search>
                <div class="navigation-otr">
                    <ul class="navigation-inr">
                        <li class="nav-li" *ngFor="let link of headerData.menuGroup ">
                            <a routerLink= "{{link.path}}" class="nav-a body-sb">{{link.title}} </a>
                            <ul class="dropdown-otr" *ngIf="link.menu.length > 0">
                                <li class="dropdown-li" *ngFor="let item of link.menu ">
                                    <a routerLink="{{item.url}}" class="dropdown-a body-sb">{{item.title}}</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="nav-li">
                            <span  class="nav-a body-sb"> Switch Chains </span>
                            <ul class="dropdown-otr">
                                <li class="dropdown-li" >
                                    <a (click)="switchChain('harmony')" class="dropdown-a body-sb">Harmony</a>
                                </li>
                                <li class="dropdown-li" >
                                    <a (click)="switchChain('bsc')" class="dropdown-a body-sb">BSC</a>
                                </li>
                                <li class="dropdown-li" >
                                    <a (click)="switchChain('polygon')" class="dropdown-a body-sb">Polygon</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <div class="action-otr">
                    <p-overlayPanel #op>
                    
                        <div class="connect-wallet">
                            <div class="container">
                                <div class="col-lg-8 col-head-otr" *ngIf="!accountFound">
                                    <h2 style="font-size: 28px; line-height: 26px;" class="connect-heading heading-h2">Connect Wallet</h2>
                                </div>
                                <div class="col-lg-8 col-head-otr" *ngIf="accountFound">
                                    <h2 style="font-size: 26px; line-height: 26px;" class="connect-heading heading-h2">Disconnect Wallet</h2>
                                </div>
                                <span class="line"></span>
                                <div class="col-lg-8 col-connect-otr">
                                    <div class="col-connect-inr">
                                        
                                       
                                        <div class="row row-boxes" *ngIf="!accountFound">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-box-otr" (click)="connectToMetamask()">
                                                <a class="box-inr box-2" style="height: 9rem;
                                                width: 10rem;" >
                                                    <div class="icon-otr">
                                                        <img class="icon" style="width: 60px; height: 60px; margin-left: 76%;" src="../assets/img/metamask.jpeg" alt="icon">
                                                    </div>
                                                    <h5 class="head heading-h5">MetaMask</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row row-boxes" *ngIf="accountFound">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-box-otr" (click)="disconnectFromMetamask()">
                                                <a class="box-inr box-2" style="height: 9rem;
                                                width: 10rem;" >
                                                    <div class="icon-otr">
                                                        <img class="icon" style="width: 60px; height: 60px; margin-left: 76%;" src="../assets/img/metamask.jpeg" alt="icon">
                                                    </div>
                                                    <h5 class="head heading-h5">Disconnect</h5>
                                                </a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </p-overlayPanel>
                    
                    <a routerLink= "/{{buttonsData.create.path}}" class="btn-fill btn-create">{{buttonsData.create.title}}</a>
                    <a *ngIf="!accountFound" (click)="op.toggle($event)" class="btn-outline1 btn-wallet">{{buttonsData.wallet.title}}</a>
                    <a *ngIf="accountFound" (click)="op.toggle($event)" class="btn-outline1 btn-wallet"> {{account.substring(0, 5) + 'xxxxx' + account.slice(account.length - 5)}} </a>
                </div>
             
                <div class="burger-menu">                
                    <input id="burger" type="checkbox" />
                    <label for="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <nav>
                        <app-search></app-search>    
                        <ul class="navigation-inr">
                            <li class="nav-li" *ngFor="let link of headerData.menuGroup ">
                                <a routerLink= "{{link.path}}" class="nav-a heading-h4 home">{{link.title}} </a>
                                <ul class="dropdown-otr drop-1" *ngIf="link.menu.length > 0">
                                    <li class="dropdown-li" *ngFor="let item of link.menu ">
                                        <a routerLink="{{item.url}}" class="dropdown-a body-mb" style="color: black;">{{item.title}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li> 
                                <button class=" btn-outline1 btn-wallet" style="background-color: transparent; margin-bottom: 5px; width: 40%;">
                                    <a routerLink= "/{{buttonsData.create.path}}">{{buttonsData.create.title}}</a>
                                </button>
                            </li>
                            <li>
                                <button *ngIf="!accountFound" class="btn-outline1 btn-wallet" style="background-color: transparent; margin-bottom: 5px;"> <a  (click)="connectToMetamask()" >{{buttonsData.wallet.title}}</a></button>
                                <button *ngIf="accountFound" class="btn-outline1 btn-wallet" style="background-color: transparent; margin-bottom: 5px;">
                                    <a  (click)="disconnectFromMetamask()"> {{account.substring(0, 5) + 'xxxxx' + account.slice(account.length - 5)}} </a>
                                </button>
                                <p *ngIf="accountFound" class="desc body-sb"> (toggle button to disconnect)</p>
                            </li> 
                            <!-- <div class="row">
                                <div class="col-lg-3">
                                    <li class="icon-li">
                                        <a href="https://www.facebook.com/profile.php?id=100068493288180&sk=about" target="_blank" class="icon-a">
                                            <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 28c6.627 0 12-5.373 12-12S22.627 4 16 4 4 9.373 4 16s5.373 12 12 12z" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 11h-2a3 3 0 00-3 3v14M12 18h8" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-lg-3">
                                    <li class="icon-li">
                                        <a href="https://twitter.com/NiftyRow" class="icon-a">
                                            <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 25s5-1 6-4c0 0-8-3-6-14 0 0 4 5 10 6v-2a5 5 0 019.584-2H30l-4 4c0 7-5 14-14 14-4 0-6-2-6-2z" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-lg-3">
                                    <li class="icon-li">
                                        <a href="" class="icon-a">
                                            <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 16l-6-4v8l6-4z" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 16c0 3.72.384 5.902.676 7.023a1.99 1.99 0 001.204 1.362C9.065 25.993 16 25.95 16 25.95s6.935.044 11.12-1.564a1.99 1.99 0 001.204-1.362C28.616 21.902 29 19.72 29 16c0-3.72-.384-5.902-.676-7.023a1.99 1.99 0 00-1.205-1.362C22.935 6.007 16 6.05 16 6.05S9.065 6.007 4.88 7.615a1.99 1.99 0 00-1.204 1.362C3.384 10.098 3 12.28 3 16z" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                        </a>
                                    </li>
                                </div>
                                <div class="col-lg-3">
                                    <li class="icon-li">
                                        <a href="https://t.me/niftyrow" class="icon-a">
                                            <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 16.859l11.24 9.89a1 1 0 001.635-.527l4.702-20.516a1 1 0 00-1.34-1.154l-23.07 9.063a1 1 0 00.17 1.911L11 16.86zM11 16.86L28.014 4.57" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.613 21.799l-3.906 3.906A1 1 0 0111 24.998v-8.14" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                        </a>
                                    </li> 
                                </div>
                            </div>                   -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<!--=======================================
          Navbar End Here
========================================-->


