  <div class="main-content" style="background: url('/assets/img/nse.png') no-repeat; background-size: cover; object-fit: contain; height: 100vh; ">
    <ngx-spinner></ngx-spinner>
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/assets/img/logo.png"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: auto;
              margin-right: auto;
              margin-top: 3rem;
              margin-bottom: 3rem;"
            />


              <div class="card" style="display: flex; justify-content: center; margin-left: auto; margin-right: auto; opacity: 100%; width: 30rem;">
                  <div class="card-header card-header-danger"  style="background: black;">
                      <h4 class="card-title" style="text-align: center;">ArtExchange Login</h4>
                      <p class="card-category" style="text-align: center; font-family: 'Playfair Display SC', serif; font-size: 11pt;">Please Login With Your Credentials </p>
                  </div>
                  <div class="card-body" style="width: auto; justify-content: center; align-items: center;"> 
                    <mat-card  style="opacity:90%; ">
                      <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                        <mat-form-field style="height: 7rem; font-family: 'Playfair Display SC', serif; text-transform: lowercase !important; ">
                          <mat-icon matPrefix style="margin-right: 2rem ;">person_outline</mat-icon>
                          <input autofocus type="text" matInput placeholder="Email" id="email" name="email" [(ngModel)]="email" >
                        </mat-form-field>
              
                        <mat-form-field style="height: 7rem; font-family: 'Playfair Display SC', serif; text-transform: lowercase;">
                          <mat-icon matPrefix style="margin-right: 2rem ;">lock_outline</mat-icon>
                          <input type="password" autocomplete="false" matInput placeholder="Password" id="password" name="password" [(ngModel)]="password">
                        </mat-form-field>
                        <button (Click)="onSubmit(loginForm)" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 30%;">
                
                          Login
                      
                      </button>
                      </form>
                    </mat-card>
                    <div class="text-center mt-4 font-weight-light" style="font-family: 'Playfair Display SC', serif; font-size: 11pt">
                      Dont have an account? <a href="#/register">Register</a>
                    </div>


                  </div>
              </div>

          </div>
      </div>
  </div>
</div>