
    <!--=======================================
            login Start Here
    ========================================-->

    <div class="login-main">
        <div class="container-fluid">
            <div class="log-in">
                <div class="row row-login">
                    <div class="col-lg-6 col-md-8 col-login-otr">
                        <div class="col-login-inr">
                            <div class="content">
                                <h3 class="head heading-h3">Login to Nifty Row</h3>
                                <div class="login-social">
                                    <span class="line"></span>
                                    <p class="desc body-s">Login with socials</p>
                                    <span class="line"></span>
                                </div>
                                <div class="btn-main">
                                    <div class="btn-otr">
                                        <a href="" class="btn">
                                            <svg class="icon" width="19" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 9h8a8 8 0 11-2.343-5.657" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                            <p class="text body-sb">Google</p>
                                        </a>
                                    </div>
                                    <div class="btn-otr">
                                        <a href="" class="btn">
                                            <svg class="icon" width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 21c5.523 0 10-4.477 10-10S16.523 1 11 1 1 5.477 1 11s4.477 10 10 10z" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.167 6.833H13.5a2.5 2.5 0 00-2.5 2.5V21M7.664 12.667h6.667" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                            <p class="text body-sb">Facebook</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="login-social">
                                    <span class="line"></span>
                                    <p class="desc body-s">Or login with email</p>
                                    <span class="line"></span>
                                </div>
                                <form class="form-main" method="post">
                                    <div class="input-otr">
                                        <input class="input" type="text" name="fname" placeholder="Your Full Name" required>
                                    </div>
                                    <div class="input-otr input-otr-2">
                                        <input class="input" type="email" name="email" placeholder="Your Email Address" required>
                                    </div>
                                    <div class="check-main">
                                        <div class="check">
                                            <label>
                                                <span class="check-inner">
                                                    <input type="checkbox" class="input-check opacity-0 absolute">
                                                    <svg class="fill-current" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#366CE3"/><path d="M16.521 8.938l-6.125 6.125L7.335 12" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                                </span>
                                                <span class="select-none body-sb">Remember Me</span>
                                            </label>
                                        </div>
                                        <a href="" class="forget body-sb">Forgot Password?</a>
                                    </div>
                                    <div class="action-otr">
                                        <input class="button body-sb" type="submit" value="Login">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

<!--=======================================
        login End Here
========================================-->

