
  <!--  <div style="margin-top: 25px; margin-left:20px;">
    <a (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
    </a>
</div>  

<div>
<mat-sidenav #sidenav mode="side" [(opened)]="opened" >
<mat-sidenav-container class="sidebar-wrapper">
<ul class="nav">
  <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
      </a>
  </li>
</ul>
<a (click)="sidenav.toggle()" >
<i class="material-icons" style="margin-top: 100%; margin-left: 80%; color: white; width: 80px;">toggle_off</i>
</a>
</mat-sidenav-container>
</mat-sidenav>
</div> -->

<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
      <ul class="nav navbar-nav nav-mobile-menu">

      </ul>
    </div>
      <ul class="nav" style="position: relative;">
          <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a class="nav-link" [routerLink]="[menuItem.path]">
                  <i class="material-icons">{{menuItem.icon}}</i>
                  <p>{{menuItem.title}}</p>
              </a>
          </li>
      </ul>
      <div>
        <app-footer></app-footer>
    </div>
  </div>


