<div class="main-content" style="background: url('/assets/img/nse.png') no-repeat; background-size: cover; height: 100vh; overflow: hidden;">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="/assets/img/logo.png" style="margin-top: 8rem; margin-bottom: 14px; justify-content: center; margin-left: 14rem; margin-right: auto; align-items: center; width: 15rem;" />
                <div class="card" style="display: flex; justify-content: center; margin-left: auto; margin-right: auto; opacity: 90%; width: 30rem; height: 65vh;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="text-align: center;">Change Password</h4>
                        <p class="card-category" style="text-align: center">Enter New Password </p>
                    </div>
                    <div class="card-body" style="width: auto; justify-content: center; align-items: center;"> 
                      <mat-card  style="opacity:90%; height: 40vh;">
                        <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                          <mat-form-field style="height: 7rem;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="New Password" id="email" name="email" [(ngModel)]="password" >
                          </mat-form-field>

                          <mat-form-field style="height: 7rem;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="Re-Type New Password" id="email" name="email" [(ngModel)]="retypePassword" >
                          </mat-form-field>

                          <mat-form-field style="height: 7rem;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">person_outline</mat-icon>
                            <input autofocus type="text" matInput placeholder="Enter Token" id="email" name="email" [(ngModel)]="token" >
                          </mat-form-field>
                
                          <button (Click)="onSubmit(loginForm)" type="submit" mat-raised-button style="background-color: #f4858e;">Change Password</button>
                        </form>
                      </mat-card>
                      <div class="text-center mt-4 font-weight-light">
                        Dont have an account? <a href="#/register">Register</a>
                      </div>
                      <div class="text-center mt-4 font-weight-light">
                        Admin? <a href="#/admin-login">Login</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
