
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="height: 100%;">
            
          <p class="text-uppercase small font-weight-medium">
              all artworks
          </p>
          <h2 class="text-uppercase font-weight-light">
              All My Artworks
          </h2>
          <div class="row" style="margin-top: 3rem;">
              <mat-card (click)="view(item.tokenId, 'sellPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.myAssets  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                  <mat-card-content  style="position: relative; " >
                      <img src="{{item.data.media}}" class="image">
                     
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Artwork Title: </b> {{item.name}}
                      </p>
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Symbol: </b>   {{item.symbol}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
        </div>

        <div class="container-fluid container-lg container-home">
                
            <p class="text-uppercase small font-weight-medium">
                other Assets (primary market)
            </p>
            <h2 class="text-uppercase font-weight-light">
                Recommendations
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                <mat-card (click)="view(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Price: </b> {{item.price | currency:"$"}}
                        </p>
                        <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

       
        <app-footer></app-footer>

  
  
  
        
  
    </div>
    
    
        
  
  </div>