

<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="height: 100%;">
            <p class="text-uppercase small font-weight-medium">
                orders
            </p>
            <h2 class="text-uppercase font-weight-light">
                My orders
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                <mat-tab-group style="align-items: center; margin-left: 7rem; font-family: 'Playfair Display SC', serif;">
                    <mat-tab label="Buy Order">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                  <thead class="text-success">
                                        <th> Order Type </th>
                                        <th>Order Strategy</th>
                                        <th>Amount remaining</th>
                                        <th> Token ID </th>
                                        <th>Original amount</th>
                                        <th> Price</th>
                                        <th> Action</th>
                                        <!-- <th> Order Date </th> -->
                                  </thead>
                                  <tbody *ngFor="let item of this.buyOrders">
                                      <tr class="Table">
                                          <td>Buy</td>
                                          <td *ngIf="item.orderStrategy === 0"> Good Till Cancel </td>
                                          <td *ngIf="item.orderStrategy === 1"> All Or Nothing </td>
                                          <td *ngIf="item.orderStrategy === 2"> Good Till Day </td>
                                          <td *ngIf="item.orderStrategy === 3">  Good Till Month </td>
                                          <td *ngIf="item.orderStrategy === 4"> Market Order </td>
                                          <td> {{item.amountRemaining}} </td>
                                          <td> {{item.tokenId}} </td>
                                          <td> {{item.originalAmount}} </td>
                                          <td>  {{item.price | currency:"$"}} </td>
                                          <td>
                                            <button (click)="cancelOrder(item.id)" data-toggle="modal" data-target="#orderModalLong"  *ngIf="item.amountRemaining > 0 && item.orderIsCancelled === false"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                            <button *ngIf="item.amountRemaining === 0  && item.orderIsCancelled === !true" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                            <button *ngIf="item.orderIsCancelled === true" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                          </td>
                                          <!-- <td> {{item.orderDate  | date : 'short'}} </td> -->
                                      </tr>
                                  </tbody>
                                  
                                </table>

                                
                            </div>


                            <!-- <div  class="modal fade" id="orderModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                          Please confirm that you intend to cancel this order even with shares remaining.  
                                        </div>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                      <button data-dismiss="modal"  type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                                    </div>
                                  </div>
                                </div>
                              </div> -->

                        </div>
    
                    </mat-tab>
                    <mat-tab label="Sell Order">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                  <thead class="text-success">
                                      <th> Order Type </th>
                                      <th>Order Strategy</th>
                                      <th>Amount remaining</th>
                                      <th> Token ID </th>
                                      <th>Original amount</th>
                                      <th> Price</th>
                                      <th> Action</th>
                                      <!-- <th> Order Date </th> -->
                                  </thead>
                                  <tbody *ngFor="let item of this.sellOrders">
                                      <tr class="Table">
                                        <td>Sell</td>
                                        <td *ngIf="item.orderStrategy === 0"> Good Till Cancel </td>
                                        <td *ngIf="item.orderStrategy === 1"> All Or Nothing </td>
                                        <td *ngIf="item.orderStrategy === 2"> Good Till Day </td>
                                        <td *ngIf="item.orderStrategy === 3">  Good Till Month </td>
                                        <td *ngIf="item.orderStrategy === 4"> Market Order </td>
                                        <td> {{item.amountRemaining}} </td>
                                        <td> {{item.tokenId}} </td>
                                        <td> {{item.originalAmount}} </td>
                                        <td>   {{item.price | currency:"$"}} </td>
                                        <td>
                                            <button (click)="cancelOrder(item.id)" data-toggle="modal" data-target="#orderModalLong"  *ngIf="item.amountRemaining > 0 && item.orderIsCancelled !== true"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                            <button *ngIf="item.amountRemaining === 0 " disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                            <button *ngIf="item.orderIsCancelled === true" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                                                Cancel
                                            
                                            </button>

                                        </td>
                                        <!-- <td> {{item.orderDate  | date : 'short'}} </td> -->
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
              
            </div>
    
        </div>
  

        <div class="container-fluid container-lg container-home">
            
          <p class="text-uppercase small font-weight-medium">
              other listings
          </p>
          <h2 class="text-uppercase font-weight-light">
             Recommendations
          </h2>
          <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
              <mat-card (click)="viewBuy(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Price: </b> ${{item.price}}
                      </p>
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
      </div>
  
  
  
  
    </div>
    
        <app-footer></app-footer>
  
  </div>
  


  
  
  



  
  



