<div class="main-content" style="background: url('/assets/img/nse.png') no-repeat; background-size: cover; height: 100vh; overflow: hidden;">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3"></div>
            <div class="col-md-6">
              <img src="/assets/img/logo.png" style="margin-top: 8rem; margin-bottom: 14px; justify-content: center; margin-left: 14rem; margin-right: auto; align-items: center; width: 15rem;" />
              <mat-card>
                <div class="card">
                  <div class="card-header card-header-danger" style="background: #AE539D;">
                    <h4 class="card-title" style="text-align: center;">Request Password Change</h4>
                    <p class="card-category" style="text-align: center">Enter Your email to request password change </p>
                </div>
                </div>
                <div class="card-body" style="justify-content: center; align-items: center;"> 
                  <mat-card  style="opacity:90%;">
                    <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                      <mat-form-field style="height: 7rem;">
                        <mat-icon matPrefix style="margin-right: 2rem ;">mail_outline</mat-icon>
                        <input autofocus type="text" matInput placeholder="Email" id="email" name="email" [(ngModel)]="email" >
                      </mat-form-field>
            
                      <button (Click)="onSubmit(loginForm)" type="submit" mat-raised-button style="background-color: #f4858e;">Submit Request</button>
                    </form>
                  </mat-card>
                  <div class="text-center mt-4 font-weight-light">
                    Dont have an account? <a href="#/register">Register</a>
                  </div>
                </div>
              </mat-card>
            </div>
        </div>
    </div>
  </div>
