@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
body {
    width: 100% !important;
    margin: 0;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #909090;
    text-align: left;
    background-color: #fff;
    border-top: 6px solid #3a3a3a;
    font: 11px/1.7 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.header {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 600;
    margin-left: 1rem;
}

#container_home .hero-content {
    padding: 3vw 2vw;
}

.w-100 {
    width: 100%!important;
}

#container_home .container-home {
    margin-bottom: 6rem;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}
#container_home .hero-subtitle {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Playfair Display SC', serif;
}
.text-white {
    color: #fff!important;
}
#container_home .hero-link {
    position: absolute;
    right: -55px;
    bottom: 0;
    z-index: 100;
}

.demo-wrap {

	position: relative;
  }
  
  .demo-bg {
	opacity: 0.3;
	background-color: rgba(0,0,0,0.8); 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }

.img-fluid, .img-thumbnail {
    width: 45rem;
    height: auto;
}

img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}


.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.mt-0, .my-0 {
    margin-top: 0!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}

#sticky_nav {
    font-size: 17px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.bg-white {
    background-color: #fff!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.w-50 {
    width: 50%!important;
}

.align-items-end {
    align-items: flex-end!important;
}
.justify-content-center {
    justify-content: center!important;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.position-static {
    position: static!important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#container_home .container-home {
    margin-bottom: 6rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
    font-family: 'Playfair Display SC', serif;
}
.font-weight-medium {
    font-weight: 500!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    line-height: 1.2;
}

.font-weight-light {
    font-weight: 300!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#container_home figure.cover.trend, #container_home figure.cover.trend img {
    height: 320px;
}

#container_home figure.cover {
    overflow: hidden;
    margin-bottom: 2rem;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;

   
}

figure {
    margin: 0 0 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}



.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}


.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.bg-dark {
    background-color: #343a40!important;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.image {
    width: 100%;
    margin-bottom: 6px; 
    height: 15rem; 
    object-fit: cover;
}

.w-25 {
    width: 25%!important;
}

/* -------------------------------------------------- */
	/*	Projects Carousel
	/* -------------------------------------------------- */

    .no-js .another-carousel{
		border-top: 1px solid #efefef;
		margin: 15px -20px 60px 0;
		padding: 25px 0 0;
	}
	.no-js .projects-carousel, .no-js .post-carousel {
		/* border-top: 1px solid #efefef; */
		margin: 15px -20px 60px 0;
		padding: 25px 0 0;
	}

    .another-carousel > li {
        float: left;
        list-style: none;
        margin: 0 20px 0 0;
        overflow: hidden;
        position: relative;
    }
		
		.projects-carousel > li, .post-carousel > li, #portfolio-items > article {
			float: left;
			list-style: none;
			margin: 0 20px 0 0;
			overflow: hidden;
			position: relative;
		}

		
		.projects-carousel > li, .post-carousel > li { width: 270px; }
        .another-carousel > li { width: 220px; }

		.projects-carousel, .another-carousel, #portfolio-items { font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
		
		.no-js .post-carousel > li {
			display: inline-block;
			float: none;
		}
        
        .projects-carousel > li {
            margin-bottom: 0px;
        }

        .another-carousel > li {
            margin-bottom: 0px;
        }

		.no-js .projects-carousel > li, .no-js #portfolio-items > article { margin-bottom: 0px; }
        .no-js .another-carousel > li { margin-bottom: 0px; }

		 #portfolio-items article a {
			border-bottom: 1px solid #efefef;
			display: block;
			text-align: center;
		}
		
		/* .projects-carousel a { padding: 20px 0 0; } */

		#portfolio-items article a, #portfolio-items article .audio-player, #portfolio-items article .video-player { margin: 0 auto; }
        

			.projects-carousel img, #portfolio-items article img {
				background-color: #fff;
				margin: 0 auto -5px;
				filter: alpha(opacity=70); /* Fallback for old IE */
				opacity: 0.7;
			}

            .another-carousel img {
				background-color: #fff;
				margin: 0 auto -5px;
				filter: alpha(opacity=70); /* Fallback for old IE */
				opacity: 0.7;
			}

			.no-js .projects-carousel img, .no-js #portfolio-items article img { margin-bottom: 0; }
            .no-js .another-carousel img { margin-bottom: 0; }

			.projects-carousel img { 
				/* margin: -25px auto 20px;  */
				object-fit: cover;
				margin: 0;
				width: 25rem;
				height: 16rem;
			}

			.projects-carousel video { 
				/* margin: -25px auto 20px;  */
			}

            .projects-carousel audio { 
				/* margin: -25px auto 20px;  */
				width: 17rem;
			}

            .another-carousel img { margin: -25px auto 20px; }

			.projects-carousel .title, #portfolio-items > article .title {
				font-weight: 400;
				margin-bottom: 0;
                text-align: center;
			}

            .another-carousel .title {
				font-weight: 400;
				margin-bottom: 0;
                text-align: center;
			}

			.projects-carousel > li .categories, #portfolio-items > article .categories {
				color: #aeaeae;
				display: block;
				font-style: italic;
                text-align: center;
				margin: -1px 0 20px;
			}

            .another-carousel > li .categories {
				color: green;
				display: block;
				font-style: italic;
				margin: -1px 0 20px;
			}

			.projects-carousel a:hover, #portfolio-items > article:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #f15a23;
			}

            .another-carousel a:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #f15a23;
			}

			.not-ie .projects-carousel a:hover:after, .not-ie #portfolio-items > article:hover:after {
				background: #f15a23;
				bottom: -2.5px;
				content: '';
				left: 50%;
				display: block;
				height: 5px;
				margin: 0 0 0 -2.5px;
				-webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					 -o-transform: rotate(45deg);
						transform: rotate(45deg);
				position: absolute;
				width: 5px;
			}

            .not-ie .another-carousel a:hover:after {
				background: #f15a23;
				bottom: -2.5px;
				content: '';
				left: 50%;
				display: block;
				height: 5px;
				margin: 0 0 0 -2.5px;
				-webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					 -o-transform: rotate(45deg);
						transform: rotate(45deg);
				position: absolute;
				width: 5px;
			}

			.projects-carousel a:hover img, #portfolio-items > article:hover img {
				filter: alpha(opacity=100); /* Fallback for old IE */
				opacity: 1;
			}

            .another-carousel a:hover img {
				filter: alpha(opacity=100); /* Fallback for old IE */
				opacity: 1;
			}

			.projects-carousel a:hover .title, #portfolio-items > article:hover .title { color: #f15a23; }
            .another-carousel a:hover .title { color: #f15a23; }
			.image-box {

				/* Here's the trick */
				box-shadow: inset 0 0 0 100vw rgb(0 0 0 / 25%);
			  
				/* Basic background styles */
				background: var(--image-url) center center no-repeat;
				background-size: cover;
			  
				/* Here's the same styles we applied to our content-div earlier */
				
				
			  }

			  #content img {
				/* height: auto; */
				max-width: 100%;
			}

			.mat-card-header {
				display: block;
				flex-direction: row;
			}

			.jcarousel-clip {
				display: none !important;
			}
			
			.vid-card {
				border-radius: 10px; 
				padding: 0px !important;
			  }

			  .vid-card > .mat-card-header {
				display: flex;
				flex-direction: column;
			  }

			  #audioSection{
				overflow: hidden;
				position: relative;
				top: 0px;
				margin: 0px;
				padding: 0px;
				left: 0px;
				width: 0;
				max-height: 25.7rem;
			}
	
			#artSection {
				overflow: hidden;
				position: relative;
				top: 0px;
				margin: 0px;
				padding: 0px;
				left: 0px;
				width: 0;
				max-height: 22.3rem;
			}
	
			.audioStyle{
				width: 33rem;
				height: 2rem;
				background: transparent;
			}
	
			#vidSection {
				overflow: hidden;
				position: relative;
				top: 0px;
				margin: 0px;
				padding: 0px;
				left: 0px;
				width: 0;
				max-height: 24rem;
			}
	
			


            


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	#main {
		width: 295px;
		/* box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%); */
		padding-bottom: 0;
	}

    .h5 {
        text-align: center;
        margin-top: 70px;
        margin-left: 10%;
        margin-right: 20%;
    }

	.image-box {

		/* Here's the trick */
		box-shadow: inset 0 0 0 100vw rgb(0 0 0 / 65%);

		/* Basic background styles */
		background: var(--image-url) center center no-repeat;
		background-size: cover;

		/* Here's the same styles we applied to our content-div earlier */
		color: white;
		min-height: 60vh;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 30px;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}


	.projects-carousel audio { 
		/* margin: -25px auto 20px;  */
		width: 19rem;
	}

	.projects-carousel img{
		object-fit: cover;
		/* margin: 0; */
		width: 34rem;
		height: 17rem;
		/* margin-left: -32px; */
		margin-right: 0px;
		margin-left: 0px !important;
		/* margin-top: -23px; */
		margin-top: 0px;
	}

	.randomCard {
		width: 9.0rem;
		height: 11rem;
		margin-left: 0px;
		border-radius: 10px;
	}

	.randomImage {
		height: 11rem;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		border-radius: 3px 3px 3px 3px;
	}

	.audioStyle{
		width: 10.7rem;
		height: 2rem;
		background: transparent;
	}

	.randomCard-video {
		width: 9rem;
		height: 100%;
		object-fit: cover;
		margin-left: 0px;
		margin-top: 0px;
		/* margin-bottom: -21px; */
		border-radius: 10px;
	}				


	#audioSection{
		overflow: hidden;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		width: 0;
		height: 437px;
	}

	#artSection {
		overflow: hidden;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		width: 0;
		height: 380px;
	}

	#vidSection {
		overflow: hidden;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		left: 0px;
		width: 0;
		height: 360px;
	}

	.mat-card-header {
		display: contents;
		flex-direction: row;
	}

   

    mat-card {
        width: 18rem;
    }

    .projects-carousel > li {
        width: 300px;
    }

    .projects-carousel  video {
        width: 13.9rem;
        height: 12.3rem;
        object-fit: cover;
    }

	#sidebar {
		float: none;
		margin-top: 40px;
		width: 100%;
	}

	#sidebar > div {
		margin-top: 30px;
	}

	.slides > video {
		object-fit: contain;
	}

    .slides > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        /* width: 300px;
        height: 400px; */
        /* margin-right: 50px; */
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
		box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%)
      }
      .slides > div:target {
        transform: scale(0.8);
      }
     
    .slides #slide-1 {
        width: 295;
		height: 400px;
        object-fit: contain;
		box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%)
    }
    .slides #slide-2 {
        width: 295px;
        height: 400px;
        object-fit: contain;
    }

	.slides #slide-1 video {
		width: 300px; 
		height: 400px;
		object-fit: contain;
    }

	.slides #slide-1 img {
		width: 300px; 
		height: 400px;
		object-fit: cover;
    }

	.slides #slide-2 video {
		width: 300px; 
		height: 400px;
		object-fit: contain;
    }

	.slides #slide-5 {
        width: 295px;
        height: 400px;
        
    }

	.slides #slide-5 img {
		width: 300px; 
		height: 400px;
		object-fit: cover;
    }
	/* -------------------------------------------------- */
	/*	Basic Elements & Classes
	/* -------------------------------------------------- */

	.fluid-width-video-wrapper { margin-bottom: 10px; }
			
	/* -------------------------------------------------- */
	/*	Generic Classes
	/* -------------------------------------------------- */

	.align-left, .align-right { float: none; }
		
	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container { width: 300px; }

		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		.one-half, .one-third, .two-third, .one-fourth, .three-fourth {
			float: none;
			margin-right: 0;
		}

		.one-half, #main .one-half  { width: 300px; }

			.one-third, #main .one-third { width: 300px; }

		.two-third, #main .two-third { width: 300px; }

		.one-fourth, #main .one-fourth { width: 300px; }

			.three-fourth, #main .three-fourth { width: 300px; }
		
	/* -------------------------------------------------- */
	/*	Header
	/* -------------------------------------------------- */

	#header { height: auto; }

		#logo {
			display: block;
			float: none;
			text-align: center;
		}

	/* -------------------------------------------------- */
	/*	Sidebar
	/* -------------------------------------------------- */

	#sidebar {
		float: none;
		margin-top: 40px;
		width: 100%;
	}

}


