
    <!--=======================================
               About Start Here
    ========================================-->

    <div class="about-main">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-lg-5 col-head-otr">
                    <div class="col-head-inr">
                        <h2 class="head heading-h2">Create, Sell & Collect Wonderful NFTs at Nifty Row Very Fast</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-text-otr">
                    <div class="col-text-inr">
                        <p class="desc body-m">
                          Nifty Row is the NFT marketplace for the unsung from Africa, South-America, and the MENA region. 
                          The marketplace features Digital art, Music, Movies and Physical artwork. 
                          Nifty row is employing the blockchain to solve the issues of authenticity, counterfeits and provenance of art while providing access to DeFi services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
              <img class="wrapper" src="../assets/img/about_dark.jpg" alt="img">
                <!-- <div class="row row-imgs">
                  
                </div> -->
            </div>
        </div>
    </div>

<!--=======================================
           About End Here
========================================-->


    <!--=======================================
               Statistics Start Here
    ========================================-->

    <div class="statistics-main">
        <div class="container-fluid">
            <div class="wrapper">
                <h3 class="head heading-h3">Global Art Market</h3>
            </div>
            <div class="row row-statistics">
                <div class="col-lg-6 col-bidth-otr box-1">
                    <div class="col-bidth-inr">
                      <span class="price body-m"> Africa </span>
                        <h2 class="heading heading-h2">$15bn+</h2>
                        <p class="desc body-m">Africa's art market in 2023
                          as projected from $12.5bn in 2018.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-2">
                    <div class="col-bidth-inr">
                      <span class="price body-m">World</span>
                        <h2 class="heading heading-h2">$64.1bn+</h2>
                        <p class="desc body-m">Global art sales in 2019.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-3">
                    <div class="col-bidth-inr">
                      <span class="price body-m">Nigeria</span>
                        <h2 class="heading heading-h2">$11bn+</h2>
                        <p class="desc body-m">Entertainment & Media for Nigeria alone in 2023.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-4">
                    <div class="col-bidth-inr">
                      <span class="price body-m">NFT</span>
                        <h2 class="heading heading-h2">$40bn</h2>
                        <p class="desc body-m">Total NFT volume year(2021)</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--=======================================
           Statistics End Here
========================================-->


