
    <!--=======================================
               About Start Here
    ========================================-->

    <div class="about-main">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-lg-5 col-head-otr">
                    <div class="col-head-inr">
                        <h2 class="head heading-h2">Create, Sell & Collect Wonderful NFTs at Nifty Row Very Fast</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-text-otr">
                    <div class="col-text-inr">
                        <p class="desc body-m">
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form, by injected humour, 
                            or randomised words which don't look even slightly believable. 
                            If you are going to use a passage of Lorem Ipsum, you need to be sure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="row row-imgs">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-1">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img4.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img8.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img16.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-2">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img12.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img6.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img2.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-3">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img1.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img3.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img9.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-4">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img14.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img10.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img15.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-5">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img2.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img8.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img17.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-img-otr box-6">
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img9.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img4.jpg" alt="img">
                        </div>
                        <div class="col-img-inr">
                            <img class="about-img img-fluid" src="../assets/img/cover-img16.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--=======================================
           About End Here
========================================-->


    <!--=======================================
               Statistics Start Here
    ========================================-->

    <div class="statistics-main">
        <div class="container-fluid">
            <div class="wrapper">
                <h3 class="head heading-h3">Nifty Row Statistics</h3>
            </div>
            <div class="row row-statistics">
                <div class="col-lg-6 col-bidth-otr box-1">
                    <div class="col-bidth-inr">
                        <h2 class="heading heading-h2">6,340 ETH <span class="price body-mb">$97,356</span></h2>
                        <p class="desc body-m">Creators have earned since the launch of Nifty Row.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-2">
                    <div class="col-bidth-inr">
                        <h2 class="heading heading-h2">2,405 NFTs</h2>
                        <p class="desc body-m">Have been created since the launch of Nifty Row.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-3">
                    <div class="col-bidth-inr">
                        <h2 class="heading heading-h2">1,446 Creators</h2>
                        <p class="desc body-m">Have joined Nifty Row since the launch of Nifty Row.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-bidth-otr box-4">
                    <div class="col-bidth-inr">
                        <h2 class="heading heading-h2">1,035 Bids</h2>
                        <p class="desc body-m">Have been placed since the launch of Nifty Row.</p>
                        <img class="circle-img" src="../assets/img/statistics-circles.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--=======================================
           Statistics End Here
========================================-->


