<div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
    <a href="./pages/Single-Creator.html" class="create-inr box1">
      <div class="create-img">
        <img class="img-create" src="{{collector.photo.displayImage}}" alt="create-img">
        <div class="check-otr">
          <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </div>
      </div>
      <div class="create-content">
        <p class="body-sb create-pb"> {{collector.username}} </p>
        <p class="body-s create-p"> {{collector.type}} </p>
      </div>
    </a>
</div>
