
<div ngxUiLoaderBlurred [blur]="10">
  <app-header *ngIf="showHeader !== false" [buttonsInfo]="navButtons" [headerInfo]="headerInfo" ></app-header>
  <div>
    <router-outlet></router-outlet>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > ... </p></ngx-spinner>
  </div>
  <app-footer [footerInfo]="footerInfo"></app-footer>
</div>
<ngx-ui-loader [fgsType]="SPINNER" [fgsColor]="'#6D668C'" [fgsSize]="80"
[logoUrl]="'./assets/img/niftyrow.svg'"
[logoPosition]="'center-center'" [logoSize]="70" [gap]="0"></ngx-ui-loader>
