
    <!--=======================================
                Create Start Here
    ========================================-->

    <div class="connect-wallet">
        <div class="container">
            <div class="col-lg-8 col-head-otr">
                <h2 class="connect-heading heading-h2">Connect Wallet</h2>
            </div>
            <span class="line"></span>
            <div class="col-lg-8 col-connect-otr">
                <div class="col-connect-inr">
                    <p class="desc body-m"> 
                        You can connect your wallet with one of the following wallet providers.
                    </p>
                    <div class="row row-boxes">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr">
                            <!-- <a href="" class="box-inr box-1">
                                <div class="icon-otr">
                                    <img class="icon" src="../assets/img/wallet-icon-1.png" alt="icon">
                                </div>
                                <h5 class="head heading-h5">MetaMask</h5>
                            </a> -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr" (click)="connectToMetamask()">
                            <a class="box-inr box-2" >
                                <div class="icon-otr">
                                    <img class="icon" style="width: 60px; height: 60px;" src="../assets/img/metamask.jpeg" alt="icon">
                                </div>
                                <h5 class="head heading-h5">MetaMask</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr">
                            <!-- <a href="" class="box-inr box-3">
                                <div class="icon-otr">
                                    <img class="icon" src="../assets/img/wallet-icon-3.png" alt="icon">
                                </div>
                                <h5 class="head heading-h5">MyEtherWallet</h5>
                            </a> -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr">
                            <!-- <a href="" class="box-inr box-4">
                                <div class="icon-otr">
                                    <img class="icon" src="../assets/img/wallet-icon-4.png" alt="icon">
                                </div>
                                <h5 class="head heading-h5">Fortmatic</h5>
                            </a> -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr">
                            <!-- <a href="" class="box-inr box-5">
                                <div class="icon-otr">
                                    <img class="icon" src="../assets/img/wallet-icon-5.png" alt="icon">
                                </div>
                                <h5 class="head heading-h5">Binance Wallet</h5>
                            </a> -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-box-otr">
                            <!-- <a href="" class="box-inr box-6">
                                <div class="icon-otr">
                                    <img class="icon" src="../assets/img/wallet-icon-6.png" alt="icon">
                                </div>
                                <h5 class="head heading-h5">Trust Wallet</h5>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--=======================================
            Create End Here
========================================-->

