
<div class="mm-page mm-slideout" style="background-color: white; ">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="height: 100%;">
            
          <p class="text-uppercase small font-weight-medium">
              approve
          </p>
          <h2 class="text-uppercase font-weight-light">
              Approve pending assets
          </h2>
          <div class="d-flex flex-row flex-nowrap" style="margin-top: 3rem; overflow-x: scroll;">
            <mat-card class="col-lg-3 col-md-3 col-sm-6"  *ngFor="let item of this.unapproved  | slice:0:10; let i=index" style="margin-right: 10px;">
              <h4 style="text-align: center;"> Details of Art: </h4>
              <mat-card-subtitle style="text-align: center;">
                Artist: {{item.artistName}}
              </mat-card-subtitle>
              <mat-card-content  style="position: relative; margin-bottom: 60px; ">
                <img src="{{item.imageUrl}}" class="image">
                <p class="paragraph">
                  <b> Price: </b> ${{item.price}}
                </p>
                <p class="paragraph">
                  <b> Artwork Title: </b> {{item.titleOfWork}}
                </p>
                
                
              </mat-card-content>
              <div class="col-lg-2 col-md-2 col-sm-2" style="bottom: 2%; position: absolute; margin-top: 1rem; align-items: center;">
                <button (click)="view(item.tokenId)" style="margin-left: 10px; align-items: center; background-color: green !important;" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap">View Asset</button>
              </div>
             
            </mat-card>
          </div>
  
        </div>
  
       
  
        <footer class="d-md-block footer-bottom">
            <div class=" mt-5 pt-4 footer bg-dark  " style="opacity: 0.93;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                About
                            </h4>
                        </div>
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                Terms
                            </h4>
                        </div>
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                Contact
                            </h4>
                        </div>
  
                    </div>
  
                </div>
  
            </div>
  
        </footer>
  
  
  
  
  
        
  
    </div>
    
    
        
  
  </div>  
    