@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
body {
    width: 100% !important;
    margin: 0;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.header {
    font-family: 'Playfair Display SC', serif;
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 600;
    margin-left: 1rem;
}

#container_home .hero-content {
    padding: 3vw 2vw;
}

.w-100 {
    width: 100%!important;
}

#container_home .container-home {
    margin-bottom: 6rem;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}
#container_home .hero-subtitle {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Playfair Display SC', serif;
}
.text-white {
    color: #fff!important;
}
#container_home .hero-link {
    position: absolute;
    right: -55px;
    bottom: 0;
    z-index: 100;
}

.img-fluid, .img-thumbnail {
    width: 43rem;
    height: 33rem;
}

img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}


.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.mt-0, .my-0 {
    margin-top: 0!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}

#sticky_nav {
    font-size: 17px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.bg-white {
    background-color: #fff!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.w-50 {
    width: 50%!important;
}

.align-items-end {
    align-items: flex-end!important;
}
.justify-content-center {
    justify-content: center!important;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.position-static {
    position: static!important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#container_home .container-home {
    margin-bottom: 6rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
    font-family: 'Playfair Display SC', serif;
}
.font-weight-medium {
    font-weight: 500!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Playfair Display SC', serif;
}

.font-weight-light {
    font-weight: 300!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#container_home figure.cover.trend, #container_home figure.cover.trend img {
    height: 320px;
}

#container_home figure.cover {
    overflow: hidden;
    margin-bottom: 2rem;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;

   
}

figure {
    margin: 0 0 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}



.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}


.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.bg-dark {
    background-color: #343a40!important;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.image {
    width: 100%;
    margin-bottom: 6px; 
    height: 15rem; 
    object-fit: cover;
}

.w-25 {
    width: 25%!important;
}

[data-dropdown=hover] .dropdown>.dropdown-menu {
    top: 87%!important;
    border-radius: unset;
    cursor: default!important;
}

[data-dropdown=hover] .dropdown-menu.w-100 {
    height: 370px!important;
}

.navbar-nav .dropdown-menu {
    position: dynamic;
    float: none;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}

.w-100 {
    width: 100%!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.border-0 {
    border: 0!important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}

.align-items-start {
    align-items: flex-start!important;
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
