<div class="featured-creator">
  <div class="container-fluid">
    <div class="featured-creator-inr">
      <div class="heading-otr">
        <div class="head-otr">
          <h3 class="heading heading-h3">Curators of the Week</h3>
        </div>
        <a href="./pages/Explore-Creators.html" class="view-all">
          <p class="View-p body-sb">View All Creators</p>
          <svg class="arrow-icon" width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8h16M10.455 1.455L17 8l-6.545 6.545" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
      </div>
      <span class="line"></span>
      <div class="row row-custom">
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box1">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image16.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Meta Boss</p>
              <p class="body-s create-p">0.25 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box2">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image10.jpg" alt="create-img">
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">The Lucky Being</p>
              <p class="body-s create-p">4.10 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box3">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image13.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Artist of Now</p>
              <p class="body-s create-p">1.50 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box4">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image12.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Biggest Bang</p>
              <p class="body-s create-p">3.30 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box5">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image6.jpg" alt="create-img">
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Usman Ansari</p>
              <p class="body-s create-p">40 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box6">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image15.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">King Kong</p>
              <p class="body-s create-p">5.50 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box7">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image7.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Craftold</p>
              <p class="body-s create-p">0.6 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box8">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image9.jpg" alt="create-img">
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Meow Bits</p>
              <p class="body-s create-p">6.30 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box9">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image8.jpg" alt="create-img">
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Wow Creates</p>
              <p class="body-s create-p">2.35 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box10">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image18.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Ding Dong</p>
              <p class="body-s create-p">2.00 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box11">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image5.jpg" alt="create-img">
              <div class="check-otr">
                <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </div>
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Fantasy ETH</p>
              <p class="body-s create-p">4.60 ETH</p>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 creator-otr">
          <a href="./pages/Single-Creator.html" class="create-inr box12">
            <div class="create-img">
              <img class="img-create" src="assets/img/user-Image17.jpg" alt="create-img">
            </div>
            <div class="create-content">
              <p class="body-sb create-pb">Young Artist</p>
              <p class="body-s create-p">1.56 ETH</p>
            </div>
          </a>
        </div>
      </div>
      <div class="responsive">
        <a href="./pages/Explore-Creators.html" class="view-all">
          <p class="View-p body-sb">View All Creators</p>
          <svg class="arrow-icon" width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8h16M10.455 1.455L17 8l-6.545 6.545" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
      </div>
    </div>
  </div>
</div>
