    <ngx-spinner></ngx-spinner>
    <app-navbar *ngIf="this.userAgent === 'mobile'"></app-navbar>
    <div class="demo-wrap">
        <app-navbar *ngIf="this.userAgent !== 'mobile'"> </app-navbar>
        <img
          class="demo-bg"
          src="/assets/img/banner-bg.jpg"
          alt=""
        >
        <div class="demo-content" style="position: relative">
            <div class="container-fluid mt-4 container-home" style="height: 100%; border-radius: 10px; ">
                <div class="row no-gutters">
                    <div class="bootContainer mt-4">
                        <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div *ngIf="this.userAgent !== 'mobile'"  class="row">
                                    <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="width: 100%; border-radius: 10px;">
                                        <div style="box-shadow: 0 4px 20px 0px rgb(0 0 0 / 34%); border-radius: 10px;">
                                            <img class="img-fluid" loading="lazy" style="border-radius: 10px;" src="/assets/img/tryslide.jpg">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-4 col-lg-4 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="width: 100%;">
                                        <div class="hero-content w-100">
                                            <h1 class="text-white text-center text-lg-left hero-title" style="
                                            margin-right: 5%; 
                                            color: #6C4C9C !important; 
                                            text-transform: capitalize;
                                            font-size: 30px;
                                            font-weight: bold;">  
                                                Buy and trade artwork via the blockchain
                                            </h1>
                                            <p class="h5 text-white text-center text-lg-left hero-subtitle" style="
                                            color: black !important; 
                                            margin-right: 5%; 
                                            font-size:larger; 
                                            text-transform: capitalize; 
                                            font-size: 15px;">
                                                Track and audit artwork provenance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.userAgent === 'mobile'" class="row">
                                    <div class="col-12 col-lg-12 d-flex align-items-center pb-5 p-sm-5 p-lg-0 hero-col" style="
                                    margin-top: 0; ">
                                        <div class="image-box" style="--image-url: url('/assets/img/tryslide.jpg');">
                                            <div class="card" style="width: 80%; min-height: 23vh; opacity: 60%; color: white; background-color: transparent;">
                                                <h3 class="text-center text-lg-left hero-title" style="
                                                color: white; 
                                                margin-top: 20%;
                                                text-align: center !important;
                                                text-transform: capitalize !important; 
                                                font-weight: bold;">  
                                                    Buy and trade art on the blockchain
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                            <div *ngIf="this.userAgent !== 'mobile'" class="row">
                                    <div class="col-4 col-lg-4 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="padding-left: 15px; width: 100%;">
                                        <div class="hero-content w-100">
                                            <h2 class="text-white text-center text-lg-left hero-title" style="
                                            margin-left: 5%; 
                                            color: #6C4C9C !important; 
                                            text-transform: capitalize;
                                            font-size: 30px;
                                            font-weight: bold;">  
                                                Musicians can issue and trade their NFTs
                                            </h2>
                                            <p class="h5 text-white text-center text-lg-left hero-subtitle" style="
                                            color: black !important; 
                                            margin-left: 5%;
                                            font-size:larger; 
                                            font-size: 15px;; 
                                            text-transform: capitalize;">
                                                Verify artwork authenticity.
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="width: 100%; ">
                                        <div class="overlay" style="box-shadow: 0 4px 20px 0px rgb(0 0 0 / 34%)">
                                            <img class="img-fluid" loading="lazy" style="border-radius: 10px;" src="/assets/img/musicpexel.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.userAgent === 'mobile'" class="row">
                                    <div class="col-12 col-lg-12 d-flex align-items-center pb-5 p-sm-5 p-lg-0 hero-col" style="
                                    margin-top: 0; ">
                                        <div class="image-box" style="--image-url: url('/assets/img/musicpexel.jpg')">
                                            <div class="card" style="width: 80%; min-height: 23vh; opacity: 60%;color: white; background-color: transparent;">
                                                <h3 class="text-center text-lg-left hero-title" style="
                                                color: white; 
                                                margin-top: 20%;
                                                text-align: center !important;
                                                text-transform: capitalize !important; 
                                                font-weight: bold;">  
                                                    Musicians can issue and trade their NFTs.
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div *ngIf="this.userAgent !== 'mobile'" class="row">
                                    <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="width: 100%; ">
                                        <div class="overlay" style="box-shadow: 0 4px 20px 0px rgb(0 0 0 / 34%)">
                                            <img class="img-fluid" loading="lazy" style="border-radius: 10px;" src="/assets/img/moviespexel.jpg">                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-4 col-lg-4 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style=" padding-left: 15px; width: 100%;">
                                        <div class="hero-content w-100">
                                            <h2 class="text-white text-center text-lg-left hero-title" style="
                                            margin-right: 5%; 
                                            color: #6C4C9C !important; 
                                            text-transform: capitalize;
                                            font-size: 30px;
                                            font-weight: bold;">  
                                                issue and trade NFTs for motion pictures
                                            </h2>
                                            <p class="h5 text-white text-center text-lg-left hero-subtitle" style="
                                            color: black !important; 
                                            margin-right: 5%; 
                                            font-size:larger; 
                                            text-transform: capitalize;
                                            font-size: 15px;">
                                                secure ownership rights.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.userAgent === 'mobile'" class="row">
                                    <div class="col-12 col-lg-12 d-flex align-items-center pb-5 p-sm-5 p-lg-0 hero-col" style="
                                    margin-top: 0; ">
                                        <div class="image-box" style="--image-url: url('/assets/img/moviespexel.jpg')">
                                            <div class="card" style="width: 80%; min-height: 23vh; opacity: 60%; color: white; background-color: transparent;">
                                                <h3 class="text-center text-lg-left hero-title" style="
                                                color: white; 
                                                margin-top: 20%;
                                                text-align: center !important;
                                                text-transform: capitalize !important; 
                                                font-weight: bold;">  
                                                    Movie producers can also issue and trade NFTs.
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div *ngIf="this.userAgent !== 'mobile'" class="row">
                                    <div class="col-4 col-lg-4 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="padding-left: 15px; width: 100%;">
                                        <div class="hero-content w-100">
                                            <h4 class="text-white text-center text-lg-left hero-title" style="
                                            margin-left: 10%; 
                                            color: #6C4C9C !important; 
                                            text-transform: capitalize;
                                            font-size: 30px;
                                            font-weight: bold;">  
                                                Built on the Binance Smart Chain
                                            </h4>
                                            <p class="h5 text-white text-center text-lg-left hero-subtitle" style="
                                            color: black !important; 
                                            margin-left: 10%; 
                                            font-size:larger; 
                                            text-transform: capitalize;
                                            font-size: 15px;">
                                                Faster performance and lower fees.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                    <div class="col-7 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="width: 100%; ">
                                        <div class="overlay" style="box-shadow: 0 4px 20px 0px rgb(0 0 0 / 34%)">
                                            <img class="img-fluid" loading="lazy" style="border-radius: 10px;" src="/assets/img/binancenew.png">
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.userAgent === 'mobile'" class="row">
                                    <div class="col-12 col-lg-12 d-flex align-items-center pb-5 p-sm-5 p-lg-0 hero-col" style="
                                    margin-top: 0; ">
                                        <div class="image-box" style="--image-url: url('/assets/img/binancenew.png')">
                                            <div class="card" style="width: 80%; min-height: 23vh; opacity: 60%; color: transparent; background-color: transparent;">
                                                <h3 class="text-center text-lg-left hero-title" style="
                                                color: transparent; 
                                                margin-top: 20%;
                                                text-align: center !important;
                                                text-transform: capitalize !important; 
                                                font-weight: bold;">  
                                                    Built on the Binance Smart Chain.
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                        <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
                    
        <h4 class="section-title" style="margin-top: 10rem;
        margin-bottom: 5rem; 
        text-align: center; 
        font-weight: bold;
        color: #6C4C9C !important; 
        text-transform: capitalize;
        font-size: 30px;">Featured Categories</h4>
        <!--Select with pure css-->
     
         <form [formGroup]="form" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">

                </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="select">
                    <select class="select-text" required formControlName="mainCategories">
                        <option value="" disabled selected></option>
                        <option (onSelectionChange)="getCategory(item.type)" #categoryInput *ngFor="let item of this.mainCategories  let i=index" id="mainCategory" name="item.type" placeholder="select category"   [value]="item.type">
                            {{item.type}}</option>
                    </select>
                    <label class="select-label">Select</label>
                </div>
               
              </div>
                <div class="col-lg-5 col-md-5 col-sm-5">

                </div>
            </div>
        </form>
       <app-featured-categories [msgFromParent]="this.currentMsgToChild"></app-featured-categories>
                
        <h4 class="section-title" style="margin-top: 10rem;
        margin-bottom: 5rem; 
        text-align: center; 
        font-weight: bold;
        color: #6C4C9C !important; 
        text-transform: capitalize;
        font-size: 30px;">Featured</h4>
        <div class="row" >
            <div class="col-12 col-lg-12  pb-5 p-sm-5 p-lg-0 hero-col" style="margin-top: 0;  ">
                <div class="image-box" style="--image-url: url('/assets/img/trans.png'); width: 100%; margin-right: 0; min-height: 0;">
                    <section id="content" class="container clearfix">
                        <ul class="projects-carousel clearfix" style="overflow: hidden;
                        position: relative;
                        top: 0px;
                        margin: 0px;
                        padding: 0px;
                        left: 0px;
                        width: 0;
                        height: 320px;">
                            <li style=" margin-top: 0px;"  *ngFor="let item of this.demoCategories  let i=index">
                                <a> 
                                    <img src="{{item.imageUrl}}" loading="lazy" style="object-fit: cover; margin: 0; height: 16rem;" alt="">
                                    <h5 class="title">{{item.type}}</h5>
                                    <span class="categories">NFT / featured</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <section id="content" class="container clearfix">
            <h6 class="section-title">Latest stuff from our blog</h6>
            <ul class="post-carousel">
                <li>
                    <div class="image-gallery-slider">
                        <ul>
                            <li>
                                <a href="#">
                                    <img loading="lazy" src="https://res.cloudinary.com/xendbit/raw/upload/v1619698206/i4ue53khqd8jhb6wniw8" alt="" class="entry-image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img loading="lazy" src="/assets/img/placeholders/blog-post-2.jpg" alt="" class="entry-image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img loading="lazy" src="/assets/img/placeholders/blog-post-2.jpg" alt="" class="entry-image">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="entry-meta">
                        <a href="single-post.html">
                            <span class="post-format gallery">Permalink</span>
                        </a>
                        <span class="date">March 11 2021</span>
                    </div>
                    <div class="entry-body">
                        <a href="single-post.html">
                            <h5 class="title">Bringing Blogging to the Blockchain</h5>
                        </a>
                        <p>As part of our continued drive towards innovation, we intend to add the blogging feature to the NFT market in the nearest future.</p>  
                    </div>
                </li>
                <li>
                    <div class="entry-meta">
                        <a href="#">
                            <span class="post-format quote">Permalink</span>
                        </a>
                        <span class="date">Sep 17 2020</span>
                    </div>
                    <div class="entry-body">      
                        <blockquote class="simple">
                            <p>I’ve decided on the photos that I would like you to use on the website. They are attached to this email. Please send them back when you’re finished as they are my only copies. Thanks!</p>
                            <small>- Seriously...</small>
                        </blockquote>
                    </div>
                </li>
                <li>
                    <div class="entry-meta">
                        <a href="single-post.html">
                            <span class="post-format aside">Permalink</span>
                        </a>
                        <span class="date">Jan 17 2021</span>
                    </div>
                    <div class="entry-body">
                        <p><strong>This is an aside post format.</strong>A demonstration of a futuristic feature for our blog system. </p>       
                    </div>
                </li>
            </ul>     
        </section>
    </div>
</div>
<app-footer></app-footer>

