<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>

  <div id="container_home">
 
            
            <div class="container-fluid container-lg container-home" *ngIf="this.asset" style="margin-top: 5rem;">
                <p class="text-uppercase small font-weight-medium">
                    Details
                </p>
                <h2 class="text-uppercase font-weight-light">
                    View More details:
                </h2>

                  <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                    <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
                      <mat-card-header>
                        <img src="{{this.asset.imageUrl}}" style="width: 100%; height: 30rem; margin-bottom: 10px; margin-left: 1rem; margin-right: 3rem !important;
                         box-shadow: 5px 5px 5px #ccc;
                      -moz-box-shadow: 10px 10px 5px #ccc;
                      -webkit-box-shadow: 10px 10px 5px #ccc;
                      -khtml-box-shadow: 10px 10px 5px #ccc;">
                      </mat-card-header>
                      <mat-card-subtitle style="text-align: center;">
                        Artist: {{this.asset.artistName}}
                      </mat-card-subtitle>
                      <mat-card-content>
                      </mat-card-content>
                    </mat-card>
              
                    <mat-card class="col-lg-3 col-md-3 col-sm-3" style="font-family: 'Inter', serif;">
                      <mat-card-content>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <p>
                            <b> Title: </b> {{this.asset.titleOfWork}}
                          </p>
                
                          <p>
                              <b> Created on: </b> {{this.asset.createdOn  | date}}
                          </p>
                
                          <p>
                            <b> Issuing Price: </b> ${{this.asset.issuingPrice}}
                          </p>
                          <p>
                            <b> Price: </b> ${{this.asset.price}}
                          </p>
                         <p>
                          <b> Symbol: </b> {{this.asset.symbol}}
                         </p>
                          <p>
                            <b> Total Issued: </b> {{this.asset.totalSupply}}
                          </p>
                          <p>
                            <b> Shares Offered: </b> {{this.asset.sharesAvailable}}
                          </p>
                          <p>
                            <b>Unsubscribed Shares:</b> {{this.remainingShares}}
                          </p>
                          <p>
                            <b> Token ID: </b> 
                             <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;">
                             
                                {{this.asset.tokenId}} - 
                                Verify <span class="material-icons" style="color: orange !important;">
                                  fingerprint
                                </span>
                            </a>
                          </p>
                          <p>
                            <b> Description: </b> {{this.asset.description}}
                          </p>
                          
                          
                        </div>
                      </mat-card-content>
                    </mat-card>
              
              
                    <mat-card class="col-lg-2 col-md-2 col-sm-2" style="border-radius: 10px;" style="font-family: 'Inter', serif;">
                      <mat-card-content style="font-family: 'Inter', serif;">
                        <div *ngIf="this.asset.market === 0 && this.asset.approved === 1 || this.asset.market === 1 && this.asset.approved ===1">
                          <button data-toggle="modal" data-target="#delistModalLong" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                            Delist
                        
                        </button>
                        </div>
                        <div *ngIf="this.asset.market === 2 && this.asset.approved === 1 ">
                          <button data-toggle="modal" data-target="#delistModalLong"  type="submit" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                
                            Delist
                        
                        </button>
                        </div>

                        <div *ngIf="this.asset.market === 0 && this.asset.approved === 1">
                          <button (click)="checkShares(this.asset.tokenId)" data-toggle="modal" data-target="#listModalLong"  class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;">
                
                            list asset
                        
                        </button>

                        </div>

                        <div *ngIf="this.asset.market === 1 && this.asset.approved === 1">
                          <button  data-toggle="modal" data-target="#listModalLong"  disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;" >
                
                            list asset
                        
                        </button>

                        </div>

                        <div *ngIf="this.asset.market === 2 && this.asset.approved === 1">
                          <button data-toggle="modal" data-target="#listModalLong" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; width: 10rem !important;">
                
                            list asset
                        
                        </button>

                        </div>


                        <div  class="modal fade" id="delistModalLong" tabindex="-1" role="dialog" aria-labelledby="delistModalLongTitle" aria-hidden="true" *ngIf="this.sharesRemaining">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Warning!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div>
                                      <div class="row">
                                          <p style="margin-left: 20%; margin-right: 29%;"> 
                                            Please confirm that you intend to delist this asset from the market even with {{this.remainingShares}} shares still left to be bought on the primary market?
                                          </p> 
                                      </div>
                                  </div>
      
                                  <form>
                                      <div class="form-group">
                                        <label for="message-text" class="col-form-label">Reason for delisting this asset:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                      </div>
                                    </form>
                                
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                <button  (click)="delete(this.asset.tokenId, false)"   data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                              </div>
                            </div>
                          </div>
                        </div>
      
      


                        <div  class="modal fade" id="listModalLong" tabindex="-1" role="dialog" aria-labelledby="listModalLongTitle" aria-hidden="true" *ngIf="this.sharesRemaining">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Warning!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div>
                                      <div class="row">
                                          <p style="margin-left: 20%; margin-right: 29%;"> 
                                            Please confirm that you intend to list this asset on the secondary market even with {{this.remainingShares}} shares still left to be bought on the primary market?
                                          </p> 
                                      </div>
                                      
                                      
                                  </div>
                                
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                <button (click)="changeMarket()"  data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                              </div>
                            </div>
                          </div>
                        </div>
                       
              
                          
                          
                      </mat-card-content>
            
                    </mat-card>
              
                  </div>
        
            </div>

            <div class="container-fluid container-lg container-home" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                <h3 class="text-uppercase font-weight-light">
                    order book
                </h3>
                <p class="text-uppercase small font-weight-medium">
                    orders by type
                </p>
        
            </div>
            
           
            <mat-tab-group style="align-items: center; margin-left: 7rem; font-family: 'Inter', serif;">
              
                
                <mat-tab label="Sell Orders">
                    
                    <div class="row">
                        <!-- <div class="col-lg-2 col-md-2 col-sm-2"></div> -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="container-fluid container-lg container-home" style="height: 100%; width: 100% !important;">
                              
                                <div class="card-body">
                                    <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                                        <div class="table-responsive">      
                                            <table class="table table-hover" >
                                                <thead class="text-success">
                                                    <th> Order Type </th>
                                                    <th>Order Strategy</th>
                                                    <th>Amount remaining</th>
                                                    <th> Token ID </th>
                                                    <th>Original amount</th>
                                                    <th> Price</th>
                                                    <th> Order Date </th>
                                                </thead>
                                                <tbody *ngFor="let item of this.sellOrders">
                                                    <tr class="Table">
                                                        <td *ngIf="item.amountRemaining !== 0">Sell</td>
                                                        <td *ngIf="item.orderStrategy === 0 && item.amountRemaining !== 0"> Good Till Cancel </td>
                                                        <td *ngIf="item.orderStrategy === 1 && item.amountRemaining !== 0"> All Or Nothing </td>
                                                        <td *ngIf="item.orderStrategy === 2 && item.amountRemaining !== 0"> Good Till Day </td>
                                                        <td *ngIf="item.orderStrategy === 3 && item.amountRemaining !== 0">  Good Till Month </td>
                                                        <td *ngIf="item.orderStrategy === 4 && item.amountRemaining !== 0"> Market Order </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.amountRemaining}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.tokenId}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.originalAmount}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.price}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.orderDate  | date }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>           
                                </div>              
                            </div>
                        
                        </div>
                    
                
                    
                    </div >
                </mat-tab>
                <mat-tab label="Buy Orders">
                    <div class="row">
                        <!-- <div class="col-lg-2 col-md-2 col-sm-2"></div> -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="container-fluid container-lg container-home" style="height: 100%; width: 100% !important;">
                                <div class="card-body">
                                    <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">
                                        <div class="table-responsive">      
                                            <table class="table table-hover" >
                                                <thead class="text-success">
                                                    <th> Order Type </th>
                                                    <th>Order Strategy</th>
                                                    <th>Amount remaining</th>
                                                    <th> Token ID </th>
                                                    <th>Original amount</th>
                                                    <th> Price</th>
                                                    <th> Order Date </th>
                                                </thead>
                                                <tbody *ngFor="let item of this.buyOrders">
                                                    <tr class="Table">
                                                        <td *ngIf="item.amountRemaining !== 0">Buy</td>
                                                        <td *ngIf="item.orderStrategy === 0 && item.amountRemaining !== 0 "> Good Till Cancel </td>
                                                        <td *ngIf="item.orderStrategy === 1 && item.amountRemaining !== 0 "> All Or Nothing </td>
                                                        <td *ngIf="item.orderStrategy === 2 && item.amountRemaining !== 0"> Good Till Day </td>
                                                        <td *ngIf="item.orderStrategy === 3 && item.amountRemaining !== 0">  Good Till Month </td>
                                                        <td *ngIf="item.orderStrategy === 4 && item.amountRemaining !== 0"> Market Order </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.amountRemaining}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.tokenId}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.originalAmount}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0"> {{item.price}} </td>
                                                        <td *ngIf="item.amountRemaining !== 0">  {{item.orderDate  | date : 'short'}} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>           
                                </div>              
                            </div>
                        
                        </div>
                    
                
                    
                    </div >
                </mat-tab>
            </mat-tab-group>
        
            
            
           
            <div class="container-fluid container-lg container-home" style="height: 100%;" *ngIf="this.unavailable">
                <p class="text-uppercase small font-weight-medium">
                    orders
                </p>
                <h2 class="text-uppercase font-weight-light">
                    This asset currently does not have any sell orders.
                </h2>
        
            </div>




  </div>
  
      <app-footer></app-footer>

</div>














