<!-- <p-toast key="mint" position="top-center" ></p-toast> -->
<p-messages key="mint" position="top-center"></p-messages>
<p-dialog [(visible)]="displayOverlay" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false"  [breakpoints]="{'960px': '75vw', '640px': '83vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        <h4 class="head-2 heading-h4">Issuer Registration</h4>
    </ng-template>
    <form class="form-main" method="post"  #registerForm="ngForm">
        <span class="select-none heading-h5">Please complete the form below: </span>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="firstName" name="firstName" [(ngModel)]="firstName" placeholder="First Name" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="middleName" name="middleName" [(ngModel)]="middleName" placeholder="Middle Name" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="lastName" name="lastName" [(ngModel)]="lastName" placeholder="Last Name" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="Email" name="email" [(ngModel)]="email" placeholder="Email" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="phone" id="phone" name="phone" [(ngModel)]="phone" placeholder="Phone Number" required>
        </div>
        <div class="input-main">
            <div class="input-otr-2" id="issuerInput">
                <input style="width: 100%;" class="input" [(ngModel)]="bankName" type="text" name="bankName" placeholder="Bank Name" required>
            </div>
            <div class="input-otr-2" id="issuerInput">
                <input style="width: 100%;" [(ngModel)]="bankAddress" class="input" type="text" name="bankAddress" placeholder="Bank Address " required>
            </div>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="accountName" name="accountName" [(ngModel)]="accountName" placeholder="Account Name" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="number" id="accountNumber" name="accountNumber" [(ngModel)]="accountNumber" placeholder="Account Number" required>
        </div>
        <div class="input-otr" id="issuerInput">
            <input class="input" style="width: 100%;" type="text" id="bankCode" name="bankCode" [(ngModel)]="bankCode" placeholder="Bank Code" required>
        </div>
        <div>
            <input class="input" style="width: 100%;" type="number" id="bankIban" name="bankIban" [(ngModel)]="bankIban" placeholder="Bank IBAN" required>
        </div>
    </form>
    <ng-template pTemplate="footer">

        <p-button icon="pi pi-check" (click)="register(registerForm)" label="Register" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancel"></p-button>
    </ng-template>
</p-dialog>
    <!--=======================================
                Create Start Here
    ========================================-->
    <div class="create-main" *ngIf="this.accountFound">
        <div class="container-fluid">
            <div class="row create-inr">
                <div class="col-lg-8 col-heading-otr" style="margin-bottom: 2rem;">
                    <div class="heading-inr">
                        <h3 class="heading heading-h3">Create Single Artwork</h3>
                        <p *ngIf="error" class="desc body-sb" style="color: red;">{{error}}</p>
                    </div>
                </div>
            </div>
            <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
            <div class="row row-custon">
              <div class="col-lg-8 col-create-otr">
                <div class="col-create-inr">
                  <form class="form-main" method="post"  #createForm="ngForm">
                    <div *ngIf="activeIndex === 0">
                      <div class="row" style="margin-bottom: 40px; margin-top: 3rem;">
                        <div class="col-xs-4 col-sm-4 col-md-4 field-checkbox" *ngFor="let category of categories;">
                          <label>
                            <input [value]="category.name" (change)="pickedCategory(category.value)" type="radio" name="radio"/>
                            <span>{{category.name}}</span>
                          </label>
                           
                        </div>
                      </div>
                      <div class="row row-custom-inr">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr">
  
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-6 col-btn-otr">
                          <div *ngIf="this.preview !== undefined || this.previewMedia !== undefined" style=" margin: 0 auto;">
                            <div class="" *ngIf="this.preview?.type.includes('image') && this.preview?.size/1024/1024 <= 10">
                                <img [ngfSrc]="preview" style="width: 27rem; margin: 0 auto; max-height: 20rem; border-radius: 10px; object-fit: cover;" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                            </div>
                            <div class="" *ngIf="this.previewMedia?.type.includes('audio') && this.previewMedia?.size/1024/1024 <= 10">
                              <audio class="AudioPlayerV1" style="width: 27rem; border-radius: 10px; margin-top: 3rem;"  controls controlsList="nodownload">
                                  <source src="{{previewMedia}}" type="audio/mp3" />
                                  <source [ngfSrc]="previewMedia" type="audio/ogg" />
                                  <source [ngfSrc]="previewMedia" type="audio/wav" />
                              </audio>
                            </div>
                            <div class="" *ngIf="this.previewMedia?.type.includes('video') && this.previewMedia?.size/1024/1024 <= 10">
                              <video class="img-inr img-fluid" style="object-fit: cover; border-radius: 10px; margin-top: 3rem;"  controls controlsList="nodownload">
                                  <source [ngfSrc]="previewMedia" type="video/mp4" />
                                  <source [ngfSrc]="previewMedia" type="video/webm" />
                                  <source [ngfSrc]="previewMedia" type="video/ogg" />
                              </video>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr" *ngIf="this.accountFound && this.categorySelected !== undefined && this.previewArray.length > 0">
                           
                        </div>
                      </div>
                      <div id="uploadArea" style="margin-top: 1rem;" class="upload-area" *ngIf="preview === undefined 
                      || previewMedia !== undefined && preview === undefined" >
                        <div class="upload-area__header">
                          <p class="upload-area__title"></p>
                          <p class="upload-area__paragraph">
                              <strong class="upload-area__tooltip">
                                  <span class="upload-area__tooltip-data"></span>
                              </strong>
                          </p>
                        </div>
                        <div (click)="uploader.click()" class="upload-area__drop-zoon drop-zoon" *ngIf="previewMedia === undefined && preview === undefined" >
                            <span class="drop-zoon__icon">
                                <svg class="upload-icon" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.438 12.81L20 6.25l6.563 6.56M20 23.75V6.255M33.75 23.75v8.75a1.25 1.25 0 01-1.25 1.25h-25a1.25 1.25 0 01-1.25-1.25v-8.75" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </span>
                            <input class="hidden" #uploader type="file" accept="image/*" class="hidden" type="file" accept="image/*, audio/mp3, video/mp4" name="image" (change)="check($event)" />
                            <span class="desc body-sb">select file (PNG, GIF, JPEG, JPG, MP3, MP4 Max 10 MB.)</span>
                            <p class="drop-zoon__paragraph btn-outline1">browse</p>
                        </div>
                        <div (click)="uploader.click()" class="upload-area__drop-zoon drop-zoon" *ngIf="previewMedia !== undefined && preview === undefined">
                          <span class="drop-zoon__icon">
                              <svg class="upload-icon" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.438 12.81L20 6.25l6.563 6.56M20 23.75V6.255M33.75 23.75v8.75a1.25 1.25 0 01-1.25 1.25h-25a1.25 1.25 0 01-1.25-1.25v-8.75" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                          </span>
                          <input class="hidden" #uploader type="file" accept="image/*" name="image" (change)="check($event)" />
                          <span class="desc body-sb">select cover art (PNG, GIF, JPEG, JPG Max 10 MB.)</span>
                          <p class="drop-zoon__paragraph btn-outline1">browse</p>
                      </div>
                      </div>

                      <div id="uploadArea" style="margin-top: 1rem;" class="upload-area" *ngIf="categorySelected === 'musicRight' && previewMedia === undefined && preview !== undefined
                        || categorySelected === 'movieRight' && previewMedia  === undefined && preview !== undefined">
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <p class="upload-area__paragraph">
                                <strong class="upload-area__tooltip">
                                    <span class="upload-area__tooltip-data"></span>
                                </strong>
                            </p>
                        </div>
                        <div class="upload-area__drop-zoon drop-zoon" (click)="uploader.click()" *ngIf="categorySelected === 'movieRight' && previewMedia === undefined">
                          <span class="drop-zoon__icon">
                              <svg class="upload-icon" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.438 12.81L20 6.25l6.563 6.56M20 23.75V6.255M33.75 23.75v8.75a1.25 1.25 0 01-1.25 1.25h-25a1.25 1.25 0 01-1.25-1.25v-8.75" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                          </span>
                          <input  class="hidden" #uploader type="file" accept="video/mp4" name="mp4" (change)="check($event)" />
                          <p class="desc body-sb">select media (MP3 Max 10 MB.)</p>
                          <p class="drop-zoon__paragraph btn-outline1">browse</p>
                        </div>
                        <div class="upload-area__drop-zoon drop-zoon" (click)="uploader.click()" *ngIf="categorySelected === 'musicRight' && previewMedia === undefined">
                          <span class="drop-zoon__icon">
                              <svg class="upload-icon" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.438 12.81L20 6.25l6.563 6.56M20 23.75V6.255M33.75 23.75v8.75a1.25 1.25 0 01-1.25 1.25h-25a1.25 1.25 0 01-1.25-1.25v-8.75" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                          </span>
                          <input  class="hidden" #uploader type="file" accept="audio/mp3" name="mp3" (change)="check($event)" />
                          <p class="desc body-sb">select media (MP3 Max 10 MB.)</p>
                          <p class="drop-zoon__paragraph btn-outline1">browse</p>
                        </div>
                      </div>

                      <!-- <p *ngIf="errorMessage" class="desc body-sb" style="color: red; margin: 0 auto;">{{errorMessage}}</p> -->
                      <table style="margin-top: 1rem;" class="table" *ngIf="this.media.length > 0">
                          <thead>
                              <tr>
                                  <th class="desc body-sb">Name</th>
                                  <th class="desc body-sb">Media Type</th>
                                  <th class="desc body-sb">Remove</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of previewArray; let i =index" (click)="assignPreview(item.media)">
                                  <td class="input-otr">{{item.name}}</td>
                                  <td class="input-otr">{{item.type}}</td>
                                  <td class="input-otr" > <button class="drop-zoon__paragraph btn-outline1" (click)="remove(i, item.name)"> Remove </button> </td>
                              </tr>

                          </tbody>
                      </table>

                      <div class="row row-custom-inr">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr">
                          <!-- <div class="col-btn-inr" >
                            <a (click)="mint(createForm)" class="btn-fill btn-create" style="background-color: red;">Create Artwork</a>
                          </div> -->
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-6 col-btn-otr">
                            <!-- <div class="col-btn-inr" >
                                <a (click)="mint(createForm)" class="btn-fill btn-create">Create Artwork</a>
                            </div> -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr" *ngIf="this.accountFound && this.categorySelected !== undefined && this.previewArray.length > 0">
                            <div class="col-btn-inr" >
                                <a (click)="Next()" class="btn-fill btn-create">Next</a>
                            </div>
                        </div>
                      </div>
                     
                      <div class="navbar-main" style="margin-bottom: 20px;">
                        <div class="container-fluid">
                          <div class="navbar-inr">
                            <div class="navigation-otr"  style="margin: 0 auto;">
                              <ul class="navigation-inr">
                                <li class="nav-li">
                                  <span  class="nav-a body-sb">You are currently minting on: {{currentChain | uppercase}} (click or hover to select a different chain.) </span>
                                  <ul class="dropdown-otr">
                                    <li class="dropdown-li" >
                                        <a (click)="switchChain('aurora')" class="dropdown-a body-sb">Aurora</a>
                                    </li>
                                    <li class="dropdown-li" >
                                        <a (click)="switchChain('avalanche')" class="dropdown-a body-sb">Avalanche</a>
                                    </li>
                                    <li class="dropdown-li" >
                                        <a (click)="switchChain('bsc')" class="dropdown-a body-sb">BSC</a>
                                    </li>
                                    <li class="dropdown-li" >
                                        <a (click)="switchChain('harmony')" class="dropdown-a body-sb">Harmony</a>
                                    </li>
                                    <li class="dropdown-li" >
                                        <a (click)="switchChain('polygon')" class="dropdown-a body-sb">Polygon</a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="this.activeIndex === 1">
                      <!-- <h4 class="head-2 heading-h4">Artwork Details</h4> -->
                      <div class="input-otr" style="margin-top: 3rem;">
                          <input class="input" type="text" id="artName" name="artName" [(ngModel)]="title" placeholder="Artwork Name e.g. “Floating Nifty Row”" required>
                      </div>

                      <div class="input-otr">
                          <textarea class="textarea input" id="description"
                          name="description" [(ngModel)]="description" placeholder="Artwork Description e.g. “ Floating Nifty Row 3D”" required></textarea>
                      </div>
                      
                      <div class="input-main">
                        <div class="input-otr-2">
                            <input class="input" [(ngModel)]="symbol" type="text" name="symbol" placeholder="Asset Symbol e.g. FNR" required>
                        </div>
                        <div class="input-otr-2">
                            <input disabled class="input" type="text" name="text" placeholder="Asset Tag (coming soon) " required>
                        </div>
                      </div>

                      <div class="row" style="margin-bottom: 20px;">
                        <h4 class="head-2 heading-h4">Properties</h4>
                        <div class="col-xs-4 col-sm-4 col-md-4" *ngFor="let item of assetTypes;">
                          <label>
                            <input [value]="item.name" (change)="getAssetType(item.value)" type="radio" name="radio"/>
                            <span>{{item.name}}</span>
                          </label>
                        </div>
                      </div>

                      <div class="row row-custom-inr">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr">
                          <div class="col-btn-inr" >
                            <a (click)="Back()" class="btn-fill btn-create" style="background-color: red;">Back</a>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-6 col-btn-otr">
                            <!-- <div class="col-btn-inr" >
                                <a (click)="mint(createForm)" class="btn-fill btn-create">Create Artwork</a>
                            </div> -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr" *ngIf="this.accountFound && this.categorySelected !== undefined && this.preview !== undefined">
                            <div class="col-btn-inr" >
                                <a (click)="Next()" class="btn-fill btn-create">Next</a>
                            </div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="this.activeIndex === 2" >
                      <div style="margin-top: 3rem; margin-bottom: 3rem;">
                        <div class="" *ngIf="this.preview?.type.includes('image') && this.preview?.size/1024/1024 <= 10">
                          <img [ngfSrc]="preview" style="width: 27rem; margin: 0 auto; max-height: 20rem; border-radius: 10px; object-fit: cover;" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                        </div>
                      </div>
                      <div class="img-main" *ngIf="this.previewMedia?.type.includes('audio') && this.previewMedia?.size/1024/1024 <= 10">
                        <audio class="AudioPlayerV1" style="width: 50%; border-radius: 10px; margin-top: 3rem;"  controls controlsList="nodownload">
                            <source src="{{previewMedia}}" type="audio/mp3" />
                            <source [ngfSrc]="previewMedia" type="audio/ogg" />
                            <source [ngfSrc]="previewMedia" type="audio/wav" />
                        </audio>
                      </div>

                      <div class="img-main" *ngIf="this.previewMedia?.type.includes('video') && this.previewMedia?.size/1024/1024 <= 10">
                          <video class="img-inr img-fluid" style="object-fit: cover; width: 50%; border-radius: 10px; margin-top: 3rem;"  controls controlsList="nodownload">
                              <source src="{{previewMedia}}" type="video/mp4" />
                              <source [ngfSrc]="previewMedia" type="video/webm" />
                              <source [ngfSrc]="previewMedia" type="video/ogg" />
                          </video>
                      </div>

                      <div class="input-otr" style="margin-top: 3rem;">
                        <input disabled class="input" type="text" id="artName" name="artName" [(ngModel)]="title" placeholder="{{title}}" readonly>
                      </div>

                      <div class="input-otr">
                          <textarea disabled class="textarea input" id="description"
                          name="description" [(ngModel)]="description" placeholder="{{description}}" readonly></textarea>
                      </div>
                    
                      <div class="input-main">
                        <div class="input-otr-2">
                            <input disabled class="input" type="text" name="text" placeholder="{{symbol || 'Eg. AAPL'}}" required>
                        </div>
                      </div>

                      <div class="row" style="margin-bottom: 20px;">
                        <h4 class="head-2 heading-h4">Properties</h4>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <label>
                            <input disabled [value]="typeSelected" readonly type="radio" name="radio" checked/>
                            <span>{{typeSelected}}</span>
                          </label>
                        </div>
                      </div>
                      
                      <h4 class="head-2 heading-h4">Choose Collection (coming soon)</h4>
                      <div class="row row-custom-inr">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-box-otr">
                            <div class="col-box-inr box-1">
                                <div class="img-otr img-otr-1">
                                    <svg class="circle" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 28c6.627 0 12-5.373 12-12S22.627 4 16 4 4 9.373 4 16s5.373 12 12 12z" fill="#fff"/><path d="M16 28c6.627 0 12-5.373 12-12S22.627 4 16 4 4 9.373 4 16s5.373 12 12 12z" stroke="#fff" stroke-width="2" stroke-miterlimit="10"/><path d="M11 16h10M16 11v10" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                </div>
                                <h5 class="heading heading-h5">Create <br> Collection</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-box-otr">
                            <div class="col-box-inr box-2">
                                <div class="img-otr">
                                    <img class="img-profile" src="../assets/img/user-Image16.jpg" alt="img">
                                </div>
                                <h5 class="heading heading-h5">Brainy Nerds <br> Today</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-box-otr">
                            <div class="col-box-inr box-3">
                                <div class="img-otr">
                                    <img class="img-profile" src="../assets/img/user-Image10.jpg" alt="img">
                                </div>
                                <h5 class="heading heading-h5">The Abstract <br> Geniuses</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-box-otr">
                            <div class="col-box-inr box-4">
                                <div class="img-otr">
                                    <img class="img-profile" src="../assets/img/user-Image17.jpg" alt="img">
                                </div>
                                <h5 class="heading heading-h5">The 3D World <br> of Fantasy</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr">
                          <div class="col-btn-inr" >
                            <a (click)="Back()" class="btn-fill btn-create" style="background-color: red;">Back</a>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-6 col-btn-otr">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr" *ngIf="this.accountFound">
                            <div class="col-btn-inr" >
                                <a (click)="mint(createForm)" class="btn-fill btn-create">Create Artwork</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-btn-otr" *ngIf="!this.accountFound">
                            <div class="heading-inr">
                                <p *ngIf="error" class="desc body-sb" style="color: red;">{{error}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <app-connect-wallet *ngIf="!this.accountFound"></app-connect-wallet>

<!--=======================================
            Create End Here
========================================-->

