
<div class="mm-page mm-slideout" style="background-color: white; position: relative;  overflow: hidden; min-height: 100vh;">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
  
    <div id="container_home" style="min-height: 100vh; height: 80%;">
  
        <div class="container-fluid container-lg container-home" >
  
            
         
          <h2 class="text-uppercase font-weight-light">
              Settings
          </h2>
          <p class="text-uppercase small font-weight-medium">
              Change and update system-wide settings
          </p>

          <mat-tab-group style=" margin-left: 7rem; font-family: 'Playfair Display SC', serif !important">
            
            
            <mat-tab label="Fees">
              <!-- <mat-icon matPrefix style="margin-right: 2rem ;">price_change</mat-icon> -->
                <div class=" card-body" style="margin-left: 0 !important; align-items: left;">
                    <form id="feeForm" #feeForm="ngForm">
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                        <mat-icon matPrefix style="margin-right: 2rem ;">chat</mat-icon>
                        <input autofocus type="number" matInput placeholder="SMS Notification Fee - (current fee ₦{{this.fees.smsNotification}} )" id="smsFee" name="smsFee" [(ngModel)]="smsFee" >
                        </mat-form-field>
        
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">attribution</mat-icon>
                            <input autofocus type="number" matInput placeholder="NSE Fee - (current fee ₦{{this.fees.nse}} )" id="nseFee" name="nseFee" [(ngModel)]="nseFee" >
                        </mat-form-field>
        
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">pattern</mat-icon>
                            <input autofocus type="number" matInput placeholder="Transaction Fee - (current fee ₦{{this.fees.transaction}} )" id="transactionFee" name="transactionFee" [(ngModel)]="transactionFee" >
                        </mat-form-field>
            
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">graphic_eq</mat-icon>
                            <input type="number" autocomplete="false" matInput placeholder="Blockchain Fee - (current fee ₦{{this.fees.blockchain}} )" id="blockchainFee" name="blockchainFee" [(ngModel)]="blockchainFee">
                        </mat-form-field>
                      <button (click)="updateFees(feeForm)"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black;">
              
                        Update Fee Settings
                    
                    </button>
                    </form>
                    
                  </div>

            </mat-tab>
    
            <mat-tab label="Market Settings">
                <div class=" card-body" style="margin-left: 0 !important;">
                    <form  #marketForm="ngForm">
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 100%;">
                        <mat-icon matPrefix style="margin-right: 2rem ;">mobiledata_off</mat-icon>
                        <input autofocus type="number" matInput placeholder="Minimum Buy Quantity (%) - (current setting: {{this.marketSettings.percMinBuyQuantity}}%)" id="quantity" name="quantity" [(ngModel)]="quantity" >
                        </mat-form-field>
        
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 100%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">align_vertical_center</mat-icon>
                            <input autofocus type="number" matInput placeholder="Price Change Limit (%) - (current setting: {{this.marketSettings.percPriceChangeLimit}}%) " id="priceLimit" name="priceLimit" [(ngModel)]="priceLimit" >
                        </mat-form-field>

                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 100%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">format_indent_increase</mat-icon>
                            <input autofocus type="number" matInput placeholder="Primary Market Holding Period - ( current setting: {{this.marketSettings.primaryMarketHoldingPeriod}} days)" id="holdingPeriod" name="holdingPeriod" [(ngModel)]="holdingPeriod" >
                        </mat-form-field>
            
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 100%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">padding</mat-icon>
                            <input type="number" autocomplete="false" matInput placeholder=" Max no. of days for Infinity orders - (current setting: {{this.marketSettings.maxNoOfDaysForInfinityOrders}} days)" id="infinity" name="infinity" [(ngModel)]="infinity">
                        </mat-form-field>
                      <button (click)="updateMarketSettings(marketForm)" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black;">
              
                        Update Market Settings
                    
                    </button>
                    </form>
                    
                  </div>

            </mat-tab>
            <mat-tab label="Payment Settings">

                <div class=" card-body" style="margin-left: 0 !important; align-items: left;">
                    <form  #paymentForm="ngForm">
        
                        <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                            <mat-icon matPrefix style="margin-right: 2rem ;">account_balance_wallet</mat-icon>
                            <input autofocus type="text" matInput placeholder="Paystack public key" id="paystackKey" name="paystackKey" [(ngModel)]="paystackKey" >
                        </mat-form-field>
                      <button  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black;">
              
                        Save Payment Settings
                    
                    </button>
                    </form>
                    
                  </div>

            </mat-tab>
            <mat-tab label="Holidays">

                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left: 0 !important; align-items: left;">
                    <div class="col-md-2" style="margin-left: 40% !important; padding-left: 0 !important;">

                        <div class="btn-group btn-group-toggle" id="filterCategory" data-toggle="buttons" style="border-color: black; margin-bottom: 2rem;">
                          <label class="btn btn-md btn-outline-secondary" 
                                [ngClass]="{active : currentButton == 'first'}"
                                (click) = "currentButton='first'"
                                style="width: 86px !important; text-transform: capitalize;"
                                 >
                            <input type="radio" name="options" autocomplete="off" checked >Existing 
                          </label>
                          <label class="btn btn-md btn-outline-secondary"
                                 [ngClass]="{active : currentButton == 'second'}"
                                (click) = "currentButton='second'"
                                style="width: 90px !important; text-transform: capitalize;"
                            >
                            <input type="radio" name="options" autocomplete="off"> New
                            
                          </label>
                        </div>
                    
                      </div>
                      <div *ngIf="this.currentButton === 'first' ">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <h5>  all holidays </h5>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <h5>  editable holidays </h5>
                          </div>
                        </div>
                       
                        
                        

                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6" >
                            <div *ngFor="let subtask of this.holidays">
                            <mat-icon matPrefix style="margin-right: 2rem ;">event</mat-icon>  {{subtask.name}} -  {{subtask.day}}  {{subtask.month}}
                            </div>
                          </div> 

                          <div class="col-lg-6 col-md-6 col-sm-6" >
                            <div *ngFor="let subtask of this.dynamicHolidays">
                              <mat-icon matPrefix style="margin-right: 2rem ;">event</mat-icon>  {{subtask.name}} -  {{subtask.day}} 
                              <mat-icon (click)="initSetNewHolidayData(subtask.id, subtask.name)" data-toggle="modal" data-target="#loginModalLong" matPrefix style="margin-right: 2rem ;">create</mat-icon>    
                            </div>
                        </div>

                        </div>
                        
                      </div>
                   
                    <div *ngIf="this.currentButton === 'second' ">
                        <form  #holidayForm="ngForm">
                            

                               
                                    <mat-form-field style="height: 5rem; font-family: 'Cardo', serif; width: 70%;">
                                        <mat-icon matPrefix style="margin-right: 2rem ;">leak_add</mat-icon>
                                        <input autofocus type="text" matInput placeholder="Enter a name for this holiday" id="newHolidayName" name="newHolidayName" [(ngModel)]="newHolidayName" >
                                    </mat-form-field>
                                    <mat-form-field  style="height: 5rem; font-family: 'Cardo', serif; width: 70%;" >
                                      <mat-icon matPrefix style="margin-right: 2rem ;">date_range</mat-icon>
                                            <mat-label>choose a date range for this holiday</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                              <input matStartDate placeholder="Start date">
                                              <input matEndDate placeholder="End date">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>

                      <button  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-bottom: 10%;">
              
                        Add Holiday
                    
                    </button>
                    </form>
        
                    </div>
                                
                  </div>


            </mat-tab>

            <mat-tab label="Manage Users">

              <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left: 0 !important; align-items: left;">
                  <div class="col-md-2" style="margin-left: 40% !important; padding-left: 0 !important;">

                      <div class="btn-group btn-group-toggle" id="filterCategory" data-toggle="buttons" style="border-color: black; margin-bottom: 2rem;">
                        <label class="btn btn-md btn-outline-secondary" 
                              [ngClass]="{active : currentButton == 'first'}"
                              (click) = "currentButton='first'"
                              style="width: 104px !important; text-transform: capitalize;"
                               >
                          <input type="radio" name="options" autocomplete="off" checked >Investors 
                        </label>
                        <label class="btn btn-md btn-outline-secondary"
                               [ngClass]="{active : currentButton == 'second'}"
                              (click) = "currentButton='second'"
                              style="width: 100px !important; text-transform: capitalize;"
                          >
                          <input type="radio" name="options" autocomplete="off"> Admins
                          
                        </label>
                        <label class="btn btn-md btn-outline-secondary"
                        [ngClass]="{active : currentButton == 'third'}"
                       (click) = "currentButton='third'"
                       style="width: 100px !important; text-transform: capitalize;"
                   >
                   <input type="radio" name="options" autocomplete="off"> Issuers
                   
                 </label>
                      </div>
                  
                    </div>
                    <div *ngIf="this.currentButton === 'first' ">
                      <div class=" card-body" style="margin-left: 0 !important; align-items: left;">
                        <table class="table table-hover" >
                            <thead class="text-warning">
                                <th> Id </th>
                                <th> First Name  </th>
                                <th> Last Name  </th>
                                <th>Email </th>
                                <th>Phone</th>
                                <th> Status </th>
                                
                            </thead>
                            <tbody *ngFor="let item of this.investors">
                                <tr class="Table" data-toggle="modal" data-target="#investorModalLong" (click)="view(item.id, item.firstName, item.lastName, item.email, item.phone, item.role)">
                                    <td>{{item.id}}</td>
                                    <td> {{item.firstName}} </td>
                                    <td> {{item.lastName}} </td>
                                    <td> {{item.email }} </td>
                                    <td>  {{item.phoneNumber}}</td>
                                    <td>
                                        <button disabled  *ngIf="item.activated === 0"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                    
                                            Active
                                        
                                        </button>
    
                                        <button *ngIf="item.activated === 1" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
            
                                            Disabled
                                        
                                        </button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                      </div>
    
                    </div>
                 
                  <div *ngIf="this.currentButton === 'second' ">
                    <div class=" card-body" style="margin-left: 0 !important; align-items: left;">
                      <table class="table table-hover" >
                          <thead class="text-warning">
                              <th> Id </th>
                              <th> First Name  </th>
                              <th> Last Name  </th>
                              <th>Email </th>
                              <th>Phone</th>
                              <th> Status </th>
                              
                          </thead>
                          <tbody *ngFor="let item of this.admins">
                              <tr class="Table" (click)="view(item.id, item.firstName, item.lastName, item.email, item.phone, item.role)">
                                  <td>{{item.id}}</td>
                                  <td> {{item.firstName}} </td>
                                  <td> {{item.lastName}} </td>
                                  <td> {{item.email }} </td>
                                  <td>  {{item.phoneNumber}}</td>
                                  <td>
                                      <button disabled  *ngIf="item.activated === 0"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                  
                                          Active
                                      
                                      </button>
  
                                      <button *ngIf="item.activated === 1" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
          
                                          Disabled
                                      
                                      </button>
                                  </td>
                                  <div  class="modal fade" id="delistModalLong" tabindex="-1" role="dialog" aria-labelledby="delistModalLongTitle" aria-hidden="true" *ngIf="this.investor">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Details for this.investor.name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;"> First Name: </p> <b> {{this.firstName}} </b>
                                                  </div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;">
                                                          <b>Last Name: </b> 
                                                      </p>
                                                      <b> {{this.lastName}} </b>
                                                  </div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 24%;">
                                                          <b> Email: </b> 
                                                      </p>
                                                      <b> {{this.userEmail}} </b>
                                                  </div>
  
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;">
                                                          <b>Phone number: </b> 
                                                      </p>
                                                      <b> {{this.phone}} </b>
                                                  </div>
          
          
                                              </div>
                  
                                              <!-- <form>
                                                  <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Reason for delisting this asset:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                  </div>
                                                </form> -->
                                            
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                            <button  (click)="delete(item.id)"   data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Disable</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </tr>
                          </tbody>
                      </table>
                    </div>
      
                  </div>


                  <div *ngIf="this.currentButton === 'third' ">
                    <div class=" card-body" style="margin-left: 0 !important; align-items: left;">
                      <table class="table table-hover" >
                          <thead class="text-warning">
                              <th> Id </th>
                              <th> First Name  </th>
                              <th> Last Name  </th>
                              <th>Email </th>
                              <th>Phone</th>
                              <th> Status </th>
                              
                          </thead>
                          <tbody *ngFor="let item of this.issuers">
                              <tr class="Table" (click)="view(item.id, item.firstName, item.lastName, item.email, item.phone, item.role)">
                                  <td>{{item.id}}</td>
                                  <td> {{item.firstName}} </td>
                                  <td> {{item.lastName}} </td>
                                  <td> {{item.email }} </td>
                                  <td>  {{item.phoneNumber}}</td>
                                  <td>
                                      <button disabled  *ngIf="item.activated === 0"  type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
                  
                                          Active
                                      
                                      </button>
  
                                      <button *ngIf="item.activated === 1" disabled type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; width: 10rem !important;">
          
                                          Disabled
                                      
                                      </button>
                                  </td>
                                  <div  class="modal fade" id="delistModalLong" tabindex="-1" role="dialog" aria-labelledby="delistModalLongTitle" aria-hidden="true" *ngIf="this.investor">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Details for this.investor.name</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;"> First Name: </p> <b> {{this.firstName}} </b>
                                                  </div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;">
                                                          <b>Last Name: </b> 
                                                      </p>
                                                      <b> {{this.lastName}} </b>
                                                  </div>
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 24%;">
                                                          <b> Email: </b> 
                                                      </p>
                                                      <b> {{this.userEmail}} </b>
                                                  </div>
  
                                                  <div class="row">
                                                      <p style="margin-left: 20%; margin-right: 30%;">
                                                          <b>Phone number: </b> 
                                                      </p>
                                                      <b> {{this.phone}} </b>
                                                  </div>
          
          
                                              </div>
                  
                                              <!-- <form>
                                                  <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Reason for delisting this asset:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                  </div>
                                                </form> -->
                                            
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                                            <button  (click)="delete(item.id)"   data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Disable</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </tr>
                          </tbody>
                      </table>
                    </div>
  
      
                  </div>
                              
                              
                </div>


          </mat-tab>
          </mat-tab-group>

          <div  class="modal fade" id="loginModalLong" tabindex="-1" role="dialog" aria-labelledby="loginModalLongTitle" aria-hidden="true" *ngIf="this.initHoliday">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>
                    Update Holiday details for {{this.initHoliday}}
                  </h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      
                        <form novalidate #updateHolidayForm="ngForm">
                          <mat-form-field  style="height: 5rem; font-family: 'Cardo', serif; width: 90%;" >
                            <mat-icon matPrefix style="margin-right: 2rem ;">date_range</mat-icon>
                                  <mat-label>choose a date range for this holiday</mat-label>
                                  <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date">
                                  </mat-date-range-input>
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                        </form>
  
  
                            
                  
                </div>
                <div class="modal-footer">
                  <button type="button"  data-dismiss="modal" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: #f55d45; border-color: transparent;">Cancel</button>
                  <button (click)="updateHoliday(updateHolidayForm)"  data-dismiss="modal" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: #333333; margin-left: 30%;">Update</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        
        
    </div>
    
    
        <app-footer> </app-footer>
  
  </div>
