    <!--=======================================
            Explore Artworks Start Here
    ========================================-->

        <div class="explore-artwork">
            <div class="container-fluid">
                <div class="explore-artwork-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">Most Active Auctions</h3>
                        </div>
                    </div>
                    <div class="teb-main">
                        <div class="tab-otr">
                            <div class="tab-inr">
                                <ul class="tabs"  >
                                  <li class="{{
                                    categorySelected === 'all'
                                      ? 'tab-link tab-1 active'
                                      : 'tab-link tab-2'
                                  }}" data-tab="1" >
                                      <p class="tab-p body-sb" (click)="this.categoryFilter('all')">All</p>
                                  </li>
                                  <li class="{{
                                    categorySelected === category
                                      ? 'tab-link tab-1 active'
                                      : 'tab-link tab-2'
                                  }}" data-tab="2" *ngFor="let category of this.categories">
                                      <p class="tab-p body-sb" (click)="this.categoryFilter(category)">{{category.replace("Right", "")}}</p>
                                  </li>

                                </ul>
                            </div>
                            <!-- <div class="slect-main">
                                <select id="year">
                                    <option class="linkk" value="hide">All Artworks</option>
                                    <option class="linkk" value="2010">All Artworks</option>
                                    <option class="linkk" value="2011">Sort by</option>
                                    <option class="linkk" value="2012">All Artworks</option>
                                    <option class="linkk" value="2013">Sort by</option>
                                </select>
                                <select id="week">
                                    <option class="linkk" value="hide">Sort by</option>
                                    <option class="linkk" value="2010">All Artworks</option>
                                    <option class="linkk" value="2011">Sort by</option>
                                    <option class="linkk" value="2012">All Artworks</option>
                                    <option class="linkk" value="2013">Sort by</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="row row-custom-main" *ngIf="artworkArray?.length >= 3">
                        <div id="tab-1" class="tab-content active">
                            <div class="row row-custom-inr">

                                <div class="col-otr col-lg-3">
                                    <p-carousel   [value]="artworkArray" [numVisible]="3" [numScroll]="3" [style]="{width: 'inherit'}" [showNavigators]="false"  [responsiveOptions]="responsiveOptions"  [showIndicators]="true">
                                        <ng-template let-artwork pTemplate="item" >
                                            <app-nftcard [artwork]="artwork" [parentPage]="parentPage"></app-nftcard>
                                        </ng-template>
                                    </p-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-custom-main" *ngIf="artworkArray?.length < 3">
                      <div id="tab-1" class="tab-content active">
                          <div class="row row-custom-inr">
                              <div class="col-otr alter" *ngFor="let item of artworkArray;">
                                  <app-nftcard [artwork]="item" [parentPage]="parentPage" > </app-nftcard>
                              </div>
                          </div>
                      </div>

                  </div>
            </div>
        </div>

    <!--=======================================
            Explore Artworks End Here
    ========================================-->








