<div class="popular-collection">
  <div class="container-fluid">
    <div class="popular-collection-inr">
      <div class="heading-otr">
        <div class="head-otr">
          <h3 class="heading heading-h3">Popular Collections</h3>
        </div>
      </div>
      <span class="line"></span>
      <div class="row-custom owl-carousel owl-theme owl-loaded owl-drag" id="popular-artwork">






        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2546px;"><div class="owl-item active" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img8.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image11.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">Brainy Nerds Today</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> MetaBoss</a>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img13.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image10.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">Abstract Geniuses</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> Artist of Now</a>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img3.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image6.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">The 3D World of Fan...</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> King Kong</a>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img8.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image11.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">Brainy Nerds Today</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> MetaBoss</a>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img13.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image10.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">Abstract Geniuses</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> Artist of Now</a>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 400.333px; margin-right: 24px;"><div class="col-otr">
          <div class="col-inr">
            <a href="pages/Single-Creator.html" class="img-otr">
              <img class="img-fluid img-artwork" src="assets/img/cover-img3.jpg" alt="artwork-img">
            </a>
            <div class="content">
              <a href="pages/Single-Creator.html" class="create-img">
                <img class="img-create" src="assets/img/user-Image6.jpg" alt="create-img">
                <div class="check-otr">
                  <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
              </a>
              <a href="pages/Single-Creator.html" class="art-title body-sb">The 3D World of Fan...</a>
              <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> King Kong</a>
            </div>
          </div>
        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><img src="/assets/img/svg/ArrowRight.svg"></button><button type="button" role="presentation" class="owl-next"><img src="/assets/img/svg/ArrowLeft.svg"></button></div><div class="owl-dots disabled"></div></div>
    </div>
  </div>
</div>
