
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="min-height: 100vh; height: 100%;">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;  max-height: 10rem;">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">waves</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black; font-size: 13px;">Transaction Volume</p>
                            <h3 class="card-title" style="color: black; font-size: 16px;"> $386,056 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif; font-size: 10px;">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3" style="margin-bottom: 20px;">
                    <div class="card card-stats" style="background: white;  max-height: 10rem;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">add_task</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;  font-size: 13px;">Approved Assets</p>
                            <h3 class="card-title"  style="color: black; font-size: 16px;"> 34,245 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif; font-size: 10px;">
                                <i class="material-icons">local_offer</i> Total
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;  max-height: 10rem;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">addchart</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;  font-size: 13px;">Total Assets Owned by users</p>
                            <h3 class="card-title"  style="color: black; font-size: 16px;"> 75,000 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif; font-size: 10px;">
                                <i class="material-icons">local_offer</i> Total
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="card card-stats" style="background: white;  max-height: 10rem;">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <i class="material-icons" style="color: black;">call_made</i>
                            </div>
                            <p class="text-uppercase small font-weight-medium" style="color: black;  font-size: 13px;">Recent Transaction Value</p>
                            <h3 class="card-title"  style="color: black; font-size: 16px;"> $3000 </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif; font-size: 10px;">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>


            </div>
          
          <h2 class="text-uppercase font-weight-light">
              Recent Orders
          </h2>
          <div class="row" style="margin-top: 3rem; font-family: 'Playfair Display SC', serif;">

                    <div class="table-responsive">
                        <table class="table table-hover" >
                          <thead class="text-warning">
                            <th>Token Id</th>
                              <th> Amount Remaining </th>
                              <th>Original Amount</th>
                              <th>Price</th>
                              <th> Order Type </th>
                              <th>Order Strategy</th>
                          </thead>
                          <tbody *ngFor="let item of this.orders | slice:0:10; let i=index" >
                              <tr class="Table">
                                <td> {{item.tokenId}} </td>
                                <td> {{item.amountRemaining}} </td>
                                <td> {{item.originalAmount}} </td>
                                <td> {{item.price}} </td>
                                <td *ngIf="item.orderType === 0"> Buy </td>
                                <td *ngIf="item.orderType === 1"> Sell </td>
                                <td *ngIf="item.orderStrategy === 0"> Good Till Cancel </td>
                                <td *ngIf="item.orderStrategy === 1"> All Or Nothing </td>
                                <td *ngIf="item.orderStrategy === 2"> Good Till Day </td>
                                <td *ngIf="item.orderStrategy === 3">  Good Till Month </td>
                                <td *ngIf="item.orderStrategy === 4"> Market Order </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
          </div>
  
        </div>

        <!-- <div class="container-fluid container-lg container-home">
                
            <p class="text-uppercase small font-weight-medium">
                other Assets
            </p>
            <h2 class="text-uppercase font-weight-light">
            Other Artworks on the primary market
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                <mat-card (click)="view(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div> -->


  
  
  
        
  
    </div>
    
    <app-footer></app-footer>
        
  
  </div>



  