<div class="featured-creator">
  <div class="container-fluid">
    <div class="featured-creator-inr">
      <div class="heading-otr">
        <div class="head-otr mt-5">
          <h3 class="heading heading-h3">Creators</h3>
        </div>
        <a routerLink="all-creators" class="view-all">
          <p class="View-p body-sb">View All Creators</p>
          <svg class="arrow-icon" width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8h16M10.455 1.455L17 8l-6.545 6.545" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
      </div>
      <span class="line"></span>
      <div class="row row-custom owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2865px;">
            <ng-container *ngFor="let creator of creators">
            <div class="owl-item active" style="width: 294.25px; margin-right: 24px;">
              <div class="col-otr">
                <div class="col-inr">
                  <a routerLink="/user-profile" class="img-otr">
                    <img *ngIf="creator.photo.coverImage !== 'imageUrl' && creator.photo.coverImage !== null " class="img img-fluid" src="{{ creator.photo.coverImage }}" alt="artwork-img">
                    <img *ngIf="creator.photo.coverImage === 'imageUrl' || creator.photo.coverImage === null " class="img img-fluid" src="https://ethoz-light.vistothemes.com/assets/img/cover-img15.jpg" alt="artwork-img">
                  </a>
                  <div class="user-profile">
                    <a routerLink="/user-profile" class="user-img-otr">
                      <img class="user-img-inr" [src]="creator.photo.displayImage" alt="creator-img">
                    </a>
                    <div class="user-content">
                      <a routerLink="/user-profile" class="title body-mb">{{ creator.about.length > 20 ? (creator.about | slice:0:18 + '...') : (creator.about) }}</a>
                      <p class="body-s collect-by"> Collection by <a href="" class="body-sb username">{{creator.username}}</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="responsive">
        <a routerLink="/all-creators" class="view-all">
          <p class="View-p body-sb">View All Creators</p>
          <svg class="arrow-icon" width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8h16M10.455 1.455L17 8l-6.545 6.545" stroke="#366CE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
      </div>
    </div>
  </div>
</div>

