
<div class="main-content" style="overflow: hidden;">
    <div class="container-fluid" style="padding-left: 0 !important; ">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3" >
                <div class="card card-stats" style="background: #7A7EB0; max-height: 10rem;">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: white;">sensor_door</i>
                        </div>
                        <p class="card-category" style="color: rgb(255, 255, 255); font-size: 16px;">Wallet Balance</p>
                        <h3 class="card-title" style="color: white; font-size: 18px;"> {{this.balance | currency:"$"}} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: white;">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: #7A7EB0; max-height: 10rem;">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: white;">addchart</i>
                        </div>
                        <p class="card-category" style="color: rgb(255, 255, 255); font-size: 16px;">Total Assets Owned</p>
                        <h3 class="card-title"  style="color: white; font-size: 18px;"> {{this.totalItems}} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: white;">
                            <i class="material-icons">local_offer</i> Total Assets
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: #7A7EB0; max-height: 10rem;">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: white;">all_inclusive</i>
                        </div>
                        <p class="card-category" style="color: white; font-size: 16px;">Total Value of Assets</p>
                        <h3 class="card-title"  style="color: white; font-size: 18px;">  {{1900 | currency:"$"}} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: white;">
                            <i class="material-icons">local_offer</i> Total Value
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: #7A7EB0; max-height: 10rem;">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: white;"> call_made</i>
                        </div>
                        <p class="card-category" style="color: white; font-size: 16px;">Recent Transaction Value</p>
                        <h3 class="card-title"  style="color: white; font-size: 18px;">  {{200 | currency:"$"}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: white;">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
            <mat-card class="col-lg-3 col-md-3 col-sm-6"  *ngFor="let item of this.userAssets  let i=index" style="margin-right: 10px;">
              <h4 style="text-align: center;"> Details of Art: </h4>
              <mat-card-subtitle style="text-align: center;">
                Artist: {{item.artistName}}
              </mat-card-subtitle>
              <mat-card-content  style="position: relative; margin-bottom: 60px; ">
                <img src="{{item.imageUrl}}" class="image">
                <p class="paragraph">
                  <b> Price: </b>  {{item.price | currency:"$"}}
                </p>
                <p class="paragraph">
                  <b> Artwork Title: </b> {{item.titleOfWork}}
                </p>
                
                
              </mat-card-content>
              <div class="col-lg-2 col-md-2 col-sm-2" style="bottom: 2%; position: absolute; margin-top: 1rem; align-items: center;">
                <button (click)="view(item.tokenId, 'buyPage')" style="margin-left: 40px; align-items: center; background: green !important;" mat-raised-button type="submit" class="btn btn-danger pull-left">View Asset</button>
              </div>
             
            </mat-card>
          </div>
  
  
      
    </div>
  </div>
  