.Table {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px; 
    margin-bottom: 1rem;
    padding: 10px 20px;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    transition-property: box-shadow;
    border-radius: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: black;
}

.image {
    width: 100%;
    margin-bottom: 6px; 
    max-height: 12rem; 
    object-fit: cover;
}