
<div class="mm-page mm-slideout" style="background-color: white; ">
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>

  <div id="container_home">

      <div class="container-fluid container-lg container-home" *ngIf="this.pageHistory === 'buyPage' && this.asset.market === 0">
          <p class="text-uppercase small font-weight-medium">
              Details
          </p>
          <h2 class="text-uppercase font-weight-light">
              View More details:
          </h2>
          <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
            <mat-card class="col-lg-7 col-md-7 col-sm-7" style="font-family: 'Inter', serif;">
              <mat-card-header>
                <img src="{{this.asset.imageUrl}}" style="width: 100%; max-height: 30rem; margin-bottom: 10px; margin-left: 1rem;
                 box-shadow: 5px 5px 5px #ccc;
                      -moz-box-shadow: 10px 10px 5px #ccc;
                      -webkit-box-shadow: 10px 10px 5px #ccc;
                      -khtml-box-shadow: 10px 10px 5px #ccc;">
              </mat-card-header>
              <mat-card-subtitle style="text-align: center;">
                Artist: {{this.asset.artistName}}
              </mat-card-subtitle>
              <mat-card-content>
              </mat-card-content>
            </mat-card>
      
      
            
            <mat-card class="col-lg-3 col-md-3 col-sm-3">
                <mat-card-content>
                  <div class="col-lg-12 col-md-12 col-sm-12" style="font-family: 'Inter', serif;">
                      <p>
                          <b> Title: </b> {{this.asset.titleOfWork}}
                        </p>
              
                        <p>
                            <b> Created on: </b> {{this.asset.createdOn  | date}}
                        </p>
              
                        <p>
                          <b> Issuing Price: </b> ${{this.asset.issuingPrice}}
                        </p>
                       <p>
                        <b> Symbol: </b> {{this.asset.symbol}}
                       </p>
                        <p>
                          <b> Total Supply: </b> {{this.asset.totalSupply}}
                        </p>
                        <p>
                            <b>Remaining Shares:</b> {{this.remainingShares}}
                        </p>
                        <p>
                          <b> Token ID: </b>  
                          <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;">  
                            {{this.asset.tokenId}} - 
                            Verify <span class="material-icons" style="color: orange !important;">
                              fingerprint
                            </span>
                          </a>
                        </p>
                        <p>
                          <b> Description: </b> {{this.asset.description}}
                        </p>
                    
                    
                    </div>
                </mat-card-content>
            </mat-card>
      
            <mat-card class="col-lg-2 col-md-2 col-sm-2" style="font-family: 'Inter', serif;" *ngIf="this.notLoggedIn === false">

              

              <mat-card-content >
                <form #buyForm="ngForm" novalidate>
                  <div class="row">
                    <div class="col-md-9"  *ngIf="this.asset.market === 1" >
                      <mat-label>Order Strategy</mat-label>
                      <mat-select id ="orderStrategy" name="orderStrategy" placeholder="Good Till Cancel" [(ngModel)]="orderStrategy" >
                        <mat-option *ngFor="let strategy of demoStrategy" [value]="strategy.code" > {{strategy.name}} </mat-option>
                      </mat-select>
                            
                    </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p><b> Account Balance: </b> ${{this.balance}} </p>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p> <b> Owned Shares: </b> {{this.shares}} </p>
                  </div>

                </div>

                
      
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Quantity" type="number" id="amount" name="amount" [(ngModel)]="amount">
                        </mat-form-field>
                      </div>
                  </div>
      
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width">
                          <input matInput [readonly]="!editable" placeholder="Price: ${{this.asset.issuingPrice}}" type="number" value="{{this.asset.issuingPrice}}" id="price" name="price" [(ngModel)]="price">
                        </mat-form-field>
                      </div>
                  </div>
                  
                  <div style="padding-bottom: 20px; ">
                  <div class="row" *ngIf="this.amount">;
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <p><b> Total: </b> ${{this.amount * this.asset.issuingPrice}} </p>
                    </div>
                  </div>

                    <div class="clearfix"></div>
                  </div>
                  <div style="padding-bottom: 20px;">
                    <button *ngIf="!this.amount" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#buyModalLong">
                
                        Buy Asset
                    
                    </button>

                    <button *ngIf="this.amount" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;"  data-toggle="modal" data-target="#buyModalLong">
                
                      Buy Asset
                  
                  </button>
                  <div class="clearfix"></div>
                </div>

                

                <div  class="modal fade" id="buyModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.amount">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="row">
                                    <p style="margin-left: 20%; margin-right: 29%;"> 
                                      <b>Title: </b> 
                                    </p> 
                                    <b> {{this.asset.titleOfWork}} </b>
                                </div>
                                <div class="row">
                                    <p style="margin-left: 20%; margin-right: 30%;">
                                        <b>Price: </b> 
                                    </p>
                                    <b> ${{this.asset.issuingPrice}} </b>
                                </div>
                                <div class="row">
                                    <p style="margin-left: 20%; margin-right: 25%;">
                                        <b> Quantity: </b> 
                                    </p>
                                    <b> {{this.amount}} </b>
                                </div>

                                <div class="row">
                                  <p style="margin-left: 20%; margin-right: 30%;">
                                      <b> Total: </b> 
                                  </p>
                                  <b> ${{this.asset.issuingPrice * this.amount}} </b>
                              </div>
                                
                                
                            </div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                          <button data-dismiss="modal" (ngSubmit)="buy(buyForm)" (click)="buy(buyForm)" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                        


              </form>

              <!-- Button trigger modal -->
  
              
              </mat-card-content>
            </mat-card>
      
          </div>
  
      </div>


      <div class="container-fluid container-lg container-home" *ngIf="this.pageHistory === 'sellPage'">
        <p class="text-uppercase small font-weight-medium">
            Details
        </p>
        <h2 class="text-uppercase font-weight-light">
            View More details:
        </h2>
        <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
          <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px; font-family: 'Inter'">
            <mat-card-header>
              <img src="{{this.asset.imageUrl}}" style="width: 100%; margin-bottom: 10px; margin-left: 1rem;
               box-shadow: 5px 5px 5px #ccc;
                      -moz-box-shadow: 10px 10px 5px #ccc;
                      -webkit-box-shadow: 10px 10px 5px #ccc;
                      -khtml-box-shadow: 10px 10px 5px #ccc;">
            </mat-card-header>
            <mat-card-subtitle style="text-align: center;">
              Artist: {{this.asset.artistName}}
            </mat-card-subtitle>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    
          <mat-card class="col-lg-3 col-md-3 col-sm-3" style="font-family: 'Inter', serif;">
            <mat-card-content>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p>
                  <b> Title: </b> {{this.asset.titleOfWork}}
                </p>
      
                <p>
                    <b> Created on: </b> {{this.asset.createdOn  | date }}
                </p>
      
                <p>
                  <b> Issuing Price: </b> ${{this.asset.issuingPrice}}
                </p>
                <p>
                  <b> Price: </b> ${{this.asset.price}}
                </p>
               <p>
                <b> Symbol: </b> {{this.asset.symbol}}
               </p>
                <p>
                  <b> Total Supply: </b> {{this.asset.totalSupply}}
                </p>
                <p>
                  <b>Remaining Shares:</b> {{this.remainingShares}}
                </p>
                <p>
                  <b> Token ID: </b> 
                   <a href="https://blockscout.com/poa/sokol/tokens/0x0B0faDc11c1E868dD0Dbca84436BFAA08Ee2f360/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;">
                   
                      {{this.asset.tokenId}} - 
                      Verify <span class="material-icons" style="color: orange !important;">
                        fingerprint
                      </span>
                  </a>
                </p>
                <p>
                  <b> Description: </b> {{this.asset.description}}
                </p>
                
                
              </div>
            </mat-card-content>
          </mat-card>
    
    
          <mat-card class="col-lg-2 col-md-2 col-sm-2" style="border-radius: 10px;" style="font-family: 'Inter', serif;" *ngIf="this.asset.market !== 0 && this.notLoggedIn === false ">
            <div class="col-md-2" style="margin-left: 9px !important; padding-left: 0 !important;">

              <div class="btn-group btn-group-toggle" id="filterCategory" data-toggle="buttons" style="border-color: black;">
                <label class="btn btn-md btn-outline-secondary" 
                      [ngClass]="{active : currentButton == 'first'}"
                      (click) = "currentButton='first'"
                      style="width: 77px !important; text-transform: capitalize;"
                       >
                  <input type="radio" name="options" autocomplete="off" checked >Limit  
                </label>
                <label class="btn btn-md btn-outline-secondary"
                       [ngClass]="{active : currentButton == 'second'}"
                      (click) = "currentButton='second'"
                      style="width: 85px !important; text-transform: capitalize;"
                  >
                  <input type="radio" name="options" autocomplete="off"> Market
                  
                </label>
              </div>
          
            </div>
            <mat-card-content *ngIf="this.currentButton === 'first'">
              <form #sellForm="ngForm" novalidate>
                <!-- <div class="row" *ngIf="this.asset.market !== 0">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <mat-label>Order Strategy</mat-label>
                    <mat-select id ="orderStrategy" name="orderStrategy" placeholder="Good Till Cancel" [(ngModel)]="orderStrategy" >
                      <mat-option *ngFor="let strategy of demoStrategy" [value]="strategy.code" > {{strategy.name}} </mat-option>
                    </mat-select>
                          
                  </div>
              </div> -->

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p><b> Account Balance: </b> ${{this.balance}} </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p> <b> Owned Shares: </b> {{this.shares}} </p>
                </div>
  
              </div>
    
                <div class="row" *ngIf="this.asset.market !== 0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Quantity" type="number" id="amount" name="amount" [(ngModel)]="amount">
                      </mat-form-field>
                    </div>
                </div>
    
                <div class="row" *ngIf="this.asset.market !== 0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Price" type="number" id="price" name="price" [(ngModel)]="price">
                      </mat-form-field>
                    </div>
                </div>
                
                <div style="padding-bottom: 20px; " *ngIf="this.asset.market !== 0 && this.amount && this.price">
                  <button data-toggle="modal" data-target="#sellModalLong" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;">
                
                    Sell Asset
                
                </button>
                  <div class="clearfix"></div>
                </div>

                <div style="padding-bottom: 20px; " *ngIf="this.asset.market === 0  || !this.amount || !this.price">
                  <button (click)="sell(sellForm)" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;">
                
                    Sell Asset
                
                </button>
                  <div class="clearfix"></div>
                </div>





                <div  class="modal fade" id="sellModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" *ngIf="this.amount">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Order Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div *ngIf="this.asset.market !== 0">
                              <div class="row">
                                  <p style="margin-left: 20%; margin-right: 30%;"> Title: </p> <b> {{this.asset.titleOfWork}} </b>
                              </div>
                              <div class="row">
                                  <p style="margin-left: 20%; margin-right: 29%;">
                                      <b>Price: </b> 
                                  </p>
                                  <b> ${{this.price}} </b>
                              </div>
                              <div class="row">
                                  <p style="margin-left: 20%; margin-right: 24%;">
                                      <b> Quantity: </b> 
                                  </p>
                                  <b> {{this.amount}} </b>
                              </div>

                              <div class="row">
                                <p style="margin-left: 20%; margin-right: 29%;">
                                    <b> Total: </b> 
                                </p>
                                <b> {{this.price * this.amount}} </b>
                            </div>
                              
                              
                          </div>
                          <div *ngIf="this.asset.market !== 0">
                              Please confirm that you intend to sell {{this.amount}} amounts of {{this.asset.titleOfWork}} at ${{this.price}}
                          </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                        <button data-dismiss="modal"  (click)="sell(sellForm)" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
            </mat-card-content>


            <mat-card-content *ngIf="this.currentButton === 'second' ">
              <form #buyForm="ngForm"  novalidate>
 
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <p><b> Account Balance: </b> ${{this.balance}} </p>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <p><b> Owned Shares: </b> {{this.shares}} </p>
                      </div>
       
                  </div>
         
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <mat-form-field class="example-full-width">
                          <input matInput placeholder="Quantity" type="number" id="amount" name="amount" [(ngModel)]="amount">
                          </mat-form-field>
                      </div>
                  </div>
         
                     
                  <div style="padding-bottom: 20px; ">
                      <button *ngIf="this.amount && this.shares !== 0" (click)="sendMarketOrder()" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;">
                  
                      Place Order
                  
                      </button>

                      <button *ngIf="!this.amount" disabled class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green;">
                  
                        Place Order
                    
                        </button>
                  
                  </div>
                 </form>
       

          </mat-card-content>
          


          </mat-card>
    
        </div>

    </div>



   



    <div class="container-fluid container-lg container-home" *ngIf="this.pageHistory === 'approvePage'">
      <p class="text-uppercase small font-weight-medium">
          Details
      </p>
      <h2 class="text-uppercase font-weight-light">
          View More details:
      </h2>
      <div class="row" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
        <mat-card class="col-lg-7 col-md-7 col-sm-7" style="border-radius: 10px;" style="font-family: 'Inter', serif;">
          <mat-card-header>
            <img src="{{this.asset.imageUrl}}" style="width: 80%; margin-bottom: 10px; margin-left: 1rem;
             box-shadow: 5px 5px 5px #ccc;
                      -moz-box-shadow: 10px 10px 5px #ccc;
                      -webkit-box-shadow: 10px 10px 5px #ccc;
                      -khtml-box-shadow: 10px 10px 5px #ccc;">
          </mat-card-header>
          <mat-card-subtitle style="text-align: center;">
            Artist: {{this.asset.artistName}}
          </mat-card-subtitle>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="col-lg-3 col-md-3 col-sm-3" style="font-family: 'Inter', serif;">
          <mat-card-content>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <p>
                <b> Title: </b> {{this.asset.titleOfWork}}
              </p>
    
              <p>
                  <b> Created on: </b> {{this.asset.createdOn  | date }}
              </p>
    
              <p>
                <b> Issuing Price: </b> ${{this.asset.issuingPrice}}
              </p>
              <p>
                <b> Price: </b> ${{this.asset.price}}
              </p>
             <p>
              <b> Symbol: </b> {{this.asset.symbol}}
             </p>
              <p>
                    <b> Total Supply: </b> {{this.asset.totalSupply}}
              </p>
              <p>
                <b>Remaining Shares:</b> {{this.remainingShares}}
              </p>
              <p>
                <b> Token ID: </b>  
                  <a href="https://blockscout.com/poa/sokol/tokens/0x9143F12B3c1ef1CC4d814b53b2480429b3D81e0E/instance/{{this.asset.tokenId}}/token-transfers" target="_blank" style="color: blue;"> 
                    {{this.asset.tokenId}} - 
                    Verify <span class="material-icons" style="color: orange !important;">
                      fingerprint
                    </span>
                  </a>
              </p>
              <p>
                <b> Description: </b> {{this.asset.description}}
              </p>
              
              
            </div>
          </mat-card-content>
        </mat-card>
  
  
        <mat-card class="col-lg-2 col-md-2 col-sm-2" style="border-radius: 10px;">
          <mat-card-content style="font-family: 'Inter', serif;">
            <button (click)="approve(this.asset.tokenId, true)" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: green; border-color: transparent; color: white;">
                
              Approve
          </button>
  
            
          <button (click)="approve(this.asset.tokenId, false)" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: red; border-color: transparent; color: black;">
                
            Decline
        </button>
              
              
          </mat-card-content>
        </mat-card>
  
      </div>

  </div>

      <div class="container-fluid container-lg container-home">
          
        <p class="text-uppercase small font-weight-medium">
            other listings
        </p>
        <h2 class="text-uppercase font-weight-light">
            recommendations
        </h2>
        <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
            <mat-card (click)="viewBuy(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index">
                <mat-card-content  style="position: relative; ">
                    <img src="{{item.imageUrl}}" class="image" style=" box-shadow: 5px 5px 5px #ccc;
                    -moz-box-shadow: 10px 10px 5px #ccc;
                    -webkit-box-shadow: 10px 10px 5px #ccc;
                    -khtml-box-shadow: 10px 10px 5px #ccc;">
                    <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Price: </b> ${{item.price}}
                    </p>
                    <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Artwork Title: </b> {{item.titleOfWork}}
                    </p>
                    
                    
                  </mat-card-content>
            </mat-card>
        </div>

    </div>




  </div>
  
      <app-footer></app-footer>

</div>


