<div class="creator-main">
  <div class="container-fluid">
    <div class="creator-main-inr">
      <div class="heading-otr">
        <div class="head-otr">
          <h3 class="heading heading-h3">Explore Galleries</h3>
        </div>
        <div class="select"><select id="year" class="select-hidden">
          <option class="linkk" value="hide">Sort by</option>
          <option class="linkk" value="2010">All Artworks</option>
          <option class="linkk" value="2011">Sort by</option>
          <option class="linkk" value="2012">All Artworks</option>
          <option class="linkk" value="2013">Sort by</option>
        </select><div class="select-styled">Sort by</div><ul class="select-options"><li rel="hide">Sort by</li><li rel="2010">All Galleries</li><li rel="2011">Sort by</li><li rel="2012">All Artworks</li><li rel="2013">Sort by</li></ul></div>
      </div>
      <span class="line"></span>

      <div class="row row-custom owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap;">
            <ng-container *ngFor="let gallery of galleries">
              <div class="owl-item" style="width: 30%; margin-right: 24px; margin-bottom: 2rem"><div class="col-otr">
                <div class="col-inr">
                  <a href="pages/Single-Creator.html" class="img-otr">
                    <img class="img-fluid img-artwork" src="{{gallery.photo.coverImage}}" alt="artwork-img">
                  </a>
                  <div class="content">
                    <a href="pages/Single-Creator.html" class="create-img">
                      <img class="img-create" src="{{gallery.photo.displayImage}}" alt="create-img">
                      <div class="check-otr">
                        <svg class="check-icon" width="10" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      </div>
                    </a>
                    <a href="pages/Single-Creator.html" class="art-title body-sb">Brainy Nerds Today</a>
                    <a href="pages/Single-Creator.html" class="by-otr body-sb"> <span class="by body-s">by</span> {{gallery.username }}</a>
                  </div>
                </div>
              </div></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
