<div class="background">
  <div class="white-card">
    <div class="row">
      <div class="col-md-5">
        <div>
          <h4>Billing Details</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="input-otr">
                <input class="input" type="text" name="fname" placeholder="First name" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
                <input class="input" type="text" name="lname" placeholder="Last name" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <input class="input" type="text" name="cname" placeholder="Company name" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <div class="select">
                  <select id="year" class="select-hidden">
                    <option class="linkk" value="hide">Select country</option>
                    <option class="linkk" value="2010">UI Design</option>
                    <option class="linkk" value="2011">UI/UX</option>
                    <option class="linkk" value="2012">Web Development</option>
                    <option class="linkk" value="2013">UI/UX</option>
                  </select>
                  <div class="select-styled">Select contrary</div>
                  <ul class="select-options" style="display: block;">
                    <li rel="hide">Select Subject</li>
                    <li rel="2010">UI Design</li>
                    <li rel="2011">UI/UX</li>
                    <li rel="2012">Web Development</li>
                    <li rel="2013">UI/UX</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h4>Payment method     <img width="140px" src="assets/img/icons/payments.svg" alt=""></h4>

          <h4>Name on card</h4>
          <input type="text">
          <h6>Card number</h6>

        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>


