<div class="background">
  <div class="white-card">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-inr">
          <div [ngSwitch]="artwork.category">
              <a class="img-otr img-tilt" id="anchorMedia"   *ngSwitchDefault>
                  <img id="imageDisplay" class="img-artwork img-fluid"  src="{{artwork.featuredImage.media}}" alt="artwork-img">
              </a>
              <a class="img-otr img-tilt" data-tilt  *ngSwitchCase="'musicRight'">
                  <img id="audioCoverArt" class="img-artwork img-fluid" src="{{artwork.featuredImage.media}}" alt="artwork-img">
                  <audio id="audioPlayer" class="AudioPlayerV1" style="width: 100%;"  controls controlsList="nodownload">
                      <source src="{{artwork.gallery[2]['media']}}" type="audio/mp3" />
                      <source src=" {{artwork.gallery[2]['media']}} " type="audio/ogg" />
                  </audio>
              </a>
              <a class="tilt-otr img-tilt"  id="anchorMedia" data-tilt  *ngSwitchCase="'movieRight'">
                  <video id="videoPlayer" class="img-artwork img-fluid" style="object-fit: contain; width: 100%; height: 640px;"   controls autostart="false" controlsList="nodownload">
                      <source src=" {{artwork.gallery[2]['media']}}" type="video/mp4" />
                      <source src="{{artwork.gallery[2]['media']}}" type="video/webm" />
                      <source src=" {{artwork.gallery[2]['media']}}" type="video/ogg" />
                  </video>
              </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <form #myForm="ngForm">
        <div>
          <h4>Billing Details</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="input-otr">
                <p class="input-title">First name*</p>
                <input class="input" type="text" name="fname" [(ngModel)]="firstName" placeholder="First name" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
              <p class="input-title">Last name*</p>
                <input class="input" type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last name" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Country*</p>
                <div class="select" (click)="active = !active">
                  <select id="year" class="select-hidden" [(ngModel)]="countryId" name="countryId">
                    <option class="linkk" value="hide">Select country</option>
                  </select>
                  <div class="select-styled">{{ countryId }}</div>
                  <ul class="select-options" [ngStyle]="{'display': active ? 'block' : 'none' }">
                    <li *ngFor="let country of countries" (click)="getCountry(country.name)">{{ country.name }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
                <p class="input-title">State*</p>
                <input class="input" type="text" name="state" [(ngModel)]="state" placeholder="State" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
              <p class="input-title">City*</p>
                <input class="input" type="text" [(ngModel)]="city" name="city" placeholder="City" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
                <p class="input-title">Street*</p>
                <input class="input" type="text" name="street" [(ngModel)]="street" placeholder="Street" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
              <p class="input-title">Zip Code*</p>
                <input class="input" type="text" [(ngModel)]="zip" name="zip" placeholder="Zip code" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Email</p>
                <input class="input" type="email"[(ngModel)]="email" name="email" placeholder="Email Address" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
              <p class="input-title">Phone Number*</p>
                <input class="input" type="number" [(ngModel)]="phone" name="zip" placeholder="Zip code" required="">
              </div>
            </div>
          </div>
          <!-- <h4>Payment method     <img width="140px" src="assets/img/icons/payments.svg" alt=""></h4>

          <div class="row">
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Card holder's name*</p>
                <input class="input" type="text" [(ngModel)]="cardHoldersName" name="cardHoldersName" placeholder="Card holder's name" required="">
              </div>
              <div ngxStripeCardGroup
              [elementsOptions]="elementsOptions">
                <div class="input-otr">
                  <p class="input-title">Card number*</p>
                  <label class="input">
                    <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                  </label>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-otr">
                      <p class="input-title">Expiry date*</p>
                      <label class="input">
                        <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                      </label>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-otr">
                      <p class="input-title">CVC*</p>
                      <label class="input">
                        <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                      </label>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> -->
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <button [disabled]="myForm.invalid" class="btn-fill btn-create text-center" (click)="confirm()">Confirm</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


