<div class="background">
  <div class="white-card">
    <div class="row">
      <div class="col-md-5">
        <form #myForm="ngForm">
        <div>
          <h4>Billing Details</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="input-otr">
                <p class="input-title">First name*</p>
                <input class="input" type="text" name="fname" [(ngModel)]="firstName" placeholder="First name" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-otr">
              <p class="input-title">Last name*</p>
                <input class="input" type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last name" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Company name*</p>
                <input class="input" type="text"[(ngModel)]="companyName" name="companyName" placeholder="Company name" required="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Country*</p>
                <div class="select" (click)="active = !active">
                  <select id="year" class="select-hidden" [(ngModel)]="countryId" name="countryId">
                    <option class="linkk" value="hide">Select country</option>
                    <option class="linkk" value="2010">UI Design</option>
                    <option class="linkk" value="2011">UI/UX</option>
                    <option class="linkk" value="2012">Web Development</option>
                    <option class="linkk" value="2013">UI/UX</option>
                  </select>
                  <div class="select-styled">{{ countryId }}</div>
                  <ul class="select-options" [ngStyle]="{'display': active ? 'block' : 'none' }">
                    <li *ngFor="let country of countries" (click)="getCountry(country.name)">{{ country.name }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h4>Payment method     <img width="140px" src="assets/img/icons/payments.svg" alt=""></h4>

          <div class="row">
            <div class="col-md-12">
              <div class="input-otr">
                <p class="input-title">Card holder's name*</p>
                <input class="input" type="text" [(ngModel)]="cardHoldersName" name="cardHoldersName" placeholder="Card holder's name" required="">
              </div>
              <div class="input-otr">
                <p class="input-title">Card number*</p>
                <input class="input" type="text" [(ngModel)]="cardNumber" name="cardNumber" placeholder="Card number" required="">
              </div>
              <div class="row">
              <div class="col-md-6">
                <div class="input-otr">
                  <p class="input-title">Expiry date*</p>
                  <input class="input" type="text" [(ngModel)]="expiryDate" name="expiry" placeholder="Expiry date" required="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-otr">
                  <p class="input-title">Security code*</p>
                  <input class="input" [(ngModel)]="securityCode" type="text" name="code" placeholder="Security code" required="">
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <button [disabled]="myForm.invalid" class="btn-fill btn-create text-center" (click)="submit(myForm.value)">Check out</button>
          </div>
        </div>
        </form>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>


