
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
    <ngx-spinner></ngx-spinner>
   <app-navbar></app-navbar>
   

    <div id="container_home">

        <div class="container-fluid mt-3 container-home" style="height: 100%; padding-left: 7rem;">
            <div class="row">
                <h1 class="nav-link text-nowrap mr-3" data-display="static" style="color: red !important; font-family: 'Cormorant Garamond'; font-size: 20px !important; text-align: center;" *ngIf="!this.isConnected">  
                    Metamask connection not detected. Install Metamask or click on the 'Connect Wallet' Button to connect to your wallet.
                </h1>
            </div>
            <div class="row no-gutters">
                <div class="container mt-3">
                    <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Slide Indicators -->
                    
                      
                  
                      <!-- The slides to show -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div  class="row">
                                <div class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: #BCBD79; padding-left: 15px; height: 20rem; width: 100%;">
                                    <div class="hero-content w-100">
                                        <h2 class="text-white text-uppercase text-center text-lg-left hero-title">  
                                            Easily Buy and trade art securely on the digital blockchain
                                        </h2>
                                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                                            Audit an artwork’s origin and ownership history while safe-guiding it from theft and fraud,  using a unique digital blockchain signature.
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7" style="padding-left: 0 !important;">
                                    <div class="overlay">
                                        <img class="img-fluid" src="/assets/img/I_Still_Face_You.jpg">
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                           <div  class="row">
                              
                                <div   class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col"  style="padding-left: 0 !important;">
                                    <div class="overlay">
                                        <img class="img-fluid" src="/assets/img/record.jpeg">
                                    </div>
                            
                                </div>

                                <div class="col-12 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: #00AAE2; padding-left: 15px; height: 20rem; width: 100%;">
                                    <div class="hero-content w-100">
                                        <h3 class="text-white text-uppercase text-center text-lg-left hero-title">  
                                            A platform to enable musicians issue and trade NFTs.
                                        </h3>
                                        <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                                            representing ownership rights of their creative works.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div  class="row">
                                 <div class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: #8390A0; padding-left: 15px; height: 20rem; width: 100%;">
                                     <div class="hero-content w-100">
                                         <h3 class="text-white text-uppercase text-center text-lg-left hero-title">  
                                             Movie producers can also issue and trade NFTs.
                                         </h3>
                                         <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: black !important;">
                                             representing ownership rights of their creative works.
                                         </p>
                                         
                                     </div>
                                 </div>
                                 <div class="col-12 col-lg-7" style="padding-left: 0 !important;">
                                     <div class="overlay">
                                         <img class="img-fluid" src="/assets/img/video_nft.jpeg">
                                     </div>
                             
                                 </div>
                             </div>
                         </div>

                        <div class="carousel-item">
                            <div  class="row">
                                 <div class="col-12 col-lg-5 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="background-color: black; padding-left: 15px; height: 20rem; width: 100%;">
                                     <div class="hero-content w-100">
                                        <div class="overlay">
                                            <img style="height: 60%; width: 60%; margin-left: 20%;" src="/assets/img/binance.jpeg">
                                        </div>
                                         
                                     </div>
                                 </div>
                                 <div class="col-12 col-lg-7 d-flex align-items-center p-2 pb-5 p-sm-5 p-lg-0 hero-col" style="padding-left: 0 !important; background-color: black;">
                                    <div class="hero-content w-100">
                                         <h3 class="text-white text-uppercase text-center text-lg-left hero-title" style="color: orange !important;">  
                                            Powered by the Binance Smart Chain.
                                         </h3>
                                         <p class="h5 text-white text-center text-lg-left hero-subtitle" style="color: white !important;">
                                            guaranteed faster performance and lower fees.
                                         </p>
                                         
                                     </div>
                             
                                 </div>
                             </div>
                         </div>
                      </div>                      <!--  Controls (Left and right) -->
                      <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                  </div>
               
            
            </div>
            
        </div>


        <!-- <div class="container-fluid container-lg container-home">
          
            <p class="text-uppercase small font-weight-medium">
                unique offers
            </p>
            <h2 class="text-uppercase font-weight-light">
                Exclusive Listing
            </h2>
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%;">
                
                View more
            
            </a>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; ">
                    <div *ngFor="let item of this.exclusive  let i=index" class="col-3 col-md-3 ">
                        <div (click)="viewBuy(item.tokenId, 'buyPage')"  style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                            <div >
                              
                                <img src="{{item.imageUrl}}" class="image">

                                   <!-- <audio controls>
                              <source  type="audio/mpeg"  [src]="this.mp3" >
                            </audio>
                         
                            <video width="420" height="340" controls autoplay controlsList="nodownload">
                              <source [src]="this.mp4" type="video/mp4">
                              <source [src]="this.mp4" type="video/ogg">
                            Your browser does not support the video tag.
                            </video> -->

                        <!-- </div>
                    </div>
                    <div class = "row" style="margin-top: 10px;">
                        <div class="col">
                            <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center; vertical-align: middle; margin-right: 2px;">
                                <b> {{item.titleOfWork}} </b> 
                            </p>
                        </div>
                        <div class="col">
                           <p class="paragraph" style="align: right;">
                                <mat-icon matPrefix  style="vertical-align:middle; margin-left: 60%; color: black;">favorite_border </mat-icon> 
                            </p>
                        </div>
                    </div>                 
                </div>
            </div> 

           
    
        </div> -->

        <div class="container-fluid container-lg container-home">
            <!-- <p class="text-uppercase small font-weight-medium">
                New Offers
            </p> -->
                <h2 class="text-uppercase font-weight-light">
                   Music Rights
                </h2>
               
           
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%; margin-bottom: 40px;">
                
                View more
            
            </a>

            <!-- <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; ">
                <div data-id = "1" id="wcs-app-1" class="wcs-timetable__container wcs-timetable--1 wcs-timetable--style-6 wcs-timetable--without-filters">

                    <div class="wcs-timetable wcs-timetable--carousel">
                        <div class="wcs-timetable__carousel wcs-timetable__parent owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2054px; padding-left: 40px; padding-right: 40px;">
                                    <div class="owl-item active" style="width: 269px; margin-right: 60px;">
                                        <div *ngFor="let item of this.primaryMarket  let i=index" class="wcs-class wcs-class--filterable wcs-class--not-started wcs-class--not-finished wcs-class--term-id-9 wcs-class--term-carousel wcs-class--term-id-31 wcs-class--term-landscape wcs-class--term-id-32 wcs-class--term-british-gallery-of-arts wcs-class--term-id-33 wcs-class--term-john-constable wcs-class--term-id-35 wcs-class--term-samuel-palmer wcs-class--term-id-34 wcs-class--term-thomas-girtin wcs-class--day-4 wcs-class--time-morning vue-element">
                                            <div class="wcs-class__image">
                                                <div class="responsive-image">
                                                    <img src="{{item.imageUrl}}" class="wcs-modal-call">
                                                </div>
                                                
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div> -->
           
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; ">
                <div *ngFor="let item of this.audios  let i=index" class="col-3 col-md-3 ">

               
               
                        <div style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                            
                            

                            <div style="border-radius: 40px;">
                                <img src="{{item.image.media}}" (click)="viewSec(item.tokenId, 'sellPage')" style="object-fit: cover; margin: 0; width: 100%; height: 12rem;">
                                    <audio width="80%" controls controlsList="nodownload" style="border-radius: 40px;">
                                      <source  type="audio/mpeg"  [src]="item.audio.media" >
                                    </audio>
                                 
                            </div>
                        </div>
                        <div class = "row" style="margin-top: 10px;">
                            <div class="col">
                                <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center;">
                                    <b> {{item.name}} </b> 
                                </p>
                            </div>
                            <div class="col">
                                <p class="paragraph" style="align: right;">

                                    <mat-icon matPrefix  style="vertical-align:middle; margin-left: 60%; color: black;">favorite_border </mat-icon> 
                                </p>
                            </div>

                        </div>  
                    
                    </div>
            </div>
           
         
    
        </div>

        <div class="container-fluid container-lg container-home">
          
            <!-- <p class="text-uppercase small font-weight-medium">
                Existing Offers
            </p> -->
            <h2 class="text-uppercase font-weight-light">
                ArtWorks
            </h2>
            <a (click)="goToAllAssets('secondary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%; margin-bottom: 40px;">
                
                View more
            
            </a>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">


                <div *ngFor="let item of this.images  let i=index" class="col-3 col-md-3 ">

               
               
                    <div (click)="viewSec(item.tokenId, 'sellPage')"  style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                        <div  style="position: relative;">
                            
                            <img src="{{item.image.media}}" class="image">
                        </div>
                    </div>
                            <div class = "row" style="margin-top: 10px;">
                                <div class="col">
                                    <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center;">
                                        <b> {{item.name}} </b> 
                                      </p>
                                </div>
                                <div class="col">
                                    <p class="paragraph" style="align: right;">
    
                                        <mat-icon matPrefix  style="vertical-align:middle; margin-left: 60%; color: black;">favorite_border </mat-icon> 
                                    </p>
                                </div>
    
                            </div>  
                        
                </div>
            </div>
      
    
        </div>



        <div class="container-fluid container-lg container-home">
          
            <!-- <p class="text-uppercase small font-weight-medium">
                Latest Issue
            </p> -->
            <h2 class="text-uppercase font-weight-light">
                Movie Rights
            </h2>
            <a (click)="goToAllAssets('secondary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%; margin-bottom: 40px;">
                
                View more
            
            </a>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">


                <div *ngFor="let item of this.videos  let i=index" class="col-3 col-md-3 ">

               
               
                    <div (click)="viewSec(item.tokenId, 'sellPage')"  style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                        <div  style="position: relative;">
                            
                            <!-- <img src="{{item.data.media}}" class="image"> -->
                          
                                <video *ngIf="item.video.media" width="100%" height="100%" class="image" controls controlsList="nodownload">
                                    <source [src]="item.video.media" type="video/mp4">
                                    <source [src]="item.video.media" type="video/ogg">
                                  Your browser does not support the video tag.
                                  </video>
                             
                        </div>
                    </div>
                            <div class = "row" style="margin-top: 10px;">
                                <div class="col">
                                    <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center;">
                                        <b> {{item.name}} </b> 
                                      </p>
                                </div>
                                <div class="col">
                                    <p class="paragraph" style="align: right;">
    
                                        <mat-icon matPrefix  style="vertical-align:middle; margin-left: 60%; color: black;">favorite_border </mat-icon> 
                                    </p>
                                </div>
    
                            </div>  
                        
                </div>
            </div>
      
    
        </div>

        


        <div class="container-fluid container-lg container-home">
          
            <p class="text-uppercase small font-weight-medium">
                categories
            </p>
            <h2 class="text-uppercase font-weight-light">
                Featured categories
            </h2>
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%; margin-bottom: 40px;">
                
                View more
            
            </a>

            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; ">
                <div *ngFor="let item of this.demoCategories  let i=index" class="col-3 col-md-3 ">

               
               
                        <div (click)="viewBuy(item.tokenId, 'buyPage')"  style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                            <div >
                                <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center;">
                                    <b> {{item.titleOfWork}} </b> 
                                </p>
                                <img src="{{item.imageUrl}}" class="image">
                            </div>
                        </div>
                    
                    </div>
            </div>
           
    
        </div>

        <div class="container-fluid container-lg container-home">
          
            <p class="text-uppercase small font-weight-medium">
                creators
            </p>
            <h2 class="text-uppercase font-weight-light">
                Featured Artists
            </h2>
            <a (click)="goToAllAssets('primary')" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black; margin-left: 85%; margin-bottom: 40px;">
                
                View more
            
            </a>


            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll;">


                <div *ngFor="let item of this.images  let i=index" class="col-3 col-md-3 ">

               
               
                    <div (click)="viewBuy(item.tokenId, 'buyPage')"  style=" background: white !important;  box-shadow: 5px 5px 5px #ccc; ">
                        <div  style="position: relative;">
                            
                            <img *ngIf="item.image.media" src="{{item.image.media}}" class="image">
                        </div>
                    </div>
                            <div class = "row" style="margin-top: 10px;">
                                <div class="col">
                                    <p  style="font-family: 'Cormorant Garamond', serif; color: black; text-align: center;">
                                        <b> {{item.name}} </b> 
                                      </p>
                                </div>
                                <div class="col">
                                    <p class="paragraph" style="align: right;">
    
                                        <mat-icon matPrefix  style="vertical-align:middle; margin-left: 60%; color: black;">favorite_border </mat-icon> 
                                    </p>
                                </div>
    
                            </div>  
                        
                        </div>
                </div>
           
    
        </div>


        

    </div>
   
    
        <app-footer></app-footer>

</div>

   
