
<div class="mm-page mm-slideout" style="background-color: white;  min-height: 100vh; height: 100%; overflow-x: hidden;">
  <ngx-spinner></ngx-spinner>
 <app-navbar></app-navbar>

  <div id="container_home">

      <div class="container-fluid container-lg container-home" >

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: white;">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: black;">waves</i>
                        </div>
                        <p class="text-uppercase small font-weight-medium" style="color: black;">Account Balance</p>
                        <h3 class="card-title" style="color: black; font-family: 'Cardo', serif !important;"> {{this.balance | currency:"$"}}  </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3" style="margin-bottom: 20px;">
                <div class="card card-stats" style="background: white;">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: black;">info_outline</i>
                        </div>
                        <p class="text-uppercase small font-weight-medium" style="color: black;">Total Orders Made</p>
                        <h3 class="card-title"  style="color: black; font-family: 'Cardo', serif;"> {{this.totalOrders}} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                            <i class="material-icons">local_offer</i> Total Assets
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: white;">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: black;">info_outline</i>
                        </div>
                        <p class="text-uppercase small font-weight-medium" style="color: black;">Total Assets Value</p>
                        <h3 class="card-title"  style="color: black; font-family: 'Cardo', serif;"> {{3000 | currency:"$"}}  </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                            <i class="material-icons">local_offer</i> Total value
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats" style="background: white;">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <i class="material-icons" style="color: black;">call_made</i>
                        </div>
                        <p class="text-uppercase small font-weight-medium" style="color: black;">Recent Transaction Value</p>
                        <h3 class="card-title"  style="color: black; font-family: 'Cardo', serif;"> {{3000 | currency:"$"}} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats" style="color: black; font-family: 'Playfair Display SC', serif;">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>


        </div>
          
       
        <h2 class="text-uppercase font-weight-light">
            Payments
        </h2>
        <p class="text-uppercase small font-weight-medium">
            Kindly fill the form below and click 'pay' to make payments
        </p>
        <div class="row" style="margin-top: 3rem;">
          <div class="col-lg-4 col-md-4 col-sm-4"></div>
          <div class=" card-body">
            <form id="paymentForm">
                <script src="https://js.paystack.co/v1/inline.js"></script>
                <mat-form-field style="height: 7rem; font-family: 'Cardo', serif; width: 50%;">
                <mat-icon matPrefix style="margin-right: 2rem ;">email_outline</mat-icon>
                <input autofocus type="email" matInput placeholder="Email" id="email" name="email" [(ngModel)]="email" >
                </mat-form-field>

                <mat-form-field style="height: 7rem; font-family: 'Cardo', serif; width: 50%;">
                    <mat-icon matPrefix style="margin-right: 2rem ;">account_balance_wallet</mat-icon>
                    <input autofocus type="number" matInput placeholder="Amount" id="amount" name="amount" [(ngModel)]="amount" >
                </mat-form-field>

                <mat-form-field style="height: 7rem; font-family: 'Cardo', serif; width: 50%;">
                    <mat-icon matPrefix style="margin-right: 2rem ;">face</mat-icon>
                    <input autofocus type="text" matInput placeholder="First Name" id="firstName" name="firstName" [(ngModel)]="firstName" >
                </mat-form-field>
    
                <mat-form-field style="height: 7rem; font-family: 'Cardo', serif; width: 50%;">
                    <mat-icon matPrefix style="margin-right: 2rem ;">face</mat-icon>
                    <input type="text" autocomplete="false" matInput placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="lastName">
                </mat-form-field>
              <button (click)="payWithPaystack()" type="submit" class="btn btn-dark px-3 px-sm-5 py-2 py-md-3 small font-weight-medium text-nowrap" style="background-color: black;">
      
                Pay
            
            </button>
            </form>
            
          </div>
        </div>

      </div>

    
      <div class="container-fluid container-lg container-home" >
              
          <p class="text-uppercase small font-weight-medium">
              all artworks
          </p>
          <h2 class="text-uppercase font-weight-light">
              Recommendations
          </h2>
          <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
              <mat-card (click)="viewBuy(item.tokenId)" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Price: </b> {{item.price | currency:"$"}} 
                      </p>
                      <p class="paragraph" style="font-family: 'Inter', serif;">
                      <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                  </mat-card-content>
              </mat-card>
          </div>

      </div>
      
      
  </div>
  
  
      <app-footer> </app-footer>

</div>






<!-- <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="card card-plain">
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover" >
                            <thead class="text-success">
                                <th>Asset </th>
                                <th> Art Title </th>
                                <th>Artist</th>
                                <th>Issuing Price</th>
                                <th> Symbol</th>

                                <th> Market Type </th>

                            </thead>
                            <tbody *ngFor="let item of this.approved " style="font-size: smaller;">
                                <tr class="Table" (click)="view(item.tokenId)">
                                    <td style="width: 20%;"> <img src={{item.imageUrl}} style="width: 40%; height: 60px;"> </td>
                                    <td> {{item.titleOfWork}} </td>
                                    <td> {{item.artistName}} </td>
                                    <td> {{item.issuingPrice}} </td>
                                    <td> {{item.symbol}} </td>
              
                                    <td *ngIf="item.market === 0"> Primary  </td>
                                    <td *ngIf="item.market === 1"> Secondary </td>
                                    
                                    
                                    
                                </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->