
<div class="mm-page mm-slideout" style="background-color: white; ">
    <ngx-spinner></ngx-spinner>
    <app-navbar></app-navbar>
  
    <div id="container_home">
  
        <div class="container-fluid container-lg container-home" style="height: 100%;">
            
          <p class="text-uppercase small font-weight-medium">
              all artworks
          </p>
          <h2 class="text-uppercase font-weight-light">
              All My Artworks
          </h2>
          <div class="row" style="margin-top: 3rem;">
              <mat-card (click)="view(item.tokenId, 'sellPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.myAssets  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                  <mat-card-content  style="position: relative; ">
                      <img src="{{item.imageUrl}}" class="image">
                      <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                      </p>
                      <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                      </p>
                      
                      
                    </mat-card-content>
              </mat-card>
          </div>
  
        </div>

        <div class="container-fluid container-lg container-home">
                
            <p class="text-uppercase small font-weight-medium">
                other Assets
            </p>
            <h2 class="text-uppercase font-weight-light">
            Other Artworks on the primary market
            </h2>
            <div class="d-flex flex-row flex-nowrap" style=" padding-bottom: 15px; overflow-x: scroll; margin-top: 3rem;">
                <mat-card (click)="view(item.tokenId, 'buyPage')" class="col-3 col-md-3 cover trend" *ngFor="let item of this.primaryMarket  let i=index" style="margin-left: 10px !important; margin-bottom: 5px;">
                    <mat-card-content  style="position: relative; ">
                        <img src="{{item.imageUrl}}" class="image">
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Price: </b> ${{item.price}}
                        </p>
                        <p class="paragraph" style="font-family: 'Playfair Display SC', serif;">
                        <b> Artwork Title: </b> {{item.titleOfWork}}
                        </p>
                        
                        
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

       

        <footer class="d-md-block footer-bottom">
            <div class=" mt-5 pt-4 footer bg-dark  " style="opacity: 0.93;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                About
                            </h4>
                        </div>
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                Terms
                            </h4>
                        </div>
                        <div class="col-xs-6 col-sm-3  ">
                            <h4 class=" d-flex text-light  justify-content-md-start font-weight-normal"> 
                                Contact
                            </h4>
                        </div>
  
                    </div>
  
                </div>
  
            </div>
  
        </footer>


  
  
  
        
  
    </div>
    
    
        
  
  </div>