
 <!--=======================================
                Work Start Here
    ========================================-->

    <div class="work-main how-it-work">
        <div class="container-fluid">
            <div class="wrapper">
                <h3 class="head heading-h3">Frequently Asked Questions</h3>
                <!-- <div class="teb-main">
                    <ul class="tabs">
                        <li class="tab-link-work tab-work1 active" data-tab="work1">
                            <p class="tab-p body-sb">For Creators</p>
                        </li>
                        <li class="tab-link-work tab-work2" data-tab="work2">
                            <p class="tab-p body-sb">For Collectors</p>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="row-work">
                <div id="tab-work1" class="tab-content active">
                    <div class="row row-work-inr">
                        <div class="col-lg-4 col-md-6 col-work-otr" >
                            <div class="col-work-inr box1 mb-3">
                                <div class="icon-otr">
                                    <div class="icon-inr">
                                        <span class="bg-icon"></span>
                                        <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                                    </div>
                                    <h4 class="heading heading-h4">What Is Nifty Row marketplace?</h4>
                                </div>
                                <p class="desc body-m">The Nifty Row marketplace is an NFT marketplace that supports the minting, buying, and selling of NFTs. That means that gas tokens from supported chains fuel all transactions on the Nifty Row platform.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-work-otr" >
                            <div class="col-work-inr box2">
                                <div class="icon-otr">
                                    <div class="icon-inr">
                                        <span class="bg-icon"></span>
                                        <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </div>
                                    <h4 class="heading heading-h4">Is there a beginner guide for the Nifty Row marketplace?</h4>
                                </div>
                                <p class="desc body-m">Yes. Beginners are advised to use the testnet by following this demo guide:
                                  <a href="https://medium.com/@_STEPHENS/nifty-row-nft-marketplace-testnet-demo-guide-e1ba8f96cc8f">Medium Post</a>
                                   </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-work-otr">
                            <div class="col-work-inr box3">
                                <div class="icon-otr">
                                    <div class="icon-inr">
                                        <span class="bg-icon"></span>
                                        <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </div>
                                    <h4 class="heading heading-h4">What wallets can I use on Nifty Row marketplace? </h4>
                                </div>
                                <p class="desc body-m">You can use the following wallets: <br>
                                  MetaMask <br>
                                  WalletConnect
                                </p>
                            </div>
                        </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Marketplace</h4>
                          </div>
                          <p class="desc body-m">What are NFTs? <br>
                            NFTs (Non-fungible Token) are a unique digital asset that acts as a certificate of ownership for Metaverse(physical or virtual) assets like photos, drawings, arts, videos, Tweets, etc..
                            As an artist, by tokenizing your work you both ensure that it is unique and brand it as your work. The actual ownership is blockchain managed.
                            Each NFT is unique and maintained in a digital ledger called a blockchain. </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">How is NFT different from Cryptocurrency? </h4>
                          </div>
                          <p class="desc body-m">Cryptocurrencies can be traded or exchanged for one another and are always equal in value. One Ethereum is equal to another ETH.
                            NFTs are different. Each has a distinct signature that makes it impossible for it to be equal to another.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What does Nifty Row do?</h4>
                          </div>
                          <p class="desc body-m">Nifty Row empowers the art community to leverage blockchain, authenticity, and provenance of artwork while improving time to market.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Marketplace</h4>
                          </div>
                          <p class="desc body-m">What are NFTs?
                            NFTs (Non-fungible Token) are a unique digital asset that acts as a certificate of ownership for Metaverse(physical or virtual) assets like photos, drawings, arts, videos, Tweets, etc..
                            As an artist, by tokenizing your work you both ensure that it is unique and brand it as your work. The actual ownership is blockchain managed.
                            Each NFT is unique and maintained in a digital ledger called a blockchain. </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">How is NFT different from Cryptocurrency? </h4>
                          </div>
                          <p class="desc body-m">Cryptocurrencies can be traded or exchanged for one another and are always equal in value. One Ethereum is equal to another ETH.
                            NFTs are different. Each has a distinct signature that makes it impossible for it to be equal to another.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What does Nifty Row do?</h4>
                          </div>
                          <p class="desc body-m">Nifty Row empowers the art community to leverage blockchain, authenticity, and provenance of artwork while improving time to market.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Does Nifty Row have a token?</h4>
                          </div>
                          <p class="desc body-m">Not at the moment but it will be launched under the NiftyRow DAO.</p>

                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What can I use the Nifty Row token for?</h4>
                          </div>
                          <p class="desc body-m">The Nifty Row token can be used for;
                            Early access to presales <br>
                            Authorized collections <br>
                            Voting on proposals <br>
                            Guaranteed royalties <br>
                            Exclusive access to mint <br>
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Does Nifty Row allow gamers?</h4>
                          </div>
                          <p class="desc body-m">Yes, Nifty Row allows gamers to sell NFTs in the Metaverse.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Does Nifty Row have a community?</h4>
                          </div>
                          <p class="desc body-m">Absolutely. We have a growing community on telegram where you can meet with great people from all over the world.
                            Join us <a href="https://t.me/niftyrow" target="_blank">https://t.me/niftyrow</a> </p></div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What is minting?</h4>
                          </div>
                          <p class="desc body-m">It is the process of creating an NFT and making a token for your work.</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Can I create an NFT on Nifty Row Marketplace?</h4>
                          </div>
                          <p class="desc body-m">Yes, you can.
                            Visit <a href="https://www.niftyrow.io" target="_blank">https://www.niftyrow.io</a> to start creating your NFT.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Can I change the price of an already created NFT?</h4>
                          </div>
                          <p class="desc body-m"> No, you can’t.</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Can I gift or send an NFT to someone?</h4>
                          </div>
                          <p class="desc body-m">No, the feature is not available at the moment.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Does Nifty Row have a Defi Service?</h4>
                          </div>
                          <p class="desc body-m">NYes. Nifty Row will be launching Defi services alongside its Marketplace in a bid to provide qualitative credit, savings, staking, and insurance options to the arts communities that normally wouldn't have access to such financial services.</p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What opportunities does Defi service offer?</h4>
                          </div>
                          <p class="desc body-m">It means an artist is now able to collateralize his or her artwork and then access lower interest loans compared to bank rates in the existing financial world.</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Will artists get royalties from their work?</h4>
                          </div>
                          <p class="desc body-m">Yes, every art creator on Nifty Row marketplace will get royalties for their work.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">How do royalties work?</h4>
                          </div>
                          <p class="desc body-m">Whenever you create a collectible you can set a certain percentage as royalty for secondary sales. As the original content creator, you receive 5 % from this sale.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">I would like to make suggestions</h4>
                          </div>
                          <p class="desc body-m">You can email us at <a href="mailto: NFThelp@niftyrow.com">NFThelp@niftyrow.com</a>

                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Can I report artwork or collectibles?</h4>
                          </div>
                          <p class="desc body-m">Yes, fill the contact form or send us a message at <a href="mailto: ">NFThelp@niftyrow.com</a> </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">How can I check the NFT's authenticity?</h4>
                          </div>
                          <p class="desc body-m">All artworks on the Nifty Row platform can be verified on the blockchain using the token verification link.
                          </p>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box1">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M5 24a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2v16z" fill="#fff"/><path d="M5 8v16a2 2 0 002 2h20a1 1 0 001-1V11a1 1 0 00-1-1H7a2 2 0 01-2-2zm0 0a2 2 0 012-2h17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M22.5 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#fff"/></svg>
                            </div>
                            <h4 class="heading heading-h4">Do you have a mobile version?</h4>
                          </div>
                          <p class="desc body-m">No, we don't have it at the moment.</p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr" >
                        <div class="col-work-inr box2">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M16 16H5.5V6.5a1 1 0 011-1H16V16z" fill="#000"/><path d="M25.5 5.5h-19a1 1 0 00-1 1v19a1 1 0 001 1h19a1 1 0 001-1v-19a1 1 0 00-1-1zM16 5.5v21M26.5 16h-21" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">How is NFT different from Cryptocurrency? </h4>
                          </div>
                          <p class="desc body-m">Cryptocurrencies can be traded or exchanged for one another and are always equal in value. One Ethereum is equal to another ETH.
                            NFTs are different. Each has a distinct signature that makes it impossible for it to be equal to another.
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-work-otr">
                        <div class="col-work-inr box3">
                          <div class="icon-otr">
                            <div class="icon-inr">
                              <span class="bg-icon"></span>
                              <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".2" d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6l1.818 10z" fill="#fff"/><path d="M23 23H8.727L5.24 3.821A1 1 0 004.256 3H2M10 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM23 28a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.818 18h15.695a2 2 0 001.967-1.642L27 8H6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <h4 class="heading heading-h4">What is verification?</h4>
                          </div>
                          <p class="desc body-m">Verified badges are granted to artists (creators) who show enough proof of authenticity and active dedication to the marketplace.
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




