<form  #paymentForm="ngForm">
  <div  style="margin-left: 80px; margin-right: 80px; margin-top: 50px;">
    <input
    placeholder="Full Name"
    [(ngModel)]="fullname"
    id="firstName" 
    name="firstName" 
     />
    <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
      <ngx-stripe-payment [clientSecret]="clientSecret">
      </ngx-stripe-payment>
    </ng-container>
  </div>

  <button (click)="callNodePayment()">Try </button>

  <!-- <flutterwave-make-payment
    [public_key]="publicKey"
    amount='10'
    currency='NGN'
    payment_options="card"
    redirect_url=""
    text="Pay Now"
    [customer]="customerDetails"
    [customizations]="customizations"
    [meta]="meta"
    [tx_ref]="generateReference()"
    (callback)="makePaymentCallback($event)"
    (close)="closedPaymentModal()" >
  </flutterwave-make-payment> -->
</form>
