
<div class="mm-page mm-slideout" style="background-color: white; overflow: hidden;">
  <ngx-spinner></ngx-spinner>
  <app-navbar></app-navbar>
  <div id="container_home">  
    <div class="container-fluid container-lg container-home" style="min-height: 100vh; height: 100%;">      
      <h2 class="text-uppercase font-weight-light">
        All available Artworks
      </h2>
      <p class="text-uppercase small font-weight-medium">
        click on an item for more information
      </p>
      <div class="row" style="margin-top: 3rem; font-family: 'Inter', serif;">   
        <div class="table-responsive">
          <table class="table table-hover" >
            <thead class="text-warning">
              <th>Asset </th>
              <th> Name  </th>
              <th> Title  </th>
              <th>Total </th>
              <th>Price</th>
              <th> Available </th>
              <th>Price</th>
              <th> Symbol</th>     
            </thead>
            <tbody *ngFor="let item of this.assets">
              <tr class="Table" (click)="view(item.tokenId)">
                <td style="width: 6rem; height: 4rem;"> <img src="{{item.imageUrl}}" style="width: 6rem; height: 4rem;">   </td>
                <td>{{item.artistName}}</td>
                <td> {{item.titleOfWork}} </td>
                <td> {{item.totalSupply}} </td>
                <td>  {{item.price | currency:"$"}}</td>
                <td>  {{item.sharesAvailable}}</td>
                <td> {{item.issuingPrice}} </td>
                <td> {{item.symbol}} </td>
                <div  class="modal fade" id="delistModalLong" tabindex="-1" role="dialog" aria-labelledby="delistModalLongTitle" aria-hidden="true" *ngIf="this.sharesRemaining">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Warning!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <div class="row">
                            <p style="margin-left: 20%; margin-right: 29%;"> 
                              Please confirm that you intend to delist this asset from the market even with {{this.remainingShares}} shares still left to be bought on the primary market?
                            </p> 
                          </div>
                        </div>
                        <form>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Reason for delisting this asset:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                          </div>
                        </form>  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                        <button  (click)="delete(item.tokenId, false)"   data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
          <div  class="modal fade" id="listModalLong" tabindex="-1" role="dialog" aria-labelledby="listModalLongTitle" aria-hidden="true" *ngIf="this.sharesRemaining">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="text-align: center !important;">Warning!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="row">
                      <p style="margin-left: 20%; margin-right: 29%;"> 
                        Please confirm that you intend to list this asset on the secondary market even with {{this.remainingShares}} shares still left to be bought on the primary market?
                      </p> 
                    </div>    
                  </div>    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 50%; background-color: red; border-color: transparent;">Cancel</button>
                  <button (click)="changeMarket()"  data-dismiss="modal" type="submit" class="btn btn-primary" style="background-color: green; border-color: transparent;">Confirm</button>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>    
  <app-footer></app-footer>
</div>

